 <div class="header"> <!-- top row -->
    <h2 class="title">
        <a href="#"><i class="fa fa-minus-square"></i></a>
        {{nameAccount}}
        <span>Cuenta</span>
    </h2>
    <div class="payment-actions">
        <div>
            <div>
                <p class="amount">{{min_payment}}</p>
                <button class="blue">Pago mínimo</button>
            </div>
            <div>
                <p class="amount">{{not_interest_payment}}</p>
                <button class="blue">Pago para no <span class="block">generar intereses</span></button>
            </div>
            <div>
                <p class="amount">{{total_payment}}</p>
                <button class="blue">Pago total</button>
            </div>
        </div>
    </div>
    <a href="#"><i class="fa fa-file-pdf-o"></i>Estados <span>de cuenta</span></a>
</div> <!-- ends top row -->
<!-- =============================================================== -->
<div class="box"> <!-- expended box -->
    <ul>
        <li>Fecha de corte:         <span>{{cut_date}}</span></li>
        <li>Fecha l&iacute;mite de pago:   <span>{{limit_date_payment}}</span></li>
        <li>L&iacute;mite de pago:         <span class="amount">{{limit_payment}}}</span></li>
        <li>Saldo al corte:         <span class="amount">{{cut_date_balance}}</span></li>
    </ul>
    <ul>
        <li>Saldo actual:                   <span class="amount">{{actual_balance}}</span></li>
        <li>Pago para no generar intereses: <span class="amount">{{not_interest_payment}}</span></li>
        <li>Saldo vencido:                  <span class="amount">{{due_balance}}</span></li>
        <li>L&iacute;mite de cr&eacute;dito:<span class="amount">{{credit_limit}}</span></li>
        <li>Crédito disponible:             <span class="amount">{{credit_available}}</span></li>
    </ul>
</div> <!-- box ends -->
