<div>
    <div class="header statement" ng-click="back()">
        <a><div class="back-arrow pull-left cursor-pointer"></div><i class="ico-estados"></i>Estados de cuenta<span>{{activeAccountName}}</span></a>
    </div> 
    <hr class="statement-hr">
    <div class="filter pull-left date-filter">
        <div class="inline full-width">
            <h4>Filtra tu b&uacute;squeda por a&ntilde;o o por mes</h4>
            <div class="dropdown pull-right" ng-class="month ? 'selected' : ''">
                <ul class="dropdown-menu" role="menu" ng-model="month">
                    <li ng-repeat="month in months">{{month.label}}</li>
                </ul>
            </div>
            <div class="select-style pull-right" ng-class="month ? 'selected' : ''">
                <span>Mes</span>
                <select ng-model="month" ng-options="opt as opt.label for opt in months">
                   <option value='' disabled>Mes</option>
                </select> 
            </div>
            <div class="select-style pull-right" ng-class="year ? 'selected' : ''">
                <span>A&ntilde;o</span>
                <select ng-model="year" ng-options="opt as opt.label for opt in years">
                   <option value='' disabled>Año</option>
                </select> 
            </div>
        </div>
    </div>
    <div class="transactions pull-left">    
        <table class="details">
            <thead>
                <tr>
                    <th scope="col" colspan="3" class="text-left">{{year.label}}</th>
                </tr>
            </thead>
            <tbody>
                    <tr ng-repeat="statement in statements | filter:year.value | filter:month.value">
                        <td><i class="ico-estados"></i>{{statement.date}}</td>
                        <td><a target="_blank" href="#" ng-href="{{getStatementUrl(statement.id, 'PDF');}}">Descargar PDF</a></td>
                        <td><a target="_blank" href="#" ng-href="{{getStatementUrl(statement.id, 'XML');}}">Descargar XML</a></td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>
