<!-- =============================================================== -->
<form class="search">
    <input type="search" name="movements" id="movements" placeholder="Buscar movimientos">
    <button type="submit"><i class="fa fa-search"></i><span>Buscar</span></button>
</form>
<!-- =============================================================== -->
<div class="transactions">
    <div class="filter">
        <span>Ver por:</span>
        <div class="double-btn">
            <button class="orange">Periodo actual</button>
            <button class="blue">Periodo anterior</button>
        </div>
        <a href="#" class="help"><i class="fa fa-question-circle"></i><span>Ayuda</span></a>
    </div>
    <table class="details">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">N. de autorizaci&oacute;n</th>
                <th scope="col">Descripci&oacute;n</th>
                <th scope="col">Tipo de operaci&oacute;n</th>
                <th scope="col">Monto</th>
            </tr>
        </thead>
        <tbody>
            <tr class="year"><td>2014</td><td></td><td></td><td></td><td></td></tr>
            <tr ng-repeat="trans in creditCardTransactions">
                <td>{{trans.transactionDate | date:'dd-MM-yyyy' }}</td>
                <td>{{trans.authorizationNumber}}</td>
                <td>{{trans.transactionDescription}}</td>
                <td>{{trans.code}}</td>
                <td>{{trans.amount}}</td>
            </tr>
        </tbody>
    </table>
</div>
