<!-- =============================================================== -->
<form class="search">
    <input type="search" name="movements" id="movements" ng-model="busqueda" placeholder="Buscar movimientos">
    <button type="submit"><i class="ico-search"></i><span>Buscar</span></button>
</form>
<!-- =============================================================== -->
<div class="transactions">
    <div class="filter">
        <span>Ver por:</span>
        <div class="double-btn">
            <button ng-class="{selected: !previousPeriod}" ng-click="getTransactions(false)">Periodo actual</button>
            <button ng-class="{selected: previousPeriod}" ng-click="getTransactions(true)">Periodo anterior</button>
        </div>
        <a href="#" class="help"><i class="ico-question-circle"></i><span>Ayuda</span></a>
    </div>
    <table class="details">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">N. de autorizaci&oacute;n</th>
                <th scope="col">Descripci&oacute;n</th>
                <th scope="col">Tipo de operaci&oacute;n</th>
                <th scope="col">Monto</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="trans in creditCardTransactions | filter:busqueda">
                <td>{{trans.transactionDate | date:'dd-MM-yyyy' }}</td>
                <td>{{trans.authorizationNumber}}</td>
                <td>{{trans.transactionDescription}}</td>
                <td>{{trans.code}}</td>
                <td>{{trans.amount | currency}}</td>
            </tr>
        </tbody>
    </table>
</div>
