<!-- =============================================================== -->
<form class="search">
    <input type="search" name="movements" id="movements" placeholder="Buscar movimientos">
    <button type="submit"><i class="fa fa-search"></i><span>Buscar</span></button>
</form>
<!-- =============================================================== -->
<div class="transactions">
    <div class="filter">
        <span>Ver por:</span>
        <div class="double-btn">
            <button class="orange">Periodo actual</button>
            <button class="blue">Periodo anterior</button>
        </div>
        <a href="#" class="help"><i class="fa fa-question-circle"></i><span>Ayuda</span></a>
    </div>
    <table class="details">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">N. de autorización</th>
                <th scope="col">Descripción</th>
                <th scope="col">Tipo de operación</th>
                <th scope="col">Monto</th>
            </tr>
        </thead>
        <tbody>
            <tr class="year"><td>2014</td><td></td><td></td><td></td><td></td></tr>
            <tr>
                <td><span>sep</span><span>18</span></td>
                <td>001</td>
                <td>Palacio de Hierro</td>
                <td>Pago</td>
                <td>25,000.00</td>
            </tr>
            <tr>
                <td><span>sep</span><span>18</span></td>
                <td>002</td>
                <td>American Express</td>
                <td>Retiro</td>
                <td>54,000.00</td>
            </tr>
            <tr>
                <td><span>sep</span><span>18</span></td>
                <td>003</td>
                <td>Tiempo aire Josefina</td>
                <td>Pago</td>
                <td>300.00</td>
            </tr>
            <tr>
                <td><span>sep</span><span>18</span></td>
                <td>004</td>
                <td>Martí</td>
                <td>Pago</td>
                <td>5,000.00</td>
            </tr>
            <tr>
                <td><span>sep</span><span>18</span></td>
                <td>005</td>
                <td>Starbucks</td>
                <td>Pago</td>
                <td>250.00</td>
            </tr>
        </tbody>
    </table>
</div>
