<div ng-include="'views/partials/main-header.html'"></div>

<div class="content">
	<div class="container">
		<div class="col-md-12">
			<h3>Cuentas CLABE</h3>
				
				<div class="col-md-12 box">
					<div class="row">
						<div class="col-md-4 span1">
							<div class="row">
							<p>Cheques: <span>mxn ***456</span></p>
							</div>
						</div>
						<div class="col-md-4 span2">
							<p>Clabe: <span>123456789012345678</span></p>
						</div>
						<div class="col-md-4 span3">
							<a class= "btn btn-info btn-sm"> Copiar </a>
						</div>
					</div>
				</div>

				<div class="col-md-12 box">
					<div class="row">
						<div class="col-md-4 span1">
							<div class="row">
							<p>Cheques: <span>mxn ***456</span></p>
							</div>
						</div>
						<div class="col-md-4 span2">
							<p>Clabe: <span>123456789012345678</span></p>
						</div>
						<div class="col-md-4 span3">
							<a class= "btn btn-info btn-sm"> Copiar </a>
						</div>
					</div>
				</div>

				<div class="col-md-12 box">
					<div class="row">
						<div class="col-md-4 span1">
							<div class="row">
							<p>Cheques: <span>mxn ***456</span></p>
							</div>
						</div>
						<div class="col-md-4 span2">
							<p>Clabe: <span>123456789012345678</span></p>
						</div>
						<div class="col-md-4 span3">
							<a class= "btn btn-info btn-sm"> Copiar </a>
						</div>
					</div>
				</div>
			
		</div>
	</div>
</div>

<div ng-include="'views/partials/main-footer.html'"></div>
