<div class="right-section" >
  	<form name="myForm" ng-submit="confirmCard()" novalidate>
  		<div ng-show="myForm.$valid">
			<div class="submenu-blue transfer">
			  	<div class="col-md-12">
			  		<div class="col-md-6">
						<button class="btn btn-sm btn-primary" type="submit"><span class="glyphicon glyphicon-check">Autorizar</span></button>
					</div>
					<div class="col-md-6">
				 		<a ng-click="close()" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-remove alose-button">Cancelar</span></a>
				 	</div>
				</div>
		  </div>
		</div><!--end ng-show-->
  		<div ng-hide="myForm.$valid">
		  <div class="submenu-blue">
		    <h5>Da de alta una tarjeta: 
		      <span ng-click="close()" class="glyphicon glyphicon-remove pull-right alose-button"></span>
		    </h5>
		  </div>				
		</div><!--end ng-hide-->
	  <div class="side-block">
	  	<p>Nombre:</p>
	  	<input type="text" name="nombre" class="form-control input-normal" ng-model="benef.name" ng-pristine ng-invalid required>
	  	<br>
	  	<p>Tarjeta de Cr&eacute;dito / Departamental:</p>
	  	<input type="text" name="clabe" class="form-control input-normal" placeholder="Banamex / Bancomer / Transfer" ng-model="benef.card" ng-pristine ng-invalid required>
	  	<br>
	  	<p>Importe m&aacute;ximo:</p>
	  	<input type="number" name="importe" class="form-control input-normal" ng-model="benef.amount" min="0" ng-pristine ng-invalid required>
	</form>
</div>