<div ng-include="'views/partials/main-header.html'"></div>
  <div class="content">
    <div class="container">
      <div class="title text-center">
        <h1>Administraci&oacute;n de Chequeras</h1>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-12">
        <div class="row" ng-repeat="cuenta in check_accounts" >
            <div class="checks noback row-fluid">
              <div class="col-md-4 img">
                <img src="/images/cheque.png" alt="CHEQUERA" ng-if="cuenta.checks_enabled==true">
                <img src="/images/cheque_des.png" alt="CHEQUERA" ng-if="cuenta.checks_enabled==false">
                <br /><br />
                <button class="btn btn-sm btn-warning" ng-if="cuenta.checks_enabled==true">Inscribir a Chequera Protegida</button>
                <button class="btn btn-default btn-sm" ng-if="cuenta.checks_enabled==false">Inscribir a Chequera Protegida</button>
              </div>
              <div class="col-md-6 col-md-offset-1">
                <div class="row">
                  <h2 class="pull-left">Chequera Cuenta <b>{{cuenta.account_subtype}}</b>: <span>***{{cuenta.last_digits}}</span></h2>
                  <button class="btn btn-primary btn-sm pull-right" ng-if="cuenta.checks_enabled==false">Solicitar Chequera</button>
                </div>
                <div class="row">
                  <div class="col-md-10">
                  <table class="table" ng-if="cuenta.last_checks.length>0">
                    <thead>
                      <tr>
                        <td class="cheque">Cheque</td>
                        <td>Estatus</td>
                        <td class="importe">Importe</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="check in cuenta.last_checks" >
                        <td>34</td>
                        <td class="estatus_ok" ng-if="check.check_state=='Liberado'">Liberado</td>
                        <td class="estatus_error" ng-if="check.check_state=='Rechazado'">Rechazado</td>
                        <td class="importe">$14,201.00</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                  <div class="col-md-2">

                  <div class="span1 pull-right" ng-if="cuenta.checks_enabled==true">
                    <span class="glyphicon glyphicon-ok"></span>
                    <p>
                    <b>{{cuenta.approved_checks}}</b><br />liberados
                    </p>
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    <p>
                    <b>{{cuenta.rejected_checks}}</b><br />rechazados
                    </p>
                  </div>
                </div>

                </div>
              </div>
            </div><br />
          </div>
        </div>
    </div>
   </div>
  </div>
  <div ng-include="'views/partials/main-footer.html'"></div>
