<div ng-include="'views/partials/main-header.html'"></div>

<div class="content">
  <div class="container">

        <div class="col-md-12 titleCard"> Configuraci&oacute;n </div>

        <div class="col-md-5 marging ">     
          <div class="col-md-12" >
              <div class="row borderDown box-center">
               NUEVA CLAVE
              </div>
              <div class="row ">
                <div class="col-md-12">
                  <input type="text" class="input-box span12"  placeholder="nueva clave" />  
                <br> <br>
                <button type="button" class="btn btn-primary">Guardar Cambios</button>  </div>
              </div>
          </div>
        </div>

        <div class="col-md-2"></div><!--Espacio entre ambas cajas-->

        <div class="col-md-5 marging ">     
          <div class="col-md-12" >
              <div class="row borderDown  box-center">
                 CAMBIAR CORREO
                </div>
                <div class="row ">
                  <div class="col-md-12">
                    <input type="email" class="input-box span12 ng-pristine ng-invalid"  placeholder="correo@electronico"/>  
                    <br> <br>
                    <button type="button" class="btn btn-primary">Guardar Cambios</button>
                  </div>
                </div>
          </div>
        </div>
    
        <div class="col-md-12 box-center space"> ¿Cambio de domicilio o informaci&oacute;n personal? <br>Llame al centro de atención telef&oacute;nica. </div>      
      
        <div class="col-md-3">
           <div class="margingConf"> De la ciudad de M&eacute;xico</div>
           <div class="margingConf1">1-BANAMEX (1-226 2639) <br> BANAMEX-1 (226 2639-1)</div>
        </div>
    
        <div></div>
      
        <div class="col-md-3">
           <div class="margingConf"> Del interior sin costo</div>
           <div class="margingConf1">01 800 021 2345 </div>
        </div>
       
        <div></div>
      
        <div class="col-md-3">
           <div class="margingConf">EUA y Canad&aacute;</div>
           <div class="margingConf1"> 1 800 BANAMEX <br> 1 800 226 2639  </div>
        </div>
       
       <div></div>
       
        <div class="col-md-3">
           <div class="margingConf">De otro Pa&iacute;s por cobrar a EUA</div>
           <div class="margingConf1">1636 722 6799 </div>
        </div>        
    </div><!--End container -->
  </div><!--End content-->
<div ng-include="'views/partials/main-footer.html'"></div>
