<div class="header">
  <div class="status-navbar">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          Lunes 30 de Abril de 2012, 15:55:32 Centro de México | Último acceso por Bancanet: 10/12/11 a las 23:34:54
        </div>
        <div class="col-md-4">
          <span class="pull-right">
            Tour | Contáctanos | Sucursales | www.banamex.com
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar main-menu" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

        </button>
        <a class="bank-logo" href="#"></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Cuentas</a></li>
          <li><a href="#">Inversiones</a></li>
          <li><a href="#">Afore</a></li>
          <li><a href="#">Impuestos</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <div class="btn-group">  
              <button type="button" class="btn btn-info btn-sm ">Jonh Doe</button>
              <button type="button" class="btn btn-info btn-sm  dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#"><font color="blue">Cuentas Clave </font></a></li>
              <li class="divider"></li>
                <li><a href="#"><font color="blue"> Contratos </font></a></li>
                <li class="divider"></li>
                <li><a href="#"><font color="blue">Administración de Tarjetas</font></a></li>
                <li class="divider"></li>
                <li><a href="#"><font color="blue">Administración de Chequeras</font></a></li>
              </ul>
             <button ng-controller="LoginCtrl" class="btn btn-logout" ng-click="logout()">Cerrar sesión</button> 
            </div>
        </ul>
      </div>
    </div>
  </div>
  <div>
    {{errorMessage}}
  </div>
</div>

