<div class="right-section">

  <div class="submenu-blue">
    <h5>Traspaso
      <span ng-click="close()" class="glyphicon glyphicon-remove pull-right alose-button"></span>
    </h5>
  </div>

  <div class="side-block">
    <span class="pull-right">
      <button class="btn btn-default" type="submit">
        &nbsp;
        <span class="glyphicon glyphicon-user"></span>
        <span class="glyphicon glyphicon-plus"></span>
        &nbsp;
      </button>
    </span>
    <p>Da de alta un beneficiario</p>
    <br />
  </div>

  <p>
    Cuenta de depósito:
  </p>

  <select class="form-control" ng-model="beneficiary.current" ng-options="a.alias + ' - ' + a.currency + ' - ' + a.lastdigits for a in beneficiaries" ng-change="updateTransfer()">
    <option data-icon="icon-calendar" value="">Seleccione una cuenta</option>
  </select>
</div>
