<div class="right-section">

  <div ng-show="token">
    <div class="submenu-yellow">
      <h5>
        <span class="glyphicon glyphicon-phone pull-left"></span>
        &nbsp
        Teléfono no disponible
        <span ng-click="close()" class="glyphicon glyphicon-remove pull-right close-button"></span>
      </h5>
    </div>

    <div class="yellow-message">
      <p>Ingresa manualmente tu clave dinámica</p>
      <div class="row">
        <div class="col-md-8">
          <div class="input-group">
            <span class="input-group-addon">23456789</span>
            <input type="password" class="form-control"/>
          </div>
        </div>
        <div class="col-md-4 pull-right">
          <button ng-click="applyTransferPayment()" type="button" class="btn btn-info">Confirmar</button>
        </div>
      </div>

    </div>
  </div>

  <div ng-show="!token">
    <div class="submenu-yellow">
      <h5>
        <span class="glyphicon glyphicon-phone pull-left"></span>
        &nbsp
        Obteniendo token
        <span ng-click="close()" class="glyphicon glyphicon-remove pull-right close-button"></span>
      </h5>
    </div>

    <div class="yellow-message">
      <img class="pull-right" src="/images/orange-ajax-loader.gif">
      <p>Se ha enviado una solicitud de autorización a su dispositivo móvil, favor de aprobarla</p>
    </div>
  </div> 

  <div class="side-block">
    <p>Cuenta de depósito</p>
    <br />
    <select class="form-control" ng-model="beneficiary.current" ng-options="a.alias + ' - ' + a.currency + ' - ' + a.lastdigits for a in beneficiaries" ng-change="updateTransfer()">
      <option data-icon="icon-calendar" value="">Seleccione una cuenta</option>
    </select>

  </div>

  <div class="side-block">
    <div class="row">
      <div class="col-md-8">
        <p>Importe:</p>
        <input type="text" class="form-control input-sm" placeholder="Monto" ng-model="transfer.amount">
      </div>
      <div class="col-md-4">
        <p>
        <span class="glyphicon glyphicon-calendar"></span>
        Fecha:
        </p>

        <input type="text" class="form-control input-sm" placeholder="Fecha" ng-model="transfer.date">
      </div>
    </div>
  </div>

  <div class="side-block">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>
            <input type="checkbox" ng-model="transfer.sendmail"/> Notificar al beneficiario
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="side-block" ng-show="transfer.sendmail">
    <div class="row">
      <div class="col-md-12">
        <p>Mensaje:</p>
        <textarea class="form-control input-sm" rows="4" ng-model="transfer.message">
      </div>
    </div>
  </div>


</div>
