$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

body, html, #mainDiv {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f2f3f3;
}

.login_back {
    background: black url("/images/bg_hme.jpg") center center no-repeat;
    background-size: cover;
    height: 100%;

    .home_header {
        color: #FFF;

        p {
            margin-top: 20px;
        }

        a, a:hover {
            margin-top: 5px;
            color: #FFF;
            background:none!important;
        }
    }

    .logo {
        background: url("/images/logo.png");
        background-size: cover;
        height: 50px;
        margin: 0 auto 10px auto;
        width: 222px;
    }

    .login-form {
        background: #FFF;
        margin-top: 80px;
        padding: 30px;
        width: 300px;
        text-align: center;
        color: #999;

        p {
            font-size: 18px;
            margin-top: 30px;
            margin-bottom: 16px;
        }

        input {
            border: none;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            padding: 10px 0px 15px 0px;
            width: 80%;

        }

        .border {
            font-size: 16px;
            border-bottom: 1px solid #bdbdbd;
            width: 100%;

            .btn_login {
                background: url("/images/btn_login.png") no-repeat;
                width: 25px;
                height: 25px;
                border: none;
                margin-top: 2px;
            }
        }

        input[type="checkbox"] {
            width: 12px!important;
            height: 12px!important;
            float: none;
        }

        .registration {
            border-top: 1px solid #bdbdbd;
            margin-top: 20px;
            margin-left: -30px;
            padding-top: 20px;
            width: 300px;
        }
    }

    .rounded {
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
    }

    .shadow {
        -webkit-box-shadow: 0 0 20px 0 #6f6f6f;
        box-shadow: 0 0 20px 0 #6f6f6f;
    }
    .home_footer {
        color: #FFF;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 11px;

        .logo {
            background: url("/images/logo_foot.png") no-repeat;
            width: 28px;
            height: 28px;
        }

        a, a:hover {
            color: #FFF;
        }
    }
}

.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    .main-menu .nav .dropdown-menu li a{
        color: black !important;
    }
}

.status-navbar {
    background: #000;
    color: #FFF;
    font-size: 11px;
    padding: 3px 0;
}

.main-menu {
    background: #4dc1dc url(/images/header_bg.png);
    width: auto;
    height: 50px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;

    .bank-logo {
        background: url(/images/bank_logo.png) 0 0px no-repeat !important;
        width: 189px;
        height: 50px;
        display: block;
        float: left;
        margin-right: 10px;
        text-decoration: none;
        border: none !important;
    }

    .nav li {
        margin: 14px 20px 0 15px !important;
        font-size: 12px;
        color: #FFF;

    }

    .nav li.active {
        font-size: 13px;
        font-weight: bold;
    }

    .nav a {
        padding: 0!important;
        color: #FFF!important;
    }

    .nav a:hover {
        color: #FFF!important;
        background: none!important;
    }

    .btn-logout {
        color: #FFF;
        font-size: 12px;
        background: #ea9e17;
        margin-top: -5px;
    }

    .btn-logout:hover {
        background: #e78007;
    }
}

.content > .container {
    padding: 62px 0;
}

.title h1 {
    color: #5b5b5b;
    font-size: 22px;
    padding-top: 5px;
}

.btn-alert {
    margin: 20px 30px 0 0;
}

.account {
    padding: 0;
    margin: 10px 0;
    background: #FFF;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    font-size: 12px;
    font-family: Arial, sans-serif;
    line-height: 25px;

    img {
        width: auto;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        font-size: 18px;
        color: #00559c;
        text-align: center;
        font-weight: bold;
    }

    .date-section {
        margin: 0 0px;
        padding: 5px 5px;
        color: #000;
        background: #fafafa;
    }

    .amounts-section {
        border-top: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
        padding: 5px 10px 0px 10px;
        color: #979797;
        margin-bottom: 10px;
        height: 145px;

        .amount {
            font-size: 14px;
            font-weight: bold;
        }

        .available {
            color: #00ab82;
        }

        .available-amount {
            color: #000;
            font-size: 14px;
            font-weight: bold;
        }

    }

    .buttons {
        padding: 0 10px;
        text-align: center;
        height: 40px;
    }
}

.banner {
    margin: 10px 0px;
}

.tools {
    padding: 20px;
    margin: 10px 0;
    background: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-family: Arial, sans-serif;

    .row {
        margin: 0 0 10px 0;
    }

    .download-text {
        font-size: 24px;
        color: #5b5b5b;
    }


    .tip-text {
        color: #999999;
    }

    .iphone-tip {
        background: url(/images/iphone_icon.png) no-repeat;
        margin: -5px 0 0 -10px;
        width: 50px;
        height: 50px;
        display: block;
    }

    .lock-tip {
        background: url(/images/lock_icon.png) no-repeat;
        margin: -5px 0 0 -10px;
        width: 50px;
        height: 50px;
        display: block;
    }

    .ticket-tip {
        background: url(/images/ticket_icon.png) no-repeat;
        margin: -5px 0 0 -10px;
        width: 50px;
        height: 50px;
        display: block;
    }
}

.footer {
    background: #FFFFFF;
    color: #999999;
    font-size: 11px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding: 10px 0;
    font-family: Arial, sans-serif;

    a, a:hover {
        margin-left: 30px;
        color: #999999;
    }

}


.account-header {
    top: 70px;
    background-color: #f2f3f3;
    position: fixed;
    z-index: 999;
    width: 100%;

    .account-name {
        padding: 8px 0 0 60px
    }

    .last-digits {
        color: #999999;
    }

    h4 {
        font-size: 24px;
    }

    p {
        color: #5b5b5b;
        margin-top: -5px;
        font-size: 14px;
    }

    .small {
      margin-top: 10px;
      margin-right: 10px;
      height: 40px;
      width: 60px;
      float: left;
    }

}

.left-inner-addon {
  position: relative;
  margin-top: 5px;

  input {
    padding-left: 30px;
  }

  i {
    position: absolute;
    padding: 8px 12px;
    pointer-events: none;
  }
}

.account-menu {
    top: 140px;
    background-color: #EDEDED;
    position: fixed;
    z-index: 900;
    width: 100%;

    .account-menu-buttons {
        margin-top: 7px;

        h5 {
            float: left;
            font-size: 12px;
            color: #6b6b6b;
            margin-right: 10px;
        }
        .btn-group {
            float: left;
        }

        .btn-default {
            border: 1px solid #DEDEDE;
            background-color: #F3F3F3;
        }

        .btn-default:hover {
            background-color: #EDEDED;
        }
    }
}

.right-section-default {
  position: fixed;
  width: 30%;
  top: 200px;
}

.right-section {
  position: fixed;
  width: 30%;
  top: 140px;
  z-index: 901;

  .close-button {
    cursor: pointer;
  }

  .submenu-blue {
    background-color: #05589d;
    padding: 2px 20px;
    color: #FFF;
  }

  .submenu-yellow {
    background-color: #FC992E;
    padding: 2px 20px;
    color: #FFF;
  }

  .yellow-message {
    background-color: #FFECCC;
    padding: 20px 20px;

    img {
      margin: 0 10px 0 20px;
    }
  }

  .submenu-green {
    background-color: #08D4A5;
    padding: 2px 20px;
    color: #FFF;
  }

  .green-message {
    background-color: #E6FBF6;
    padding: 20px 20px;
  }

  .submenu-gray {
    background-color: #F9F9F9;
    padding: 2px 20px;
    color: #000000;
  }

  .white-message {
    background-color: #FFFFFF;
    padding: 20px 20px;

    .row {
      margin: 5px 0;
      padding: 5px 0;
      border-bottom: 1px solid #DEDEDE;
    }
  }

  .remove-service {
    margin-top: 15px;
  }

  .side-block {
    margin: 5px 0px;
    padding: 5px 0px;
    border-bottom: 1px solid #DEDEDE;

    .row {
      margin-bottom: 10px;
    }
  }


}

.transactions {
    padding-top: 220px;
    color: #666666;
    margin-bottom: 100px;

    .transaction {
        padding: 8px 25px 13px 17px;
        line-height: 40px;
        font-size: 16px;
        cursor: pointer;

        p {
            font-size: 10px;
            margin-top: 5px;
            line-height: 10px;
            color: #999999;
        }

        h5 {
            margin-bottom: 0px;
            line-height: 16px;
            color: #999999;
        }

        .category {
            font-size: 12px;
            color: #999999;
        }

    }

    .transaction-odd {
        background: #F4F7FA;
    }

    .selected {
      background-color: #DEDEDE;
    }

    .detail-header {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #DEDEDE;
    }

    .amount {
            font-size: 16px;
        }

    .last-services {
      background-color: #FFF;
      padding: 20px 15px 0 15px;
      border-top: 1px solid #DEDEDE;
      border-bottom: 1px solid #DEDEDE;
    }

    .services {
      padding: 20px 15px 0 15px;
    }

    .btn-success {
      background-color: #0bd5a5;
      border-color: #0bd5a5;
    }
}

.savings {
  background-image: url("/images/accounts/cuenta_savings.png");
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  height:140px;
  display: block;
}

.checks {
  background-image: url("/images/accounts/cuenta_checks.png");
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  height:140px;
  display: block;
}

.credit_card {
  background-image: url("/images/accounts/cuenta_credit_card.png");
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  height:140px;
  display: block;
}

.debit_card {
  background-image: url("/images/accounts/cuenta_debit_card.png");
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  height:140px;
  display: block;
}

//Styles made from developers
.borderDown{
    border-bottom:1px solid #bbb;
    margin-top:35px;
    margin-bottom:25px;
}
.titleCard{
   text-align: center;
   color: #01A9DB;
   font-size: 25px;
   margin-top:20px;
   padding:10px;
   border-bottom: 1px solid #cccccc;
}
.space{
 margin-bottom: 20px;
}

.account-header{
    z-index:1;
}

.box{
border:1px solid #ccc;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;overflow:hidden;clear:both;background:#e6e8e7;margin:10px 0;
    .col-md-4{
            padding-top:5px;
            padding-bottom:5px;
            height:40px;
    }
}

.box .col-md-4 p{
    text-align:center;
    color: rgb(58, 151, 210);
    text-transform: uppercase;
    padding-top: 5px;
    span{
        color: #666;
    }
}

.span1{
border-right: 1px solid #ccc;
background-color: #e0ddd2;
}
.span2{
border-right: 1px solid #ccc;
// needs latest Compass, add '@import "compass"' to your scss
background-color: #cecbc0;
}
.span3{
background-color: #bab7ab;
    text-align: center;
}
