/*
|-------------------------------------------------------------------------------------
|	Main
|-------------------------------------------------------------------------------------
*/
main {
	padding:0;
	width: 100%;
	position: absolute;
	top:118px;
	bottom:30px;
	left:0;
}
/*
|-------------------------------------------------------------------------------------
|	Overrided to use the full height of the body
|-------------------------------------------------------------------------------------
*/
body {
    .ng-scope:first-child {
        height: 100%;
    }
}
/*
|-------------------------------------------------------------------------------------
|	Wrapper
|-------------------------------------------------------------------------------------
*/
.wrapper {
	@include clearfix();
	width: $fullWidth;
	margin: auto;
	//position: relative;
}







