/*
|-------------------------------------------------------------------------------------
|	Main
|-------------------------------------------------------------------------------------
*/
main {
	padding-top: 20px;
}
/*
|-------------------------------------------------------------------------------------
|	Wrapper
|-------------------------------------------------------------------------------------
*/
.wrapper {
	@include clearfix();
	width: $fullWidth;
	margin: auto;
	position: relative;
}







