/*
|-------------------------------------------------------------------------------------
|	Main
|-------------------------------------------------------------------------------------
*/
main {
	padding-top: 20px;
}
/*
|-------------------------------------------------------------------------------------
|	Overrided to use the full height of the body
|-------------------------------------------------------------------------------------
*/
body {
    .ng-scope:first-child {
        height: 100%;
    }
}
/*
|-------------------------------------------------------------------------------------
|	Wrapper
|-------------------------------------------------------------------------------------
*/
.wrapper {
	@include clearfix();
	width: $fullWidth;
	margin: auto;
	position: relative;
}







