<div class="header small">
    <h2 class="title">
        <a ng-click='showAccountHeader = !showAccountHeader'><i ng-class="showAccountHeader ? 'ico-menos' : 'ico-mas'"></i></a>
        {{activeAccountName}}
    </h2>
    <div class="payment-actions">
        <div>
            <div>
                <p class="amount">{{accountDetail.saldoDisponible | currency}}</p>
                <span>Saldo disponible</span>
            </div>
        </div>
    </div>
    <a ng-click='getStatements()' class="cursor-pointer"><i class="ico-estados"></i>Estados <span>de cuenta</span></a>
</div>
<hr ng-show='!showAccountHeader'>
<div class="box" ng-show='showAccountHeader'>
    <ul>
      <li>Nombre del cliente: <span>{{accountDetail.nombreCliente}}</span></li>
      <li>Moneda: <span>{{accountDetail.monedaCuenta}}</span></li>
      <li>Saldo disponible: <span class="amount">{{accountDetail.signoSaldoDisponibleCuenta}} {{accountDetail.saldoDisponible | currency}}</span></li>
      <li>Estado de la cuenta: <span>{{accountDetail.estatusCuenta}}</span></li>
      <li>Fecha de apertura: <span>{{accountDetail.fechaApertura | date: 'dd-MM-yyyy'}}</span></li>
    </ul>
    <ul>
      <li>Saldo subcuenta: <span class="amount">{{accountDetail.signoSaldoSbc}} {{accountDetail.saldoSbcCuenta | currency}}</span></li>
      <li>Saldo inicio del d&iacute;a: <span class="amount">{{accountDetail.signoSaldoInicioDia}} {{accountDetail.saldoInicioDiaCuenta | currency}}</span></li>
      <li>Saldo libros: <span class="amount">{{accountDetail.signoSaldoLibros}} {{accountDetail.saldoLibroCuenta | currency}}</span></li>
      <li>Saldo retenido: <span class="amount">{{accountDetail.signoSaldoRetenido}} {{accountDetail.saldoRetenidoCuenta | currency}}</span></li>
      <li>Fecha de consulta: <span>{{accountDetail.fechaConsulta | date: 'dd-MM-yyyy'}}</span></li>
    </ul>
</div>
