<form class="search">
    <button type="submit"><i class="ico-search"></i></button>
    <input type="search" ng-model="busqueda" placeholder="Buscar movimientos">
    <div class="filter">
        <div>
            <span>Fecha inicial:</span>
            <input type="text" ng-model="searchParams.date_start" ng-change="search()" maxlength="10" jqdatepicker>
        </div>
        <div>
            <span>Fecha final:</span>
            <input type="text" ng-model="searchParams.date_end" ng-change="search()" maxlength="10" jqdatepicker>
        </div>
    </div>
</form>
<div class="transactions">
    <table class="details">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">N. de autorizaci&oacute;n</th>
                <th scope="col">Descripci&oacute;n</th>
                <th scope="col">Tipo de operaci&oacute;n</th>
                <th scope="col">Monto</th>
            </tr>
        </thead>
        <tbody>
            <tr class="year"><td>2014</td><td></td><td></td><td></td><td></td></tr>
                <tr ng-repeat="trans in accountTransactions | filter:busqueda">
                    <td>{{trans.movementDate | date:'dd-MM-yyyy' }}</td>
                    <td>{{trans._transaction_id}}</td>
                    <td>{{trans.description}}</td>
                    <td>{{trans.operationType}}</td>
                    <td>{{trans.amount | currency}}</td>
                </tr>
        </tbody>
