<!-- =============================================================== -->
<form class="search">
    <input type="search" name="movements" id="movements" placeholder="Buscar movimientos">
    <button type="submit"><i class="ico-search"></i><span>Buscar</span></button>
</form>
<!-- =============================================================== -->
<div class="transactions">
    <div class="filter">
        <div class="inline"><!--CUENTA-->
            <p>Fecha inicial:
            <input type="date" ng-model="date_start"><i></i></p>
            <p>Fecha final:
            <input type="date" ng-model="date_end"><i></i></p>
            <button class="orange" ng-click="getTransactions(date_start, date_end)">Buscar</button>
        </div>
    </div>
    <table class="details">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">N. de autorizaci&oacute;n</th>
                <th scope="col">Descripci&oacute;n</th>
                <th scope="col">Tipo de operaci&oacute;n</th>
                <th scope="col">Monto</th>
            </tr>
        </thead>
        <tbody>
            <tr class="year"><td>2014</td><td></td><td></td><td></td><td></td></tr>
                <tr ng-repeat="trans in accountTransactions">
                    <td>{{trans.movementDate | date:'dd-MM-yyyy' }}</td>
                    <td>{{trans._transaction_id}}</td>
                    <td>{{trans.description}}</td>
                    <td>{{trans.operationType}}</td>
                    <td>{{trans.amount | currency}}</td>
                </tr>
        </tbody>
