%button-style {
	border:none;
	border-radius: 4px;
	color: #FFF;
	// font-size: 13px;
	font-weight: bold;
	padding: 8px 10px;
}
/*button:not([type*=submit]) {
	@extend %button-style;

	&.blue {
		background-color: $blue;
	}
	&.orange {
		background-color: $orange;
	}
	&.search {
		span { @include hide-text; }
	}
	+ button {
		margin-left: 20px;
	}

}*/
input[type="submit"], button{
	@extend %button-style;
	background-color: $blue;
	font-weight: bold;
	border-color:$blue !important;
}
input[type="submit"]:disabled, input[type="submit"]:disabled:hover, input[type="submit"]:disabled:active,
button:disabled, button:disabled:hover, button:disabled:active{
	background-color: white;
	font-weight: bold;
	color:$orange !important;
	border:1px solid $orange !important;
}
input[type="submit"]:hover, input[type="submit"]:active, button:hover, button:active{
	background-color: $orange;
	border-color:$orange !important;
}
/*input[type*=submit] {
	&.blue {
		background-color: $blue;
		font-weight: bold;
	}
	&.blue.disabled, &.blue.disabled:hover {
		background-color: white;
		font-weight: bold;
		color:$orange;
		border:1px solid $orange;
	}
	&.blue:hover {
		background-color: $orange;
		font-weight: bold;
	}
	&.orange {
		background-color: $orange;
		font-weight: bold;
 	}
  &:disabled {
    background-color: $gray;
  }
}*/
.search {
	@extend %button-style;
}
.double-btn {
	button {
		float: left;
		padding: 6px 10px;

		&:first-child {
			border-radius: $radius 0 0 $radius;
			margin-right: 1px;
		}
		+ button {
			border-radius: 0 $radius $radius 0;
			margin-left: 0;
		}
	}
  .selected {
    background-color: $orange;
  }
}

button.ui-datepicker-trigger {
  background: none;
  padding: 0px;
}

