/*
|-------------------------------------------------------------------------------------
|	Social links
|-------------------------------------------------------------------------------------
*/
.social-links {
	float: right;
	font-size: 26px;

	li {
		float: left;

		&:first-child {
			margin-right: 20px;
		}
	}
	span {
		@include hide-text;
	}
}