<div  class="prefyseg" ng-controller="UserPreferencesAdministrationController">
	<!-- left menu -->
	<div class="menu-admin">
		<h2>Preferencias</h2>
		<div class="section">
			<ul>
				<li class="option cursor-pointer" ng-class="option==1 ? 'active' : ''" ng-click="gotoUserPreferencesPage();option=1">Alertas y notificiaciones</li>
			</ul>
		</div>

		<h2>Seguridad</h2>
		<div class="section">
			<ul>
				<li class="option cursor-pointer" ng-class="option==2 ? 'active' : ''" ng-click="gotoUserPreferencesPage(); option=2">Cancelar servicio de banca</li>
				<li class="option cursor-pointer" ng-class="option==3 ? 'active' : ''" ng-click="gotoUserPreferencesPage(); option=3">Cambio de contrase&ntilde;a</li>
			</ul>
		</div>

		<h2>Mi Token</h2>
		<div class="section">
			<ul>
				<li class="option cursor-pointer" ng-class="option==4 ? 'active' : ''" ng-click="gotoTokenAdministrationPage(); option=4">Sincronizaci&oacute;n de dispositivo</li>
				<li class="option cursor-pointer" ng-class="option==5 ? 'active' : ''" ng-click="gotoTokenAdministrationPage(); option=5">Desactivaci&oacute;n de dispositivo</li>
			</ul>
		</div>
	</div>

	<div class="content-admin" ng-show="isUserPreferencesAdministrationPageActivated() && option==1">
		<div ng-include="'views/partials/admin/update_communication/update-communication.html'"></div>
	</div>
	<div class="content-admin" ng-show="isUserPreferencesAdministrationPageActivated() && option==2">
		<div ng-include="'views/partials/admin/update-services.html'"></div>
	</div>
	<div class="content-admin" ng-show="isUserPreferencesAdministrationPageActivated() && option==3">
		<div ng-include="'views/partials/admin/update_password/change-password.html'"></div>
	</div>
	<div class="content-admin" ng-show="isUserTokenAdministrationPageActivated() && option==4">
		<div ng-include="'views/partials/admin/activate-token.html'"></div>
	</div>
	<div class="content-admin" ng-show="isUserTokenAdministrationPageActivated() && option==5">
		<div ng-include="'views/partials/admin/deactivate-token.html'"></div>
	</div>
</div>
