<div class="prefyseg">
	<div>
		<h3>Opciones de seguridad</h3>
		<ul>
			<li class="selected">Informaci&oacute;n de la cuenta</li>
			<li>Mi token</li>
			<li>Alertas y notificaciones</li>
		</ul>
		<div class="candado">
			Seguridad de la cuenta
			<i></i>
			<a href="#">Detalle</a>
		</div>
	</div>
	<div>
			<h3>Informaci&oacute;n de la cuenta</h3>
			<p>¿A d&oacute;nde te enviaremos tus estados de cuenta, notificaciones y alertas sobre la actividad de tus cuentas?</p>
			<input type="text" placeholder="Calle o avenida">
			<input type="text" placeholder="Colonia">
			<input type="text" placeholder="Delegación /Municipio">
			<input type="text" placeholder="Código Postal">
			<input type="text" placeholder="Estado">
			<input type="text" placeholder="Correo electrónico">
			<input type="text" placeholder="Confirmar correo electrónico">
			<input type="text" placeholder="Celular (opcional)">
			<input type="text" placeholder="Confirmar celular (opcional)">
			<button>Continuar</button>
	</div>
	<div>
		<div>
			<h3>Cancelar mi servicio</h3>
			<p>Cancelar mi servicio desactiva todas las funciones de Consubanco relacionadas a tu cuenta.</p>
			<p>Para reactivarlo es necesario acudir a tu sucursal m&aacute;s cercana y solicitar la reactivaci&oacute;n.</p>
			<button>Quiero suspender mi servicio temporalmente</button>
			<button>Quiero cancelar mi servicio</button>
		</div>
		<div>
			<div ng-include="'views/partials/admin/change-password.html'"></div>
		</div>
	</div>
</div>
