<div class="beneficiariowidget actions">
    <div ng-switch on="stage">
        <div ng-switch-when="1" class="benheader eliminar">
            <h2>{{selectedAccount.name}}</h2>
            <button ng-click="siguiente()">Eliminar</button>
        </div>
        <div ng-switch-when="2" class="benheader">
            <h2>Eliminar Beneficiario</h2>
            <p class="confirmar">¿Est&aacute;s seguro de querer eliminar al beneficiario?</p>
        </div>
        <div ng-switch-when="3">
            <form name="beneficiaryForm">
                <label class="fieldContainer">
                    <span>Token</span>
                    <input class="input-token" type="password" ng-model="delete.otp" ng-required="true" numbers-only minlength="6" maxlength="6" placeholder="Introduce el c&oacute;digo de tu Token F&iacute;sico">
                </label>
            </form>
        </div>
        <div ng-switch-when="4">
            <div class="message">
                <i></i><p>¡La baja se ha realizado con &Eacute;xito!</p>
            </div>
        </div>
    </div>
    <h3>Datos del beneficiario</h3>
        <table>
            <tr>
                <td>Nombre</td>
                <td align="right">{{selectedAccount.name}}</td>
            </tr>
            <tr>
                <td>Alias</td>
                <td align="right">{{selectedAccount.shortName}}</td>
            </tr>
            <tr>
                <td>Tipo de cuenta</td>
                <td align="right">{{selectedAccount.account_type}}</td>
            </tr>
            <tr>
                <td>No. de cuenta</td>
                <td align="right">{{selectedAccount.maskedAccountNumber}}</td>
            </tr>
        </table>
    <h3>Datos para notificar al beneficiario</h3>
    <table>
        <tr>
            <td>Correo electr&oacute;nico</td>
            <td align="right">{{selectedAccount.e_mail}}</td>
        </tr>
        <tr>
            <td>Celular</td>
            <td align="right">{{selectedAccount.phone}}</td>
        </tr>
    </table>
      <div ng-switch on="stage">
            <div ng-switch-when="2">
                <div class="double-btn">
                    <button ng-click="">Regresar</button>
                    <button ng-click="siguiente()">Aceptar</button>
                </div>
            </div>
            <div ng-switch-when="3">
                <div class="double-btn">
                    <button ng-click="">Regresar</button>
                    <button ng-click="delete()" ng-disabled="beneficiaryForm.$invalid">Aceptar</button>
                </div>
             </div>
      </div>
</div>
