<div class="content">
    <div class="header">
        <h2>Alta nuevo beneficiario</h2>
        <p>Confirma los datos para dar de alta a un nuevo beneficiario</p>
        <progress max="3" value="{{selection}}"></progress>
        <div class="progress">
            <p class="orange">captura</p>
            <p>confirmaci&oacute;n</p>
            <p>comprobaci&oacute;n</p>
        </div>
    </div>
    <form name="beneficiaryForm">
        <input class="input-confirm-token" type="password" ng-model="beneficiary.token" ng-required="true" ng-pattern="/^[0-9]{1,7}$/" minlength="7" maxlength="7" placeholder="Introduce el c&oacute;digo que se ha generado en tu Token F&iacute;sico">

        <table>
            <tr>
                <td>Nombre:</td>
                <td>{{beneficiary.name}}</td>
            </tr>
            <tr>
                <td>Alias:</td>
                <td>{{beneficiary.aka}}</td>
            </tr>
            <tr>
                <td>T. D&eacute;bito:</td>
                <td>{{beneficiary.account}}</td>
            </tr>
            <tr>
                <td>Correo electr&oacute;nico:</td>
                <td>{{beneficiary.email}}</td>
            </tr>
            <tr>
                <td>Celular:</td>
                <td>{{beneficiary.phone}}</td>
            </tr>
            <tr>
                <td>Fecha de aplicaci&oacute;n:</td>
                <td>{{beneficiary.date}}</td>
            </tr>
        </table>
    </form>
    <div class="double-btn">
        <button ng-click="completeStep(1)">Regresar</button>
        <button ng-click="sendBeneficiary()" ng-disabled="beneficiaryForm.$invalid">Continuar</button>
    </div>
</div>
