<div class="actions agregarBeneficiario">
    <h2>&nbsp;&nbsp;&nbsp;Resumen de beneficiarios</h2>
    <br>
    <div>
        <ul>
            <li class="option">Cuentas consubanco     <span>5</span></li>
            <li class="option">Otros bancos           <span>3</span></li>
            <li class="option" ng-click="addedThisMonth = !addedThisMonth">Agregados este mes     <span>2</span></li>
                <table class="transactions" ng-show="addedThisMonth">
                    <thead>
                        <tr>
                           <th>Nombre</th>
                            <th>Cuenta</th>
                            <th>Fecha de alta</th>
                        </tr>   
                    </thead>
                    <tbody>
                        <tr>
                            <td>Joel Bravo Flores</td>
                           <td>***48348</td>
                            <td>12/12/12</td>
                        </tr>
                        <tr>
                            <td>Claudia Flores</td>
                            <td>***45688</td>
                            <td>11/11/11</td>
                        </tr>
                    </tbody>
                </table>
            <li class="option" ng-click="paysThisMonth = !paysThisMonth">Pagos este mes         <span>3</span></li>
                <table class="transactions" ng-show="paysThisMonth">
                    <thead>
                        <tr>
                           <th>Nombre</th>
                            <th>Cuenta</th>
                            <th>Fecha de alta</th>
                        </tr>   
                    </thead>
                    <tbody>
                        <tr>
                            <td>Joel Bravo Flores</td>
                           <td>***48348</td>
                            <td>12/12/12</td>
                        </tr>
                        <tr>
                            <td>Claudia Flores</td>
                            <td>***45688</td>
                            <td>11/11/11</td>
                        </tr>
                    </tbody>
                </table>
            <li class="option">Eliminados este mes    <span>3</span></li>
        </ul>
    </div>
</div>
