<div class="agregarBeneficiario">
    <form>
        <input type="text" ng-model="transfer.amount" name="amount" id="amount" placeholder="Buscar beneficiario">
        <button><i></i>Buscar beneficiario</button>
    </form>
    <table class="transactions">
        <thead>
            <tr>
               <th>Nombre del beneficiario</th>
                <th>Cuenta / Referencia</th>
                <th>Altas</th>
                <th>Tipo de cuenta</th>
            </tr>   
        </thead>
        <tbody>
            <tr ng-repeat="accounts in third_accounts" ng-click="selectBeneficiary()">
                <td>{{accounts.productName}}</td>
                <td>{{accounts.maskedAccountNumber}}</td>
                <td>{{accounts.hirdPartyGUID}}</td>
                <td>{{accounts.account_type}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-switch on="selection">
    <div ng-switch-when="1">
        <div ng-include="'views/partials/admin/beneficiary-list.html'">
        </div>
    </div>
</div>
