<div class="actions agregarBeneficiario">
    <h2>&nbsp;&nbsp;&nbsp;Resumen de beneficiarios</h2>
    <br>
    <div>
        <ul>
            <li class="option" ng-click="own_accounts = !own_accounts">Cuentas consubanco<span>{{third_accounts_own.length}}</span></li>
                <table class="transactions" ng-show="own_accounts">
                    <thead>
                        <tr>
                           <th>Nombre</th>
                            <th>Cuenta</th>
                            <th>Tipo</th>
                        </tr>   
                    </thead>
                    <tbody>
                        <tr ng-repeat="accounts in third_accounts_own">
                            <td>{{accounts.name}}</td>
                            <td>{{accounts.maskedAccountNumber}}</td>
                            <td>{{accounts.account_type}}</td>
                        </tr>
                    </tbody>
                </table>
            <li class="option" ng-click="other_accounts = !other_accounts">Otros bancos<span>{{third_accounts_others.length}}</span></li>
                <table class="transactions" ng-show="other_accounts">
                    <thead>
                        <tr>
                           <th>Nombre</th>
                            <th>Cuenta</th>
                            <th>Fecha de alta</th>
                        </tr>   
                    </thead>
                    <tbody>
                        <tr ng-repeat="accounts in third_accounts_others">
                            <td>{{accounts.name}}</td>
                            <td>{{accounts.maskedAccountNumber}}</td>
                            <td>{{accounts.account_type}}</td>
                        </tr>
                    </tbody>
                </table>
        </ul>
    </div>
</div>
