<div class="agregarBeneficiario pull-left">
    <form>
        <input type="text" ng-model="busqueda" class="pull-left" placeholder="Buscar beneficiario">
        <button ng-click="addBeneficary()" class="pull-right">Agregar beneficiario</button>
    </form>
    <table class="transactions">
        <thead>
            <tr>
               <th>Nombre del beneficiario</th>
                <th>Cuenta / Referencia</th>
                <th>Banco</th>
                <th>Status</th>
                <th>Tipo de cuenta</th>
                <th>Moneda</th>
                <th>Mongo m&aacute;ximo</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="accounts in third_accounts_others | filter:busqueda" ng-click="selectBeneficiary(accounts);">
                <td>{{accounts.name}}</td>
                <td>{{accounts.masked_account_number}}</td>
                <td>{{accounts.bancoBeneficiarioNombre}}</td>
                <td>{{accounts.estatusPreRegistro}}</td>
                <td>{{accounts.tipoCuentaDestino}}</td>
                <td>{{accounts.monedaCtaDestino}}</td>
                <td>{{accounts.montoMaximoTrx}}</td>
            </tr>

        </tbody>
    </table>
</div>
<div ng-switch on="action">
    <div ng-switch-when="2">
        <div ng-include="'views/partials/admin/beneficiary-delete.html'">
        </div>
    </div>
    <div ng-switch-when="3">
        <div ng-include="'views/partials/admin/beneficiary-add.html'">
        </div>
    </div>
</div>
