<div class="record">
    <div class="data">
        <h2>Modificar contrase&ntilde;a</h2>
        <p>Ingresa los datos siguientes</p>
        <hr>
        <form name="changeForm">
            <label class="fieldContainer" ng-class="change.old.length > 0 ? 'selected' : ''">
                <span>Contraseña</span>
                <input ng-model="change.old" type="password" class="input-password" placeholder="Contrase&ntilde;a" ng-required="true">
            </label>
            <label class="fieldContainer" ng-class="change.new.length > 0 ? 'selected' : ''">
                <span>Nueva contraseña</span>
                <input ng-model="change.new" type="password" class="input-password" placeholder="Nueva contrase&ntilde;a" ng-required="true">
            </label>
            <label class="fieldContainer" ng-class="change.repeatNew.length > 0 ? 'selected' : ''">
                <span>Repite la nueva contraseña</span>
                <input ng-model="change.repeatNew" type="password" class="input-password" placeholder="Repita nueva contrase&ntilde;a" ng-required="true">
            </label>
            <div class="error" ng-show="showError">{{errorMessage}}</div>
            <button ng-disabled="changeForm.$invalid" ng-click="verifyNewPass()">Cambiar</button>
        </form>
    </div>
</div>
