<div class="record">
    <div class="data">
        <h3>Contrase&ntilde;a</h3>
        <p>Cambia tu contraseña actual</p>
        <form name="changeForm">
            <label class="fieldContainer" ng-class="change.old.length > 0 ? 'selected' : ''">
                <span>Contraseña</span>
                <input type="password" ng-model="change.old"   alphanumeric class="input-password" placeholder="Contrase&ntilde;a Actual"  ng-minlength="8" maxlength="20" required>
            </label>
            <label class="fieldContainer" ng-class="change.new.length > 0 ? 'selected' : ''">
                <span>Nueva contraseña</span>
                <input type="password" name="password" ng-model="change.new" class="input-password" alphanumeric ng-change="validatePassword()" placeholder="Nueva contrase&ntilde;a"  ng-required="true" ng-minlength="8" maxlength="20" required>
            </label>
            <label class="fieldContainer" ng-class="change.repeatNew.length > 0 ? 'selected' : ''">
                <span>Repite la nueva contraseña</span>
                <input type="password" ng-model="change.repeatNew" class="input-password" alphanumeric placeholder="Confirmar contrase&ntilde;a" ng-required="true" ng-minlength="8" maxlength="20" required>
            </label>
            <div class="error" ng-show="error">{{errorMessage}}</div>
            <div class="error" ng-show="changeForm.password.$error.minlength">Su contraseña debe tener al menos 8 caracteres</div>
            <button ng-disabled="changeForm.$invalid" ng-click="verifyNewPass()">Continuar</button>
        </form>
    </div>
</div>
