<div ng-include="'views/partials/layout/main-header.html'"></div>

<div class="content">
  <div class="container">

    <div class="title text-center">
      <h1>Administraci&oacute;n de Tarjetas</h1>
    </div>
    <hr/>

    <div class="col-md-12 side-block borderDown">
        <div class="col-md-3">
          <img src='images/tarjeta_oro.png'><br><br>
          <button type="button" class="btn btn-primary">Cambiar NIP</button>
          <button type="button" class="btn btn-warning">Bloquear</button>
        </div>
        <div class="col-md-8 col-md-offset-1" >
              <div class ="row space">
                <div class="col-md-9">
                  <span class="text pull-left" >Tarjeta Activa </span>
                </div>
                <div class="col-md-3" class="text pull-right">
                  L&iacute;mite de tarjeta $50,000.00
                </div>
              </div>
            <div class="row">
              <div class="progress">
                 <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                    <span class="sr-only">60% Complete</span>
                 </div>
              </div>
            </div>
            <div class="row borderDown">
              $ 40,000.00 L&iacute;mite configurado
            </div>
            <div class="row">
              <div class="col-md-4">
                <label>
                  <input type="checkbox" class="normal"/>  Libra Plus
                </label>
                <br><a href=""> M&aacute;s informaci&oacute;n</a>
              </div>
              <div class="col-md-3">
                <label>
                  <input type="checkbox" class="normal"/>  Puntos Premias
                </label>
                <br><a href=""> M&aacute;s informaci&oacute;n</a>
              </div>
            </div>
        </div>
      </div>

   <div class="col-md-12 side-block borderDown">
        <div class="col-md-3">
          <img src='images/tarjeta_clasica.png'><br><br>
          <button type="button" class="btn btn-primary">Cambiar NIP</button>
          <button type="button" class="btn btn-warning">Bloquear</button>
        </div>
        <div class="col-md-8 col-md-offset-1" >
              <div class ="row space">
                <div class="col-md-9">
                  <span class="text pull-left" >Tarjeta Activa </span>
                </div>
                <div class="col-md-3" class="text pull-right">
                  L&iacute;mite de tarjeta $70,000.00
                </div>
              </div>
            <div class="row" >
              <div class="progress">
                 <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                    <span class="sr-only">90% Complete</span>
                 </div>
              </div>
            </div>
            <div class="row borderDown">
              $ 20,000.00 L&iacute;mite configurado
            </div>
            <div class="row">
              <div class="col-md-4">
                <label>
                  <input type="checkbox" class="normal"/>  Libra Plus
                </label>
                <br><a href=""> M&aacute;s informaci&oacute;n</a>
              </div>
              <div class="col-md-3">
                <label>
                  <input type="checkbox" class="normal"/>  Puntos Premias
                </label>
                <br><a href=""> M&aacute;s informaci&oacute;n</a>
              </div>
            </div>
        </div>
      </div>

    </div><!--End container -->
  </div><!--End content-->
<div ng-include="'views/partials/layout/main-footer.html'"></div>
