<div class="record">
    <div class="data">
        <h2>Modificar contrase&ntilde;a</h2>
        <p>Ingresa los datos siguientes</p>
        <hr>
        <form name="changeForm">
            <label class="fieldContainer" ng-class="change.otp.length > 0 ? 'selected' : ''">
                <span>Contraseña</span>
                <input ng-model="change.otp" type="password" class="input-confirm-token" ng-required="true" ng-pattern="/^[0-9]{1,7}$/" minlength="7" maxlength="7" placeholder="Introduce el c&oacute;digo que se ha generado en tu Token F&iacute;sico">
            </label>
            <div class="error" ng-show="error">{{errorMessage}}</div>
            <button ng-disabled="changeForm.$invalid" ng-click="modifyPassword()">Cambiar</button>
        </form>
    </div>
</div>
