<div class="record">
    <div class="data">
        <h3>Modificar contrase&ntilde;a</h3>
        <p>Ingresa los datos siguientes</p>
        <form name="changeForm">
            <label class="fieldContainer" ng-class="change.otp.length > 0 ? 'selected' : ''">
                <span>Contraseña</span>
                <input ng-model="change.otp" type="password" class="input-token" ng-required="true" numbers-only minlength="6" maxlength="6" placeholder="Introduce el c&oacute;digo de tu Token F&iacute;sico">
            </label>
            <div class="error" ng-show="error">{{errorMessage}}</div>
            <button ng-disabled="changeForm.$invalid" ng-click="modifyPassword()">Cambiar</button>
        </form>
    </div>
</div>
