<div class="data" ng-show="isSecurityTokenEnabled()">
    <h3>Desactivaci&oacute;n temporal del dispositivo de seguridad</h3>
    <form name="disableSecurityTokenForm">
        <!--
        <div class="fieldContainer select-style" ng-class="tokenDisableData.reason ? 'selected' : ''">
            <span>raz&oacute;n</span>
            <select ng-model="tokenDisableData.reason" ng-options="item as item.label for item in tokenDisableReasons" ng-required="true">
                <option value="">raz&oacute;n</option>
            </select>
        </div>
        -->

        <div class="dropdown">
            <div class="dropdown-toggle select-style" type="button" data-toggle="dropdown" ng-class="tokenDisableData.reason ? 'selected' : ''">
                <span>Raz&oacute;n</span>
                <p>{{tokenDisableData.reason === undefined ? 'Raz&oacute;n' : tokenDisableData.reason.maskedAccountNumber}}
                    <span>{{tokenDisableData.reason.label}}</span></p>
            </div>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="item in tokenDisableReasons" ng-model="tokenDisableData.reason" ng-click="tokenDisableData.reason = item">{{item.label}}</li>
            </ul>
        </div>

       <button ng-disabled="disableSecurityTokenForm.$invalid" ng-click="disableSecurityToken()">Deshabilitar</button>
    </form>
</div>
<div class="data" ng-show="isSecurityTokenLocked()">
    <h3>Su token est&aacute; bloqueado, por favor llame al centro de atenci&oacute;n a clientes</h3>
</div>

<div class="data" ng-show="isSecurityTokenDisabled()">
    <h3>Su token est&aacute; desactivado</h3>
    <form name="enableSecurityTokenForm">
       <button ng-click="enableSecurityToken()">Enable</button>
    </form>
</div>

<div class="data" ng-show="isSecurityTokenError()">
    <h3>Error técnico, no pudimos obtener el estado de tu token</h3>
</div>
