<div class="data prefysegrow" ng-show="isSecurityTokenNew()" >
    <h3>Activaci&oacute;n del dispositivo de seguridad</h3>
    <form name="activateSecurityTokenForm">
        <div class="fieldContainer" ng-class="tokenActivationData.tokenId.length > 0 ? 'selected' : ''">
            <span>Identificador de token</span>
            <input type="text" maxlength="10" class="input-mobile" ng-model="tokenActivationData.tokenId" placeholder="Identificador de token" ng-required="true">
        </div>
        <div class="fieldContainer" ng-class="tokenActivationData.otp1.length > 0 ? 'selected' : ''">
        	<span>OTP 1</span>
        	<input type="text" numbers-only minlength="6" maxlength="6" class="input-mobile" ng-model="tokenActivationData.otp1" placeholder="OTP 1" ng-required="true">
        </div>
        <div class="fieldContainer" ng-class="tokenActivationData.otp2.length > 0 ? 'selected' : ''">
            <span>OTP 2</span>
            <input type="text" numbers-only minlength="6" maxlength="6" class="input-mobile" ng-model="tokenActivationData.otp2" placeholder="OTP 2" ng-required="true">
        </div>
       <button ng-disabled="activateSecurityTokenForm.$invalid" ng-click="activateSecurityToken()">Activar</button>
    </form>
</div>

<div class="data prefysegrow" ng-show="isSecurityTokenEnabled()">
    <h3>Sincronizaci&oacute;n del dispositivo de seguridad</h3>
    <form name="synchronizeSecurityTokenForm">
        <div class="fieldContainer" ng-class="tokenSynchronizationData.otp1.length > 0 ? 'selected' : ''">
            <span>OTP 1</span>
            <input type="text" numbers-only minlength="6" maxlength="6" class="input-mobile" ng-model="tokenSynchronizationData.otp1" placeholder="OTP 1" ng-required="true">
        </div>
        <div class="fieldContainer" ng-class="tokenSynchronizationData.otp2.length > 0 ? 'selected' : ''">
            <span>OTP 2</span>
            <input type="text" numbers-only minlength="6" maxlength="6" class="input-mobile" ng-model="tokenSynchronizationData.otp2" placeholder="OTP 2" ng-required="true">
        </div>
       <button ng-disabled="synchronizeSecurityTokenForm.$invalid" ng-click="synchronizeSecurityToken()">Synchronizar</button>
    </form>
</div>
<div class="data prefysegrow" ng-show="isSecurityTokenEnabled()">
    <h3>Desactivaci&oacute;n temporal del dispositivo de seguridad</h3>
    <form name="disableSecurityTokenForm">
        <div class="fieldContainer select-style" ng-class="tokenDisableData.reason ? 'selected' : ''">
            <span>raz&oacute;n</span>
            <select ng-model="tokenDisableData.reason" ng-options="item as item.label for item in tokenDisableReasons" ng-required="true">
                <option value="">raz&oacute;n</option>
            </select>
        </div>       
       <button ng-disabled="disableSecurityTokenForm.$invalid" ng-click="disableSecurityToken()">Disable</button>
    </form>
</div>

<div class="data prefysegrow" ng-show="isSecurityTokenLocked()">
    <h3>Su token est&aecute; bloqueado, por favor llame al centro de atenci&oacute;n a clientes</h3>
</div>

<div class="data prefysegrow" ng-show="isSecurityTokenDisabled()">
    <h3>Su token est&aecute; desactivado</h3>
    <form name="enableSecurityTokenForm">  
       <button ng-click="enableSecurityToken()">Enable</button>
    </form>
</div>

<div class="data prefysegrow" ng-show="isSecurityTokenError()">
    <h3>Error técnico, no pudimos obtener el estado de tu token</h3>
</div>