<div class="user-data">
    <h1>Datos del Cliente <span>José Manuel Jimenez Contreras</span></h1>
    <button>Editar información</button>
    <div class="tables">
        <table>
        <tbody>
            <tr>
                <td>Número de cliente:</td>
                <td>3212131232</td>
            </tr>
            <tr>
                <td>Domicilio:</td>
                <td>Calle 10 No. 234 Col. el Arenal</td>
            </tr>
            <tr>
                <td>Ciudad:</td>
                <td>Ciudad de México</td>
            </tr>
            <tr>
                <td>Estado:</td>
                <td>D.F.</td>
            </tr>
            <tr>
                <td>Código Postal:</td>
                <td>32321</td>
            </tr>
        </tbody>
    </table>
    </div>

    <div class="tables">
        <table>
        <tbody>
            <tr>
                <td>Tel Oficina:</td>
                <td>3212131232</td>
            </tr>
            <tr>
                <td>Tel Casa:</td>
                <td>Calle 10 No. 234 Col. el Arenal</td>
            </tr>
            <tr>
                <td>Celular:</td>
                <td>Ciudad de México</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>D.F.</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>