<div class="user-data">
    <h1>Datos del Cliente <span>José Manuel Jimenez Contreras</span></h1>
    <button>Editar información</button>
    <div class="tables">
        <table>
        <tbody>
            <tr>
                <td>N&uacute;mero de cliente:</td>
                <td>{{userData.nro_cliente}}</td>
            </tr>
            <tr>
                <td>Estatus:</td>
                <td>{{userData.estatus}}</td>
            </tr>
            <tr>
                <td>Fecha Inicio:</td>
                <td>{{userData.fechaInicio | date:'medium'}}</td>
            </tr>
            <tr>
                <td>Nombre:</td>
                <td>{{userData.nombre}}</td>
            </tr>
            <tr>
                <td>Estado:</td>
                <td>{{userData.estado}}</td>
            </tr>
            <tr>
                <td>Ciudad:</td>
                <td>{{userData.ciudad}}</td>
            </tr>
            <tr>
                <td>Poblaci&oacute;n:</td>
                <td>{{userData.estado}}</td>
            </tr>
            <tr>
                <td>Domicilio:</td>
                <td>{{userData.domicilio}}</td>
            </tr>
            <tr>
                <td>C&oacute;digo Postal:</td>
                <td>{{userData.cp}}</td>
            </tr>
        </tbody>
    </table>
    </div>

    <div class="tables">
        <table>
        <tbody>
            <tr>
                <td>Tel Oficina:</td>
                <td>{{userData.telOfi}}</td>
            </tr>
            <tr>
                <td>Tel Casa:</td>
                <td>{{userData.telDom}}</td>
            </tr>
            <tr>
                <td>Celular:</td>
                <td>{{userData.telCel}}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{userData.email}}</td>
            </tr>
            <tr>
                <td>RFC:</td>
                <td>{{userData.rfc}}</td>
            </tr>
            <tr>
                <td>Clasificaci&oacute;n:</td>
                <td>{{userData.clasific}}</td>
            </tr>
            <tr>
                <td>Nombre del Promotor:</td>
                <td>{{userData.promotorNombre}}</td>
            </tr>
            <tr>
                <td>Email del Promotor:</td>
                <td>{{userData.promotorEmail}}</td>
            </tr>
            <tr>
                <td>Promotor en la oficina:</td>
                <td>{{userData.promotorOficina}}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
