<form class="user-login images" name="userImagePassword">
    <h2>BIENVENIDO</h2>
    <h3>{{client_name}}</h3>
    <a class="blue-min">Nivel de seguridad adicional</a>
    <a class="gray-min">Selecciona la imagen que elegiste al registrarte</a>
    <!-- images -->
    <div class="radioGroupBelow" align="center">
        <div ng-repeat="image in images">
            <span ng-click="selectImage(image.image_id)" ng-class="{'selected' : image.image_id === loginData.selectedImage}">
                <i></i><img ng-src="{{restAPIBaseUrl}}/{{image.url}}">
            </span>
        </div>
    </div>
    <!-- password -->
    <input ng-class="incorrectLoginData ? 'rojo' : ''" type="password" name="password" ng-model="loginData.password" id="password" placeholder="Contraseña" minlength="8" maxlength="30" required>
    <div class="error" ng-show="error"> {{errorMessage}}</div>
    <div class="buttons">
        <input type="submit" value="Continuar" ng-click="login()" ng-disabled="userImagePassword.$invalid || !loginData.selectedImage || isLogin" >
        <input type="submit" value="Cancelar" ng-click="reset()">
    </div>
    <p>¿Olvidaste tu contrase&ntilde;a? Comun&iacute;cate con nosotros al 01 800 800 32 24</p>
</form>
