<form class="user-login" name="userLoginForm">
    <div class="loader" ng-show="checkingUser"></div>
    <label for="user"><strong>Iniciar sesión</strong></label>
    <input ng-class="error ? 'rojo' : ''" ng-model="loginData.username" type="text" name="user" id="user" placeholder="Usuario" minlength="5" maxlength="10" pattern="^[0-9]{1,10}$" required>
    <div class="error" ng-show="error">{{errorMessage}}</div>
    <input type="submit" value="Continuar" ng-click="checkUser()" ng-disabled="userLoginForm.$invalid||checkingUser">
</form>
