<form class="user-login" name="userLoginForm">
    <label for="user"><strong>Iniciar sesi&oacute;n</strong></label>
    <input ng-class="error ? 'rojo' : ''" ng-model="loginData.username" type="text" name="user" id="user" placeholder="Usuario" ng-minlength="5" maxlength="10"
     ng-pattern="/^[a-zA-Z0-9]+$/"  required>
    <div class="error" ng-show="error">{{errorMessage}}</div>
    <input type="submit" value="Continuar" ng-click="checkUser()" ng-disabled="userLoginForm.$invalid||checkingUser">
</form>
