<div class="header">
    <h2 class="title">
        <a ng-click='showAccountHeader = !showAccountHeader'><i ng-class="showAccountHeader ? 'ico-menos' : 'ico-mas'"></i></a>
        {{investmentHeader.product.productName}}
        <span>Inversi&oacute;n</span>
    </h2>
    <div class="payment-actions">
        <div>
            <div>
                <p class="amount">{{investmentHeader.amount | currency}}</p>
                <span>Saldo</span>
            </div>
        </div>
    </div>
</div>
<hr ng-show='!showAccountHeader'>

<div ng-hide="investmetCategory=='VISTA'">
    <div class="box" ng-show='showAccountHeader'>
        <ul>
            <li>Fecha de inicio de inversi&oacute;n:    <span>{{investmentHeader.startDate | date:'dd-MM-yyyy' }}</span></li>
            <li>Plazo de inversi&oacute;n:              <span>{{investmentHeader.expiration_date | date:'dd-MM-yyyy'}}</span></li>
            <li>Fecha de vencimiento de inversi&oacute;n:<span>{{investmentHeader.last_renewal_date | date:'dd-MM-yyyy' }}</span></li>
            <li>Fecha de vencimiento de inter&eacute;s:  <span>{{investmentHeader.expiration_date | date:'dd-MM-yyyy' }}</span></li>
        </ul>
        <ul>
            <li>Intereses generados:    <span>{{investmentHeader.projected_interest_amount}}%</span></li>
            <li>Porcentaje de ISR:      <span>{{investmentHeader.isr_taxt}}%</span></li>
            <li>Monto del ISR:          <span class="amount">{{investmentHeader.isr_taxt_amount | currency}}</span></li>
            <li>Intereses por pagar:    <span class="amount">{{investmentHeader.interest_rate | currency}}</span></li>
        </ul>
    </div>
</div>
<div ng-show="investmetCategory=='VISTA'">
    <div class="box" ng-show='showAccountHeader'>
        <ul>
            <li>Periodo:        <span>{{investmentHeader.startDate | date:'dd-MM-yyyy' }} a {{investmentHeader.expiration_date | date:'dd-MM-yyyy' }}</span></li>
        </ul>
        <ul>
            <li>Saldo Invertido:                                    <span>{{investmentHeader.amount}}%</span></li>
            <li>Tasa de inter&eacute;s del &uacute;ltimo periodo:   <span class="amount">{{investmentHeader.interest_rate | currency}}</span></li>
        </ul>
    </div>
</div>
