<h4>B&uacute;squeda por rango de fechas</h4>
<div class="filter">
    <div>
        <span>Fecha inicial:</span>
        <input type="text" ng-model="searchParams.date_start" ng-change="search()" maxlength="10" jqdatepicker>
    </div>
    <div>
        <span>Fecha final:</span>
        <input type="text" ng-model="searchParams.date_end" ng-change="search()" maxlength="10" jqdatepicker>
    </div>
</div>
<div class="transactions pull-left">
    <table ng-table="tableParams" class="details">
     <thead>
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">N. de Transacci&oacute;n</th>
            <th scope="col">Descripci&oacute;n</th>
            <th scope="col">Tipo de operaci&oacute;n</th>
            <th scope="col">Monto</th>
        </tr>
    </thead>
    <tr ng-repeat="trans in investmentTransactions">
        <td>{{trans.movementDate | date:'dd-MM-yyyy' }}</td>
        <td>{{trans._transaction_id}}</td>
        <td>{{trans.description}}</td>
        <td>{{trans.operationType}}</td>
        <td>{{trans.amount | currency}}</td>
    </tr>
    </table>
</div>
