<h4>B&uacute;squeda por rango de fechas</h4>
<div class="filter">
    <div>
        <span>Fecha inicial:</span>
        <input type="text" ng-model="searchParams.date_start" ng-change="search()" maxlength="10" jqdatepicker>
    </div>
    <div>
        <span>Fecha final:</span>
        <input type="text" ng-model="searchParams.date_end" ng-change="search()" maxlength="10" jqdatepicker>
    </div>
</div>
<div class="transactions pull-left">
    <div class="searchMessage" ng-show="searchMessage">
        <span ng-click="clearMessage()">X</span>
        Resultados de la b&uacute;squeda
    </div>
    <table ng-table="tableParams" class="details">
     <thead>
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">N. de Transacci&oacute;n</th>
            <th scope="col">Descripci&oacute;n</th>
            <th scope="col">Cargo</th>
            <th scope="col">Abono</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="trans in investmentTransactions">
            <td>{{trans.date | date:'dd-MM-yyyy' }}</td>
            <td>{{trans._transaction_id}}</td>
            <td>{{trans.description}}</td>
            <td>{{ (trans.operation_type !== 'D') ? null :  trans.amount | currency }}</td>
            <td>{{ (trans.operation_type !== 'C') ? null : trans.amount | currency }}</td>
        </tr>
    </tbody>
    </table>
</div>
