<div class="filter">
    <div class="inline" style="display:flex;">
        <p>Fecha inicio</p>
        <input type="date" ng-model="date_start">
        <p>Fecha fin</p>
        <input type="date" ng-model="date_end">
    </div>
    <div class="single-btn">
        <button class="orange" ng-click="getTransactions(date_start, date_end)">Buscar</button>
    </div>
</div>
<div class="transactions">
    <table ng-table="tableParams" class="details">
     <thead>
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">N. de Transacci&oacute;n</th>
            <th scope="col">Descripci&oacute;n</th>
            <th scope="col">Tipo de operaci&oacute;n</th>
            <th scope="col">Monto</th>
        </tr>
    </thead>
    <tr ng-repeat="trans in investmentTransactions">
        <td>{{trans.movementDate | date:'dd-MM-yyyy' }}</td>
        <td>{{trans._transaction_id}}</td>
        <td>{{trans.description}}</td>
        <td>{{trans.operationType}}</td>
        <td>{{trans.amount}}</td>
    </tr>
    </table>
</div>
