<div class="record">
    <div class="data">
        <h2>Token</h2>
        <p>Ingresa los siguientes datos para el registro de tu Token.</p>
        <hr>
        <div class="user-data">
            <form class="contact-form">
                <input type="text" name="token" id="token" placeholder="No. de Serie del Token">
                <input type="text" name="opt1" id="opt1" placeholder="OPT 1">
                <input type="text" name="opt2" id="opt2" placeholder="OPT 2">
                <div class="termns">
                    <input type="checkbox" name="legal" id="legal" value="yes">
                    <p>He le&iacute;do y acepto los <a href="#">T&eacute;rminos y Condiciones</a> de Consubanco.</p>
                </div>
            </form>
            <button class="blue" ng-click="completeStep(6)">Registrar</button>
            <button class="blue">Cancelar</button>
        </div>
    </div>
    <div class="help">
        <div>
            <i class="fa fa-comments-o"></i>
            <p class="blue">&iquest;Cual es el No. de serie de mi Token&quest;</p>
            <p>
                Es el valor num&eacute;rico que se encuentra ubicado en la parte posterior de tu Token y que consta de 8 digitos.
            </p>
        </div>
        <div>
            <i class="fa fa-keyboard-o"></i>
            <p class="blue">&iquest;Que es el OTP&quest;</p>
            <p>
                Es el valor num&eacute;rico de 6 posiciones que se encuentra ubicado en la parte frontal de tu Token.
            </p>
        </div>
        <div>
            <i class="fa fa-keyboard-o"></i>
            <p class="blue">Activacion Token</p>
            <p>
                Una vez registrado tu Token, no olvides activarlo. Ingresa a Consubanco digital y en la parte de Administraci&oacute;n podr&aacute;s encontrar la opci&oacute;n para la activaci&oacute;n de tu Token.
            </p>
        </div>
    </div>
</div>
