<div class="record" data-ng-init="init()">
    <div class="data">
        <h2>Información de Cuenta</h2>
        <p>Verifica que los datos de tu cuenta sean correctos.</p>
        <hr>
        <div class="user-data">
            <dl>
                <dt>N&uacute;mero de cliente:</dt>
                <dd><span></span>{{clientNumber}}</dd>
                <dt>Nombre:</dt>
                <dd>{{nameClient}}</dd>
                <dt>Sucursal de contrataci&oacute;n:</dt>
                <dd>{{bankBranch}}</dd>
                <dt>Fecha de contrataci&oacute;n:</dt>
                <dd>{{date}}</dd>
            </dl>
            <button class="orange" ng-click="completeStep(2)">Confirmar</button>
            <button class="blue">Cancelar</button>
        </div>
    </div>
    <div class="help">
        <div>
            <i class="fa fa-comments-o"></i>
            <p class="blue">¿Necesitas ayuda?</p>
            <p>
                Comunicate con nosotros <br>
                01 800 800 3245.
            </p>
        </div>
        <div>
            <i class="fa fa-keyboard-o"></i>
            <p class="blue">¿A&uacute;n no cuentas con tu token?</p>
            <p>
                Solc&iacoute;talo en la suscursal de tu peferencia o comun&iacute;cate con nosotros.
            </p>
        </div>
    </div>
</div>
