<div class="record">
    <div class="data">
        <h2>Alertas y Notificaciones</h2>
        <p>Recibe alertas al instante en tu tel&eacute;fono celular y&sol;o correo electr&oacute;nico, cada vez que se realice un movimiento en tus cuentas.</p>
        <hr>
        <div class="user-data">
            <form class="contact-form">
                <input type="text" name="user" id="user" placeholder="Correo electr&oacute;nico">
                <input type="text" name="user" id="user" placeholder="Confirma correo electr&oacute;nico">
                <input type="text" name="user" id="user" placeholder="Celular">
                <input type="text" name="user" id="user" placeholder="Confirma celular">
                <div class="separate">
                    <p>&iquest;Por qu&eacute; medio quieres ser notificado&quest;</p>
                    <input type="radio" name="type-contact" id="byEmail" value="byEmail">
                    <p>E-mail</p>
                    <input type="radio" name="type-contact" id="byCellphone" value="byCellphone">
                    <p>Celular</p>
                </div>
            </form>
            <button class="blue" ng-click="completeStep(5)">Confirmar</button>
            <button class="blue">Cancelar</button>
        </div>
    </div>
    <div class="help">
        <div>
            <i class="fa fa-comments-o"></i>
            <p class="blue">&iquest;Por qu&eacute; ingresar estos datos&quest;</p>
            <p>
                Al ingresar tu correo electr&oacute;nico y celular se te har&aacute;n llegar las notificaciones de tus operaciones realizadas en tus cuentas.
            </p>
        </div>
        <div>
            <i class="fa fa-keyboard-o"></i>
            <p class="blue">&iquest;Necesitas ayuda&quest;</p>
            <p>
                Comun&iacute;cate con nosotros al 01 800 800 3224.
            </p>
        </div>
    </div>
</div>
