<div class="record">
    <div class="data">
        <h2>Registro de datos</h2>
        <p>Con los siguientes datos podr&aacute;s acceder a tu cuenta en Consubanco digital</p>
        <hr>
        <div class="user-data">
            <form class="register-pass">
                <input type="text" name="user" id="user" placeholder="No. de cliente &sol; No. de cuenta">
                <input type="text" name="user" id="user" placeholder="Contrase&ntilde;a">
                <input type="text" name="user" id="user" placeholder="Confirmar contrase&ntilde;a">
            </form>
            <button class="blue">Confirmar</button>
            <button class="blue">Cancelar</button>
        </div>
    </div>
    <div class="help">
        <div>
            <i class="fa fa-comments-o"></i>
            <p class="blue">&iquest;No. de cuenta o No. de cliente&quest;</p>
            <p>
                Elige entre estas dos opciones la cual te permitir&aacute; el acceso a tu banca digital.
            </p>
        </div>
        <div>
            <i class="fa fa-keyboard-o"></i>
            <p class="blue">Contrase&ntilde;a</p>
            <p>
                Debe tener de 8 a 10 caracteres, esta contrase&ntilde;a te permitir&aacute; el acceso a tu banca digital.
            </p>
        </div>
    </div>
</div>