<div class="record">
    <div class="data">
        <h2>Registro de datos</h2>
        <p>Con los siguientes datos podr&aacute;s acceder a tu cuenta en Consubanco digital</p>
        <hr>
        <div class="user-data">
            <ng-form name="registerPasswordForm" class="register-pass">
                <div>
                    <input type="password" class="input-password" name="password" ng-model="registerData.password" placeholder="Contrase&ntilde;a" ng-pattern="/^([0-9]){0,2}([A-Za-z]{1,2}[0-9]{1,2})+([A-Za-z]){0,2}$/" ng-minlength="8" required>
                    <input type="password" class="input-password" ng-model="registerData.repeatPass" placeholder="Confirmar contrase&ntilde;a" required>
                </div>
                <div class="error" ng-show="error">{{errorMessage}}</div>
                <div class="error" ng-show="registerPasswordForm.password.$error.pattern">Su contraseña no puede haber más de dos caracteres consecutivos numéricos o alfabéticos</div>
                <div class="error" ng-show="registerPasswordForm.password.$error.minlength">Su contraseña debe tener al menos 8 caracteres</div>
                <button ng-click="gotoLogin()">Cancelar</button>
                <button ng-click="confirmPassword()" ng-disabled="registerPasswordForm.$invalid">Continuar</button>
            </ng-form>
        </div>
    </div>
   <div class="help">
        <h3>Ayuda</h3>
        <div>
            <i class="ico-alerta"></i>
            <p class="blue">Llena todos los campos</p>
            <p>
                Es muy importante que llenes todos los campos para que tu registro se realice con éxito.
            </p>
        </div>
        <div>
            <i class="ico-duda"></i>
            <p class="blue">¿No. de cuenta, No. de cliente o No. de Tarjeta? </p>
            <p>
                Elige entre estas dos opciones  la cual te permitirá el acceso a tu banca digital.
            </p>
        </div>
        <div>
            <i class="ico-duda"></i>
            <p class="blue">Contrase&ntilde;a</p>
            <p>
                Debe tener de 8 a 10 caracteres, esta contraseña te permitirá el acceso a tu banca digital.
            </p>
        </div>
    </div>
</div>
