<div class="record">
    <div class="data">
        <h2>Nivel de seguridad</h2>
        <p>Selecciona una imagen la cual tendr&aacute;s que validar cada que accedas a Consubanco digital.</p>
        <hr>
        <div class="user-data">
            <!-- images -->
            <div class="radioGroupBelow" align="center">
               <label for="{{image.id}}" ng-repeat="image in images">  <img ng-src="{{image.url}}" height="60" >
                    <input type="radio" name="imagegroup" ng-model="registerData.selectedImage" value="{{image.id}}">
                </label>
            </div>
            <!-- images -->
            <br>
            <div class="error" ng-show="error">{{errorMessage}}</div>
            <button ng-click="gotoLogin()">Cancelar</button>
            <button ng-click="confirmImage()" ng-disabled="true">Continuar</button>
        </div>
    </div>
   <div class="help">
    <h3>Ayuda</h3>
        <div>
            <i class="ico-alerta"></i>
            <p class="blue">Llena todos los campos</p>
            <p>
                Es muy importante que llenes todos los campos para que tu registro se  realice con éxito.
            </p>
        </div>    
        <div>
            <i class="ico-duda"></i>
            <p class="blue">¿Porqué elegir una imagen?</p>
            <p>
                Esto ayudará a aumentar el nivel de seguridad de tu cuenta.
            </p>
        </div>
        <div>
            <i class="ico-ayuda"></i>
            <p class="blue">¿Necesitas ayuda?</p>
            <p>
               Comunícate con nosotros al 01 800 800 3224.  
            </p>
        </div>
    </div>
</div>
