<div class="record">
    <div class="data">
        <h2>Información de Cuenta</h2>
        <p>Verifica que los datos de tu cuenta sean correctos.</p>
        <hr>
        <div class="user-data">
            <dl>
                <dt>Número de cliente:</dt>
                <dd><span>·······</span>02190</dd>
                <dt>Nombre:</dt>
                <dd>Abel Becerra Castro</dd>
                <dt>Sucursal de contratación:</dt>
                <dd>Eduardo molina</dd>
                <dt>Fecha de contratación:</dt>
                <dd>18 / JUN / 2014</dd>
            </dl>
            <button class="orange">Confirmar</button>
            <button class="blue">Cancelar</button>
        </div>
    </div>
    <div class="help">
        <div>
            <i class="fa fa-comments-o"></i>
            <p class="blue">¿Necesitas ayuda?</p>
            <p>
                Comunicate con nosotros <br>
                01 800 800 3245.
            </p>
        </div>
        <div>
            <i class="fa fa-keyboard-o"></i>
            <p class="blue">¿Aún no cuentas con tu token?</p>
            <p>
                Solcicítalo en la suscursal de tu peferencia o comunícate con nosotros.
            </p>
        </div>
    </div>
</div>
