<div class="record">
    <div class="data">
        <h2>&iexcl;Registro exitoso&excl;</h2>
        <p>Tu registro fue realizado con &eacute;xito</p>
        <hr>
        <div class="user-data">
            &iexcl;Tu proceso de registro ha sido existoso&excl; A partir de este momento podr&aacute;s realizar en Consubanco digital:
            <ol>
                <li>Consultas de saldos y movimientos</li>
                <li>Traspasos entre cuentas propias y a terceros</li>
                <li>Pago de Tarjetas de Cr&eacute;dito</li>
                <li>Inversiones</li>
            </ol>
            Gracias al uso del Token prodr&aacute;s realizar todas las operaciones Consubanco de manera m&aacute;s segura. Adem&aacute;s te permitir&aacute; operar tus con mayor flexibilidad y entre otros beneficios hacer pagos o trasferencias a cuentas de terceros.
            <br>
            <br>
            <button class="orange">Salir</button>
        </div>
    </div>
    <div class="help">
        <div>
            <i class="fa fa-comments-o"></i>
            <p class="blue">¿Necesitas ayuda?</p>
            <p>
                Comunicate con nosotros <br>
                01 800 800 3245.
            </p>
        </div>
        <div>
            <i class="fa fa-keyboard-o"></i>
            <p class="blue">¿Aún no cuentas con tu token?</p>
            <p>
                Solcicítalo en la suscursal de tu peferencia o comunícate con nosotros.
            </p>
        </div>
    </div>
</div>
