<div class="record" data-ng-init="init()">
    <div class="data">
        <div class="terms">
            <h3>Contrato de Banca Electr&oacute;nica</h3>

            <p>Clausulado del contrato de presentaci&oacute;n de servicios de Banca Electr&oacute;nica celebrado por Banco Nacional de M&eacute;xico, S.A. Integrante de Grupo Financiero BX+, en lo sucesivo &quot;BX+&quot; y la persona identificada en solicitud &uacute;nica BX+ a quien se le denomina como el &quot;Cliente&quot;</p>
            <br>
            <h3>Clausulas</h3>

            <p>PRIMERA. DEFINICIONES. Salvo que se indique lo contrario en el presente Convenio, las Partes est&aacute;n de acuerdo en que los siguientes t&eacute;rminos (cuando se usen con may&uacute;scula inicial) tendr&aacute;n los significados que a continuaci&oacute;n se establecen:</p>

            <p><strong>"Audiom&aacute;tico":</strong> Significa el Sistema Electr&oacute;nico, propiedad de BX+, el cual es accesible por el Cliente a trav&eacute;s del uso del tel&eacute;fono como medio de comunicaci&oacute;n, cuya utilizaci&oacute;n le permite convenir, mediante Instrucciones y eligiendo las opciones habilitadas en el Sistema Electr&oacute;nico, los Servicios Bancarios, utilizando Firmas Electr&oacute;nicas como medio de expresi&oacute;n de la voluntad del Cliente.</p>

            <p><strong>"Autenticaci&oacute;n":</strong> significa el conjunto de t&eacute;cnicas y procedimientos utilizados para verificar la identidad de un Cliente, sea, Usuario(s) o Apoderado Legal y expresa su consentimiento para realizar operaciones o recibir instrucciones a trav&eacute;s de los Medios de Comunicaci&oacute;n.</p>

            <p><strong>"Baja":</strong> significa cualquier Instrucci&oacute;n realizada electr&oacute;nicamente por un Usuario o Apoderado Legal para cancelar o revocar un Alta o cualquier otra operaci&oacute;n denominada como tal en cualquiera de los Medios de Comunicaci&oacute;n.</p>

            <p><strong>"BancaNet":</strong> Significa el Sistema Electr&oacute;nico, propiedad de BX+, el cual es accesible por el Cliente a trav&eacute;s del uso de Internet o Intranet como medio de comunicaci&oacute;n, cuya utilizaci&oacute;n le permite convenir mediante Instrucciones y eligiendo las opciones habilitadas en el Sistema Electr&oacute;nico, los Servicios Bancarios, utilizando Firmas Electr&oacute;nicas como medio de expresi&oacute;n de la voluntad del Cliente.</p>

            <p><strong>"Banca M&oacute;vil/ BancaNet M&oacute;vil/ BX+ M&oacute;vil":</strong> significa indistintamente el servicio de acceso a los Servicios a trav&eacute;s de un dispositivo celular, inal&aacute;mbrico o de radiofrecuencia cuyo n&uacute;mero de l&iacute;nea se encuentre asociado al Servicio.</p>

            <p><strong>"Banca Host to Host":</strong> Servicio de Banca Electr&oacute;nica mediante el cual se realiza a trav&eacute;s de la conexi&oacute;n del equipo de c&oacute;mputo del Cliente con un equipo de c&oacute;mputo de BX+, a trav&eacute;s de un enlace de telecomunicaci&oacute;n para el intercambio de archivos que contendr&aacute;n las instrucciones del Cliente para realizar operaciones monetarias, consultas de saldos, entre otras.</p>

            <p><strong>"Banca Telef&oacute;nica Audio Respuesta":</strong> servicio de Banca Electr&oacute;nica mediante el cual BX+ recibe instrucciones del Cliente o Usuario a trav&eacute;s de un sistema telef&oacute;nico, e interact&uacute;a con el propio Cliente o Usuario mediante grabaciones de voz y tonos o mecanismos de reconocimiento de voz, incluyendo los sistemas de respuesta interactiva de voz.</p>

            <p><strong>"Banca telef&oacute;nica voz a voz":</strong> Significa el servicio de Banca Electr&oacute;nica en el cual el Cliente o Usuario instruye v&iacute;a telef&oacute;nica a un ejecutivo de BX+ para que en su nombre realice sus operaciones y/o consultas.</p>

            <p><strong>"Bloqueo de Factores de Autenticaci&oacute;n":</strong> Significa el proceso por el cual BX+ inhabilita temporalmente el uso de un Factor de Autenticaci&oacute;n.</p>

            <p><strong>"Bit&aacute;cora":</strong> Significa el registro o asiento efectuado en forma electr&oacute;nica de todas y cada una de las operaciones relativas a los Servicios Bancarios convenidos y ejecutados entre el Cliente y BX+ a trav&eacute;s de los Sistemas Electr&oacute;nicos, mismos que permiten conocer en forma enunciativa mas no limitativa, el o los N&uacute;meros de Autorizaci&oacute;n, fechas, montos, tasas, precios, n&uacute;meros de cuenta, etc., respecto a cada uno de los Servicios Bancarios convenidos.</p>

            <p><strong>"Cliente":</strong> significa la persona f&iacute;sica que contando con representaci&oacute;n legal de la entidad jur&iacute;dica contratante de ser el caso, ha formalizado y expresado su consentimiento en nombre de su representada en cualquiera de las formas establecidas en ley, suscribiendo la Solicitud BX+ para la aceptaci&oacute;n del clausulado del presente contrato, a fin de poder utilizar los Medios de Comunicaci&oacute;n para realizar consultas, operaciones monetarias y cualquier otro tipo de transacci&oacute;n bancaria, financiera y/o de servicio con BX+.</p>

            <p><strong>"Cajeros Permanentes":</strong> Significa el Sistema Electr&oacute;nico, propiedad de BX+ o de terceros, el cual es accesible por el Cliente a trav&eacute;s del uso de terminales intercomunicadas electr&oacute;nicamente, ubicadas dentro o fuera del territorio nacional, y de tarjetas pl&aacute;sticas con caracteres magnetizables emitidas por BX+, cuya utilizaci&oacute;n le permite convenir, mediante Instrucciones y eligiendo las opciones habilitadas en el Sistema Electr&oacute;nico, los Servicios Bancarios, utilizando Firmas Electr&oacute;nicas, como medio de expresi&oacute;n de la voluntad del Cliente.</p>

            <p><strong>"Cargos Programados":</strong> significan las Instrucciones por escrito o a trav&eacute;s de los Medios de Comunicaci&oacute;n autorizados que el Cliente instruye para que BX+ le cargue a una o mas de sus Cuenta ciertas sumas de dinero con la periodicidad que asimismo especifique y las abone a la Cuenta de Abono del Cliente beneficiario de las mismas.</p>

            <p><strong>"Certificado Digital":</strong> significa el registro electr&oacute;nico que genera BX+ u otro tercero designado por &eacute;ste a su sola discreci&oacute;n o designado por disposici&oacute;n legal, mediante el cual se establece la autenticaci&oacute;n de los Mensajes de Datos comunicados, e identifica a las partes en la utilizaci&oacute;n de medios electr&oacute;nicos, &oacute;pticos o de cualquier otra tecnolog&iacute;a utilizada en el proceso de comunicaci&oacute;n, el cual deriva de la emisi&oacute;n de una clave p&uacute;blica.</p>
        </div>
        <div>
            <hr>
            <div class="user-data">
                <button ng-click="gotoLogin()">No acepto</button>
                <button ng-click="completeStep(1)">Acepto</button>
            </div>
        </div>
    </div>

    <div class="help">
        <h3>Ayuda</h3>
        <div>
            <i class="ico-ayuda"></i>
            <p class="blue">¿Necesitas ayuda?</p>
            <p>
               Comun&iacute;cate con nosotros al 01 800 800 3224.
            </p>
        </div>
    </div>

</div>
