<div class="record">
    <div class="data">
        <h2>&iexcl;Registro exitoso&excl;</h2>
        <p>Tu registro fue realizado con &eacute;xito</p>
        <p ng-show="tokenRegistrationFailed" class="error">
            Su token no ha sido activado, debe activarlo en el panel de administración
        </p>
        <hr>
        <div class="user-data">
            <p>&iexcl;Tu proceso de registro ha sido exitoso&excl; A partir de este momento podr&aacute;s realizar en BX+ digital:</p>
            <ol>
                <li>Consultas de saldos y movimientos</li>
                <li>Traspasos entre cuentas propias y a terceros</li>
                <li>Pago de Tarjetas de Cr&eacute;dito</li>
                <li>Inversiones</li>
            </ol>
            <p>Gracias al uso del Token podr&aacute;s realizar todas las operaciones BX+ de manera m&aacute;s segura. Adem&aacute;s te permitir&aacute; operar tus cuentas con mayor flexibilidad y entre otros beneficios hacer pagos o trasferencias a cuentas de terceros.</p>
            <button ng-click='gotoLogin()'>Salir</button>
        </div>
    </div>
    <div class="help">
        <h3>Ayuda</h3>
        <div>
            <i class="ico-ayuda"></i>
            <p class="blue">¿Quieres saber m&aacute;s sobre BX+ digital?</p>
            <p>
                Comun&iacute;cate con nosotros al 01 800 800 3224 y resolveremos todas tus dudas.
            </p>
        </div>
        <div>
            <i class="ico-duda"></i>
            <p class="blue">¿A&uacute;n no cuentas con tu token?</p>
            <p>
                Solic&iacute;talo en la sucursal de tu preferencia o comun&iacute;cate con nosotros.
            </p>
        </div>
    </div>
</div>
