/*
|-------------------------------------------------------------------------------------
|	Above 1024px
|-------------------------------------------------------------------------------------
*/

@media only screen and (max-width:1024px){
	//@extend %min-width-screen-desktop;
	body, main{
		min-width:100%;
		width:100%;
		.row{
			min-width:100%;
			width:100%;
		}
		.wrapper{
			font-size:0.9em;
			min-width:100%;
			width:100%;
			overflow: hidden;
			.wrapper .row{
				margin: 0;
			}
			> div{
				margin-right: 2em;
				&:first-child{
					margin-left: 2em;
				}
			}
		}
	}
	header{
		.logo a{display:block; margin-left: 2em;}
	}
	footer{
		p{margin-left: 2em;}
		a{margin-right: 2em;}
	}
	//LOGIN
	.action-call-apps span a{
		&:first-child{
			background: url(../images/logo-apple-store.svg) no-repeat left center;
			background-size: auto 42px;
		}
		&:nth-child(2){
			background: url(../images/logo-google-play.svg) no-repeat right center;
			background-size: auto 42px;
		}
	}

	//REGISTRATION
	.registration{
		.steps{
			h3{font-size: 1.5em;}
			ul,li{font-size:1em;}
			progress{
				&.four-steps {
			        left: -36%!important;
			        top: 230px!important;
			        width: 250px!important;
			    }
			}
		}
		.data{
			margin-right: 10px;
		}
		.help{
			margin: 5px 0 0 5px;
			h3{margin-bottom: 20px;}
		}
	}

	//PRODUCTS
	.user-session {
		position: absolute;
		overflow: visible;
		left:183px;
		width: 80%;
		top:-10px;
		height: 40px;
		> div{
			width: 60%;
			h6:after{content:": ";}
			h6,h4{display: inline-block;}
		}
		button{
			position: absolute;
			width: 15%;
			right:1em;
		}
	}
	.header{
		&.statement{width:95%;margin-left: 1%;}
		.title{
			font-size: 1.2em;
			@include column(3.8);
		}
		.payment-actions button{font-size:0.75em;}
		> a, > a:hover, > a:active{width:110px;}
	}
	.search{
		input {
			&[type*=text],
			&[type*=search]{
				padding: 8px 10px;
				width: 45%;
			}
		}
	}
	.filter{
		.inline{
			h4{
				float: left;
				width: 28%;
				+ .right{
					width:70%;
					position: relative;
					overflow: hidden;
					float:right;
					p{
						font-size: 1em;
						width: 50%;
						i{
							width: 28px;
						}
					}
				}
			}
		}
	}
	

	//TRANSF
	.actions{
		margin:0;
		width:25%;
		h2{font-size:1.6em;}
	}
	.product-details{
		margin-left:0;
		margin-right:0;
		width: 70%;
		margin-left:1%;
	}
	.content{
		margin: 40px 0 0 2%;
		width: 91%;
		.header{
			width: 100%;
			padding: 0 2% 15px 2%;
			h2, p {width: 50%;}
			h2{font-size:2em;}
			> p{clear:both;}
			.progress, progress{
				width: 45%;
			}
			.progress{right:12px;}
		}
		.message{
			p:first-child {
	            width: 70% !important;
	            margin: 15px 0 0 80px;
	        }
	        .print p{margin: 0;}
		}
	}
	.fieldContainer{
		span{
			padding:15px 0;
		}
	}

	//MAP
	.angular-google-map-container{bottom:111px;}
	.map-footer{
		ul{
			width: 95%;
		}
	}
	.busqueda{
		width: 80%;
		margin-left: -40%;
	}

	//ADMIN
	.submenu nav ul li a{
		padding: 20px 0;
	}
	.prefyseg{
		> div{
			width: 40%;
			.message p{margin-top:10px;}
			&:last-child > div .message p{margin-top: 10px;}
		}
	}
	.agregarBeneficiario{
		width: 62%;
		&.actions{
			float:left;
			width: 32%;
		}
		>form{
			input{width: 70%;}
			button, button:hover, button:active{
				padding:7px 10px;
				line-height: 2em;
			}
		}
	}
	.beneficiariowidget{
		width: 90%;
		&.actions{
			float:left;
		}
		.message p{
			margin-top: 12px;
		}
	}
}

@media only screen and (max-height:768px){
	.actions{
		min-height:540px;
	}
}