/*
|-------------------------------------------------------------------------------------
|	Above 960px
|-------------------------------------------------------------------------------------
*/
@media only screen and (max-width:960px){
	body, main{
		min-width:100%;
		width:100%;
		.row{
			min-width:100%;
			width:100%;
		}
		.wrapper{
			font-size:0.8em;
			min-width:100%;
			width:100%;
			overflow: hidden;
			.wrapper .row{
				margin: 0;
			}
			> div{
				margin-right: 2em;
				&:first-child{
					margin-left: 2em;
				}
			}
		}
	}
	header{
		.logo a{display:block; margin-left: 2em;}
	}
	footer{
		p{margin-left: 2em;}
		a{margin-right: 2em;}
	}
}