<div>
    <div class="header statement" ng-click="back()">
        <a><i class="fa fa-file-pdf-o"></i>Estados de cuenta<span>{{activeAccountName}}</span></a>
    </div> 
    <hr>
    <div class="transactions">    
        <table class="details">
            <thead>
                <tr>
                    <th scope="col" colspan="3">{{year.label}}</th>
                </tr>
            </thead>
            <tbody>
                    <tr ng-repeat="statement in statements | filter:year.value | filter:month.value">
                        <td>{{statement.date}}</td>
                        <td><a target="_blank" href="#" ng-href="{{getStatementUrl(statement.id, 'PDF');}}">Descargar PDF</a></td>
                        <td><a target="_blank" href="#" ng-href="{{getStatementUrl(statement.id, 'XML');}}">Descargar XML</a></td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>
