<div class="filter">
  <div class="inline"><!--CREDITOS-->
    <h4>B&uacute;squeda por rango de fechas</h4>
    <div class="right">
      <p>Fecha inicial:
      <input type="date" ng-model="searchParams.date_start" ng-change="search()"><i></i></p>
      <p>Fecha final:
      <input type="date" ng-model="searchParams.date_end" ng-change="search()"><i></i></p>
    </div>
  </div>
</div>
<div class="transactions">
    <table class="details">
        <thead>
            <tr>
                <th scope="col">Fecha de descuento</th>
                <th scope="col">Descripci&oacute;n</th>
                <th scope="col">Capital</th>
                <th scope="col">Inter&eacute;s e IVA</th>
                <th scope="col">Total</th>
                <th scope="col">Fecha de aplicaci&oacute;n</th>

            </tr>
        </thead>
        <tbody>
                <tr ng-repeat="trans in creditTransactions">
                    <td>{{trans.movementDate | date:'dd-MM-yyyy' }}</td>
                    <td>{{trans.description}}</td>
                    <td>{{trans.capital | currency}}</td>
                    <td>{{trans.tax | currency}}</td>
                    <td>{{trans.amount | currency}}</td>
                    <td>{{trans.dateApplication | date:'dd-MM-yyyy' }}</td>
                </tr>
        </tbody>
    </table>
</div>
