<div class="content pagosytransf">
    <div class="header">
        <h2>Retiro de inversi&oacute;n</h2>
        <p>Ingresa los datos para el retiro de inversi&oacute;n</p>
        <progress max="3" value="1"></progress>
        <div class="progress">
            <p class="orange">captura</p>
            <p>confirmaci&oacute;n</p>
            <p>comprobaci&oacute;n</p>
        </div>
    </div>
    <form name="investmentForm">
        <i class="inv-first-select"><span>Cuenta VISTA de la cual se har&aacute; el retiro</span></i>
        <div class="dropdown">
          <div class="dropdown-toggle select-style" type="button" data-toggle="dropdown" ng-class="investment.vistaAccount != '' ? 'selected' : ''">
            <span>Producto de inversi&oacute;n</span>
            <p>{{investment.vistaAccount == '' ? 'Producto de inversi&oacute;n' : investment.vistaAccount.masked_account_number}}<br>
                <span>{{investment.vistaAccount.detail}}</span></p>
          </div>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="item in vistaAccounts" ng-model="investment.vistaAccount" ng-click="investment.vistaAccount = item" ng-required="true">{{item.displayName}}</li>
          </ul>
        </div>

        <i class="inv-sec-select"><span>Cuenta eje a la cual se har&aacute; el dep&oacute;sito para invertir a la cuenta VISTA</span></i>
        <div class="dropdown">
          <div class="dropdown-toggle select-style" type="button" data-toggle="dropdown" ng-class="investment.depositAccount != '' ? 'selected' : ''">
            <span>Cuenta destino</span>
            <p>{{investment.depositAccount == '' ? 'Cuenta destino' : investment.depositAccount.masked_account_number}}<br>
                <span>{{investment.depositAccount.detail}}</span></p>
          </div>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="item in depositAccounts" ng-model="investment.depositAccount" ng-click="investment.depositAccount = item" ng-required="true">{{item.displayName}}</li>
          </ul>
        </div>

        <span>
            <label class="fieldContainer" ng-class="!investmentForm.amount.$error.required ? 'selected' : ''">
                <span class="big">Importe</span>
                <input type="text" currency numbers-only name="amount" ng-model="investment.amount" placeholder="Importe a retirar" class="input-importe" maxlength="15" ng-required="true">
            </label>
        </span>
    </form>
    <div class="double-btn">
        <input type="submit" value="Cancelar" ng-click="reset()">
        <input type="submit" value="Continuar" ng-click="gotToConfirmation()" ng-disabled="investmentForm.$invalid">
    </div>
</div>
