<div class="content">
    <div class="header">
        <h2>Compra de inversi&oacute;n</h2>
        <p>Ingresa los datos para la compra de inversi&oacute;n</p>
        <progress max="3" value="1"></progress>
        <div class="progress">
            <p class="orange">captura</p>
            <p>confirmaci&oacute;n</p>
            <p>comprobaci&oacute;n</p>
        </div>
    </div>
    <form name="investmentForm">
        <div class="select-style" ng-class="portfolio.product ? 'selected' : ''">
            <span>Producto de inversi&oacute;n</span>
            <select ng-model="portfolio.product" 
                    ng-options="item as item.productName group by item.category for item in invProducts | filter: { category: invType }">
                <option value="">Producto de inversi&oacute;n</option>
            </select>
        </div>
        <div class="select-style" ng-class="portfolio.account ? 'selected' : ''">
            <span>Cuenta origen</span>
            <select ng-model="portfolio.account" ng-options="item as item.name for item in theAccounts | filter: { account_type: 'DEP' }">
                <option value="">Cuenta origen</option>
            </select>
        </div>
        <span ng-if="selection > 2">
            <div class="select-style" ng-class="portfolio.expiration ? 'selected' : ''">
                <span>Instrucciones al vencimiento</span>
                <select ng-model="portfolio.expiration" ng-options="">
                    <option value="">Instrucciones al vencimiento</option>
                </select>
            </div>
        </span>
        <span ng-if="selection == 2">
            <label class="fieldContainer" ng-class="portfolio.amount.length > 0 ? 'selected' : ''">
                <span class="big">Importe a retirar</span>
                <input type="text" ng-model="portfolio.amount" placeholder="Importe a retirar" class="input-importe">
            </label>
        </span>
        <span ng-if="selection != 2">
             <label class="fieldContainer" ng-class="portfolio.amount.length > 0 ? 'selected' : ''">
                <span class="big">Importe de inversi&oacute;n</span>
                <input type="text" ng-model="portfolio.amount" placeholder="Importe de inversi&oacute;n" class="input-importe">
            </label>
            <a href="#">Catalogo de Plazos y Montos de inversi&oacute;n</a>
        </span>
    </form>
    <div class="double-btn">
        <input type="submit" value="Cancelar" ng-click="completeStep(1)">
        <input type="submit" value="Continuar" ng-click="completeStep(2)" ng-disabled="investmentForm.$invalid">
    </div>
</div>
