<div class="products">
    <div class="outter">
        <div ng-include="'views/partials/layout/main-header.html'"></div>
        <main>
            <div class="wrapper">
                <div class="wrapper">
                    <div class="row">
                        <div class="actions">
                            <h2>Mis Operaciones</h2>
                            <div class="section">
                                <div class="payment">
                                    <p>Hacer un pago</p>
                                </div>
                                <div class="transfer">
                                    <p>Hacer una transferencia</p>
                                </div>
                            </div>
                            <h2>Mis Beneficiarios</h2>
                            <div class="section">
                                <div class="beneficiary">
                                    <p>Agregar un nuevo beneficiario</p>
                                </div>
                            </div>
                            <div class="help">
                                <h2>Ayuda</h2>
                            </div>
                        </div>
                        <div ng-include="'views/partials/mytransfers/capture-data.html'"></div>
                        <div ui-view>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div ng-include="'views/partials/layout/main-footer.html'"></div>
    </div>
</div>
