/*
|-------------------------------------------------------------------------------------
|	Administration
|-------------------------------------------------------------------------------------
*/
//PREFERNCIAS Y SEGURIDAD
.prefyseg{
	margin-top: 20px;
	overflow:hidden;
	> div{
		float:left;
		border:1px solid $gray;
		background:white;
		padding: 15px 0;
		width:45%;
		margin-right: 2%;
		@include border-radius(4px);
		h3{
			color:$blue;
			width: 90%;
			margin:0 auto 20px auto;
			font-size: 1.2em;
			text-align: center;
			padding-bottom: 20px;
			border-bottom:1px solid $gray;
			+ p, + p + p{
				width: 90%;
				text-align: center;
				margin:0 auto 10px auto;
			}
		}
		button{
			width: 80%;
			margin-left:10%;
		}
		&:first-child{
			background: #f7f7f7;
			width: 20%;
			h3{
				font-weight: normal;
				border:none;
			}
			li{
				border:none;
				font-weight: bold;
				color:$dgray;
				padding: 8px 15px;
				background:transparent;
				@include anim_transicion_ease(0.3s);
				@include border-radius(0);
				&.selected, &:hover{
					background:$orange;
					color:white;
				}
			}
			.candado{
				margin: 30px 15px;
				border:1px solid $gray;
				background:white;
				color:$dgray;
				text-align: center;
				padding-top:15px;
				@include border-radius(4px);
				i{
					display: block;
					width: 140px;
					height: 140px;
					margin: 10px auto;
					background:url(../images/ico-candado.png) no-repeat center center;
					background-size:130px;
				}
				a{
					display: block;
					background:$lgray;
					border-top:1px solid $gray;
					color:$blue;
					font-weight: bold;
					text-align: center;
					padding: 10px 0;
				}
			}
		}
		&:last-child{
			width: 31%;
			margin-right: 0;
			border:none;
			background:none;
			padding:0;
			> div{
				border:1px solid $gray;
				background:white;
				padding: 15px 0;
				margin-bottom: 20px;
				@include border-radius(4px);
				&:first-child{
					button, button:hover, button:active{
						background:white;
						color:$blue;
						border:1px solid $blue !important;
						margin-bottom: 10px;
						&:last-child{margin-bottom: 0;}
					}
				}
				h3{
					color:$blue;
					width: 90%;
					margin:0 auto 20px auto;
					font-size: 1.2em;
					text-align: center;
					padding-bottom: 20px;
					border-bottom:1px solid $gray;
				}
				.fieldContainer{
					width: 90%;
					margin:0 auto 10px auto;
					input{
						border:none;
						padding:10px;
						width: 100%;
						&:focus{
							box-shadow:none;
						}
					}
					&.selected{
						input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
							width:67%;
						}
					}
				}
			}
		}
	}
}

.submenu:before{
	content:"";
	display: block;
	height:1px;
	width: 100%;
	top:0;
	left:0;
	right:0;
	margin-top:58px;
	border-bottom: 1px solid $lgray;
	position: absolute;
}
.submenu{
	nav{
		ul{
			overflow: hidden;
			li{
				float:left;
				margin-right:60px;
				a{
					color:$blue;
					font-weight: bold;
					display: block;
					padding: 20px 0 17px 0;
					border-bottom:3px solid white;
				}
				a:hover, a:active, a.active{
					color:$orange;
					border-color:$orange;
				}
			}
		}
	}
}
.submenu + div > .animate-switch{
	margin-top: 30px;
	border:1px solid $lgray !important;
	overflow:hidden;
	@include border-radius(4px);
}
.animate-switch{
	overflow:hidden;
}
.agregarBeneficiario{
	float:left;
	width:70%;
	border-right:1px solid $lgray;
	>form{
		margin: 15px;
		input:focus{
			border-color:$orange;
			box-shadow:none;
		}
		input{
			padding:10px;
			width: 75%;
			margin-right: 2%;
			border:1px solid $gray;
			@include border-radius(4px);
			background: url(../images/ico-lupa.png) no-repeat 98% center, white;
			background-size:30px;
		}
		button, button:hover, button:active{
			background:white !important;
			border:1px solid $blue !important;
			overflow: hidden;
			color:$blue;
			font-weight: normal;
			font-size: 0.9em;
			padding:10px;
			text-align: center;
			i{
				display: block;
				float:left;
				width:30px;
				height: 20px;
				background:url(../images/ico-usuario-azul.png) no-repeat center center;
				background-size:23px;
			}
		}
	}
}
.actions.agregarBeneficiario{
	margin:0;
	border:none;
	border-left:1px solid $lgray;
	float:right;
	width: 30%;
	li:hover, li:active{
		background: $lgray;
	}
	li{
		cursor: pointer;
		border-radius:0;
		color:$blue;
		display: block;
		border:none;
		border-bottom:1px solid $lgray;
		overflow: hidden;
		background: white;
		span{
			float: right;
			color:$dgray;
		}
	}
	li:last-child{
		border:none;
	}
	thead{
		th{
			padding-top:5px;
			padding-bottom:5px;
		}
		th:first-child{
			text-align: left;
			padding-left: 10px;
		}
		th:last-child{
			text-align: right;
			padding-right: 10px;
		}
	}
	tbody{
		td{
			padding-top:5px;
			padding-bottom:5px;
		}
		td:first-child{
			text-align: left;
			padding-left: 10px;
		}
		td:last-child{
			text-align: right;
			padding-right: 10px;
		}
	}
}
