/*
|-------------------------------------------------------------------------------------
|	Login
|-------------------------------------------------------------------------------------
*/

.login {
  height: 100%;
	.outter {
		background: url(../images/bg-login.jpg) center center no-repeat;
		background-size: cover;
	}

	 main {
	 	.wrapper > div {
	 		float: right;
	 		padding-top: 50px;

	 		form {
	 			background-color: white;//rgba(255,255,255,0.9);
	 			border-radius: 4px;
	 		}

	 		&:first-child {
				color: #FFF;
	 			float: left;
	 			position: relative;

				h2 {
					@include text-shadow(#000);
					text-transform: uppercase;
					margin-bottom: 16px;
					font-size: 2em;
				}
	 		}
	 	}
	}
}
.welcome {
	p {
		@include text-shadow(#000);
		font-size: 1.9em;
		strong:first-child {
			display: block;
		}
	}
}
.user-login, .user-registration{
	padding: 15px 18px;
	width: 380px;
	&.images{
		padding:15px 0;
		.buttons{
			overflow:hidden;
			margin: 0 auto;
			width:90%;
		}
		.error{ padding:10px;}
	}
	label {
		color: $blue;
		display: block;
		text-align: center;

		a {
			display: inline;
		}
	}
	input,input:focus{
		box-shadow:none;
	}
	input.rojo {
		border-radius: 4px;
		border: 1px solid #e00101;
	}

	.incorrectUser{
		margin: 2px auto;
	  background:url(../images/ico-error.png) no-repeat left top;
	 	background-size:15px;
	 	color:#e00101;
	 	font-size: 13px;
	 	font-style: italic;
	 	margin-top: -10px;
	 	padding: 0 10px 10px 30px;
	}

	.buttons{
		overflow:hidden;
		margin: 0 auto;
		input{
			width:48%;
			margin-bottom: 0 !important;
		}
		input:first-child{
			float:right;
		}
		input:last-child{
			float:left;
			margin-right: 4%;
		}
	}

	p {
		text-align: center;
		margin: 5px auto 0 auto;
		color:$dgray;
	 	font-size: 10px;
	}

	h2 {
		text-align: center;
		margin: 5px;
		color: $blue;
	 	font-size: 16px;
	}

	h3 {
		text-align: center;
		margin: 15px -18px;
		padding-bottom: 15px;
		border-bottom: 1px solid #f4f4f4;
		color:$dgray;
	 	font-size: 17px;
	}

	.blue-min{
		text-align: center;
		margin: 10px;
		color:$blue;
		font-weight: bold;
	 	font-size: 14px;
	}

	.gray-min{
		text-align: center;
		margin: 10px auto;
		color: $dgray;
	 	font-size: 12px;
	}

	input {
		border-radius: 4px;
		border: 1px solid $gray;
		padding: 10px;
		width: 100%;

		&:first-child {
			margin-bottom: 10px;
		}
	}
	.search {
		padding: 8px;
		border: none;
	}
}
.user-login {
	margin: 0 0 20px;
	position: relative;
	.loader{
		left:50%;
		margin:-35px 0 0 -100px;
	}
	label {
		padding: 10px 0;
		text-transform: uppercase;
	}
	input[type="text"]{
		margin-bottom: 15px;
		background:url(../images/ico-usuario-login.png) no-repeat 95% center, white;
		background-size:25px;
	}
	input[type="password"]{
		background:url(../images/ico-password-login.png) no-repeat 95% center, white;
		background-size:25px;
		margin:15px auto !important;
		width: 90%;
		display: block;
	}
	input[type="text"]:focus, input[type="password"]:focus{
		border-color:$orange;
	}
	.alert {
		background-color: $blue;
		border-radius: 4px;
		display: block;
		color: #FFF;
		margin-top: 20px;
		padding: 10px 14px;

		i {
			float: right;
		}
	}
}
.user-registration {
	label{
		margin-bottom: 20px;
	}
	input[name*=contract-number] {
		margin: 10px 0;
	}
	input[type="text"]:focus{
		border-color:$orange;
	}
	.loader{
		margin:-15px 0 0 70px;
	}
}
.action-call-apps {
	width:70%;
	background:white;
	padding: 15px;
	margin-top: 50px;
	overflow:hidden;
	@include border-radius(4px);
	h3{
		color:$orange;
		text-align:center;
		margin-bottom:15px;
		font-size: 1em;
		font-weight: normal;
	}
	span{
		display: block;
		position: relative;
		overflow: hidden;
		width: 100%;
		a{
			display: block;
			float:left;
			width: 48%;
			height: 50px;
			@include hide-text;
			&:first-child{
				margin-right: 4%;
				background: url(../images/logo-apple-store.svg) no-repeat left center;
				background-size: auto 50px;
			}
			&:nth-child(2){
				background: url(../images/logo-google-play.svg) no-repeat right center;
				background-size: auto 50px;
			}
		}
	}
}

/* center radio below label */
.radioGroupBelow{
	overflow:hidden;
	padding:15px;
	border-bottom: 1px solid #f4f4f4;
	.loader{
		top:100px;
		left:-20%;
	}
	span{
		display:block;
		float:left;
		width: 64px;
		height: 64px;
		overflow: hidden;
		margin: 6px;
		position: relative;
		cursor: pointer;
		border:1px solid white;
		@include border-radius(4px);
		&:hover, &:active{
			border-color:$orange;
		}
		&:first-child{
			margin-left: 0;
		}
		&.selected{
			i{
				display: block;
			}
		}
		i{
			display: none;
			position: absolute;
			width: 100%;
			height: 100%;
			background:url(../images/ico-ok-white.png) no-repeat 90% 90%,rgba(252,101,27,0.7);
			background-size:20px;
			@include border-radius(4px);
			@include anim_transicion_ease();
		}
		img{
			width: 110%;
			height: auto;
		}
	}
}