/*
|-------------------------------------------------------------------------------------
|	Login
|-------------------------------------------------------------------------------------
*/

.sucursales{
	color: #FC651B;
	font-size: 18px;
	margin-left: 70px;
	padding: 10px;
}

.busqueda{
	position: fixed;
	top: 50%;
	left: 30%;
	z-index:100;
	width: 45%;
}

.busqueda-detalle{
	color:grey;
	background-color: #2976b6;
	padding:20px
}

.sucursal-modulo{
	background-color: rgba(255, 255, 255, 0.7);
	padding:10px;
	text-align:center;
	height:40px;
	color:blue;
}

.naranja {
	background-color: #FC651B;
}

.resultado{
	padding:10px;
	border-bottom: solid 1px #ccc;
}

.angular-google-map-container {
	height: 380px;
}

.half {
	width: 50%;
	float: right;
}

.container{
	text-align:center;
	width:100%
}

.left{
	float: left;
}

.center{
	display: inline;
}

.right{
	float: right;
}

.branches-locator {
	// background-color: #fff;
	border-radius: 4px 0 0 4px;
	float: right;
	margin-right: 30px;
	padding-left: 10px;
	position: relative;

	> input[type*=text] {
		border: none;
		border-radius: 4px 0 0 4px;
		float: left;
		line-height: 36px;
		min-width: 300px;
		padding-left: 14px;
		padding: 0 0 0 14px;
	}

	.bootstrap-select {
		background: white;
		border-left: 1px solid $gray;
		color: $dgray;
		float: left !important;
		height: 36px;
		width: 100px;

		.btn {
			background: transparent;
			color: $dgray;
			height: 100%;
			padding-left: 14px;
		}
	}
	.search {
		border-radius: 0 4px 4px 0;
		font-size: 16px;
		float: left;
		margin: 0;
		padding: 8px 12px;
		position: relative;
	}
}
.align {
	margin-top: 30px;
}
.login {

  height: 100%;

	.outter {
		background: url(../images/bg-login.jpg) 0 0 no-repeat;
		background-size: cover;
	}

	 main {
	 	.wrapper > div {
	 		display: inline;
	 		float: right;
	 		padding-top: 40px;

	 		form {
	 			background-color: #fff;
	 			border-radius: 4px;
	 		}

	 		&:first-child {
				color: #FFF;
	 			float: left;
	 			position: relative;

				h2 {
					@include text-shadow(#000);
					text-transform: uppercase;
					margin-bottom: 16px;
					font-size: 32px;
				}
	 		}
	 	}
	}
}
.welcome {
	p {
		@include text-shadow(#000);
		font-size: 28px;
		strong:first-child {
			display: block;
		}
	}
}
.user-login,
.user-registration {
	padding: 15px 18px;
	width: 380px;
	label {
		color: $blue;
		display: block;
		text-align: center;

		a {
			display: inline;
		}
	}
	input,input:focus{
		box-shadow:none;
	}
	input.rojo {
		border-radius: 4px;
		border: 1px solid #e00101;
	}

	.incorrectUser{
		margin: 2px auto;
	  background:url(../images/ico-error.png) no-repeat left top;
	 	background-size:15px;
	 	color:#e00101;
	 	font-size: 13px;
	 	font-style: italic;
	 	margin-top: -10px;
	 	padding: 0 10px 10px 30px;
	}

	.buttons{
		overflow:hidden;
		margin: 0 auto;
		input{
			width:48%;
			margin-bottom: 0 !important;
		}
		input:first-child{
			float:right;
		}
		input:last-child{
			float:left;
			margin-right: 4%;
		}
	}

	p {
		text-align: center;
		margin: 5px auto 0 auto;
		color:$dgray;
	 	font-size: 10px;
	}

	h2 {
		text-align: center;
		margin: 5px;
		color: $blue;
	 	font-size: 16px;
	}

	h3 {
		text-align: center;
		margin: 15px -18px;
		padding-bottom: 15px;
		border-bottom: 1px solid #f4f4f4;
		color:$dgray;
	 	font-size: 17px;
	}

	.blue-min{
		text-align: center;
		margin: 10px;
		color:$blue;
		font-weight: bold;
	 	font-size: 14px;
	}

	.gray-min{
		text-align: center;
		margin: 10px auto;
		color: $dgray;
	 	font-size: 12px;
	}

	input {
		border-radius: 4px;
		border: 1px solid $gray;
		padding: 10px;
		width: 100%;

		&:first-child {
			margin-bottom: 10px;
		}
	}
	.search {
		padding: 8px;
		border: none;
	}
}
.user-login {
	margin: 0 0 20px;
	position: relative;
	.loader{
		left:50%;
		margin:-35px 0 0 -100px;
	}
	label {
		padding: 10px 0;
		text-transform: uppercase;
	}
	input[type="text"]{
		margin-bottom: 15px;
		background:url(../images/ico-usuario-login.png) no-repeat 95% center, white;
		background-size:25px;
	}
	input[type="password"]{
		background:url(../images/ico-password-login.png) no-repeat 95% center, white;
		background-size:25px;
		margin-bottom: 15px;
	}
	input[type="text"]:focus, input[type="password"]:focus{
		border-color:$orange;
	}
	.alert {
		background-color: $blue;
		border-radius: 4px;
		display: block;
		color: #FFF;
		margin-top: 20px;
		padding: 10px 14px;

		i {
			float: right;
		}
	}
}
.user-registration {
	label{
		margin-bottom: 20px;
	}
	input[name*=contract-number] {
		margin: 10px 0;
	}
	input[type="text"]:focus{
		border-color:$orange;
	}
	.loader{
		margin:-15px 0 0 70px;
	}
}
.action-call-apps {
	//@include rgbabg(#FFF, .9);
	background-color : rgba(255, 255, 255, 0.901961);
	border-radius: 4px;
	left: 0;
	padding: 10px;
	padding: 14px;
	position: absolute;
	top: 150%;

	&:before {
		color: $orange;
		content: "Descarga nuestra aplicación:";
		display: block;
		font-size: 16px;
		padding-bottom: 10px;
		text-align: center;
	}
	ul {
		@include clearfix;
	}
	li {
		float: left;

		&:first-child {
			border-right: 1px solid $gray;
			margin-right: 10px;
			padding-right: 10px;
		}
	}
	a {
		@include hide-text;
		height: 50px;
		background-size: contain;
		background-repeat: no-repeat;

		&[href*=apple] {
			background-image: url(../images/logo-apple-store.svg);
			width: 169px;
		}
		&[href*=play] {
			background-image: url(../images/logo-google-play.svg);
			width: 144px;
		}
	}
}

/* center radio below label */

.radioGroupBelow {
	height:120px;
	overflow:hidden;
	overflow-x:scroll;
	margin:0 -18px 15px -18px;
	border-bottom: 1px solid #f4f4f4;
	.loader{
		top:100px;
		left:-20%;
	}
	div{
		width: 200%;

	}
	img{
		@include border-radius(4px);
	}
	label{
	  	display: inline-block;
	  	text-align: center;
	  	margin: 0 0.2em;
	 	input[type="radio"] {
		    display: block;
		    margin: 0.3em auto;
		    width: auto;
		}
	}
}
