/*
|-------------------------------------------------------------------------------------
|	Left menu
|-------------------------------------------------------------------------------------
*/
.pagosytransf{
    float:right;
    margin-right: 5% !important;
    width:65% !important;
}
.animate-switch {
    border: none !important;
}
form span + table{border-top:1px solid $gray;tr:first-child td{padding-top:30px;}}
form[name="investmentForm"], form[name="transferForm"], form[name="paymentForm"]{
    position: relative;
    .inv-first-select, .inv-sec-select{
        display: block;
        font-style: normal;
        background: url(../images/ico-alert.png) no-repeat center center;
        background-size:30px;
        width: 30px;
        height: 30px;
        position: absolute;
        z-index: 999999;
        margin-left: 72%;
        margin-top: 2px;
        span{display: none;}
        &:hover{
            span{
                position: absolute;
                display: block;
                width: 130px;
                margin:-5px 0 0 35px;
                border:1px solid $blue;
                padding: 5px;
                color:$blue;
                text-align: center;
                @include border-radius(4px);
                &:before{
                    content:"";
                    position: absolute;
                    display: block;
                    background:white;
                    border:1px solid $blue;
                    border-top: none;
                    border-right: none;
                    margin: 10px 0 0 -11px;
                    width: 10px;
                    height: 10px;
                    -ms-transform: rotate(45deg);
                    -webkit-transform: rotate(45deg); 
                    transform: rotate(45deg);   
                }
            }
        }
    }
    .inv-sec-select{
        margin-top: 17px;
        span{
            background:$blue;
            color:white !important;
            &:before{
                content:"";
                position: absolute;
                display: block;
                background:$blue !important;
                margin: 10px 0 0 -10px;
                width: 10px;
                height: 10px;
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg); 
                transform: rotate(45deg);    
            }
        }
    }
    .select-style:last-child:after{display: none;}
    + a, a:hover, a:active{
        color:$blue;
        text-decoration: underline;
        display: block;
        margin-top: 10px;
    }
}
.select-style:active{
    border-color:$orange;
}
.dropdown{
    .select-style{
        background:url(../images/ico-abajo.png) no-repeat 98% center, white;
        background-size:25px;
        p{
            padding:10px;
            color:$dgray;
        }
        &.selected{
            > span{
                display: block;
                overflow: hidden;
            }
            p{
                font-size: 1em;
                float:right;
                width: 67.5%;
            }
        }
    }
    ul.dropdown-menu{
        width: 70%;
        padding:0;
        overflow: hidden;
        li{
            font-size:0.9em;
            color:$dgray;
            padding:7px 10px;
            border-bottom:1px solid $lgray;
            &:hover{
                color:white;
                background:$orange;
            }
            &.dropdown-header{
                background:$lgray;
                font-weight: bold;
                color:$dgray;
            }
            a{
                color:$blue !important;
                text-decoration: underline;
                background: none;
                padding:0;
                &:hover{
                    color:white !important;
                    background: none;
                    padding:0;
                    margin: 0;
                }
            }

        }
    }
}
.select-style{
    overflow: hidden;
    position: relative;
    width: 70%;
    padding: 0;
    margin: 15px 0 0 0;
    border: 1px solid $gray;
    @include border-radius(4px);
    background: white;
    position: relative;
    &.selected{
        > span{
            display: block;
            overflow: hidden;
        }
        select{
            width: 67.5%;
        }
    }
    > span{
        display: none;
        text-align: center;
        width:32%;
        position: absolute;
        background:#4da3d4;
        color:white;
        height: 100%;
        line-height: 410%;
        vertical-align: middle;
        font-size:1em;
        float:left;
    }
    select {
        float:left;
        color:$dgray;
        width: 100%;
        padding: 10px !important;
        margin: 0 !important;
        border: none !important;
        box-shadow: none;
        background:url(../images/ico-abajo.png) no-repeat 98% center;
        background-size:25px;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
    }
    select:focus {
        outline: none;
    }
    &+ p {
        font-size: 12px;
        margin-top: 3px;
    }
}
input[name="account"] + p{
    font-size: 12px;
    margin-top: 3px;
}
table input[type="submit"]{font-weight: bold;}
.message + table + .double-btn button{
    margin-top: 20px; 
    min-width:120px;
    @include border-radius(4px);
}
.content {
    margin: 0 1.0416666667%;
    margin-top:40px;
    .double-btn{
        border-top: 1px solid $gray;
        margin-top: 30px;
        input{
            border:none;
            font-weight: bold !important;
            font-size: 14px;
        }
    }
    .header {
        margin: 0;
        position: relative;
        border-bottom: 1px solid $gray;
        padding: 0 10px 15px 10px;
        overflow: hidden;
        h2, p { float: left; width: 67%; }
        p { color: grey; }
        .progress{
            position: absolute;
            top:34px;
            right: 10px;
            width: 33%;
            p{
                text-transform: uppercase;
                font-size: 0.7em;
                color:$dgray;
                text-align: center;
                float: left;
                width: 33%;
            }
            p.orange{
                color:$orange;
            }
        }
        progress {
            float: right;
            width: 33%;
            margin: -15px 0 0 0;
            -webkit-appearance: none;
            appearance: none;
            height:10px;
            overflow: hidden;
            @include border-radius(10px);

            &::-webkit-progress-bar {
                background-color: #d2d2d2;
                box-shadow: 0 1px 0px rgba(0,0,0,.14) inset;
            }
            &::-webkit-progress-value{
                background-color: $orange;
            }
        }

        .progress-div{
            float:right;
            width:45%;
            margin: -15px 0 0 0;
            height:10px;
            overflow: hidden;
            @include border-radius(10px);
            background-color: #d2d2d2;
            box-shadow: 0 1px 0px rgba(0,0,0,.14) inset;
            position:relative;
        }
        .progress-fill{
            background-color:#FC651B;
            width:33%;
            height:10px;
            @include border-radius(10px);
            position:absolute;
        }
    }
    .input-confirm-token{
        color:#ffa103;
        border:1px solid $gray;
        width:70%;
        background:url(../images/ico-token-yellow.png) no-repeat left center;
        background-size:40px;
        margin-top: 15px;
        padding-left: 50px;
        @include border-radius(3px);
        &:hover, &:focus, &:active{
            border-color:$orange;
        }
        + table{
            position: relative;
            margin-top: 10px;
            &:before{
                content:"";
                display: block;
                height:5px;
                position: absolute;
                width: 100%;
                border-bottom:1px solid $gray;
            }
        }
    }
    .fieldContainer, .optionalContainer{
        margin-top: 15px;
        width: 70%;
    }
    input {
        border:none;
        padding: 10px;
        width: 100%;
        box-shadow:none;
    }
    select {
        background-color: transparent;
        padding: 6px;
    }
    input[type='submit'] {
        margin-top: 15px;
        width: 120px;
        color: white;
        margin-right: 20px;
        font-weight: 300;
        padding: 8px 10px;
    }
    .larger { width: auto !important; }
    table {
        width: 100%;
        margin-top: 15px;
        tr td:first-child {
            width: 30%;
            height: 40px;
        }
        .bolder {
            font-size: 150%;
            font-weight: bold;
        }
    }
    .message{
        position: relative;
        overflow: hidden;
        min-height: 60px;
        border: 1px solid $green;
        margin: 15px 0;
        background:url(../images/ico-hecho.png) no-repeat 3% center;
        background-size:40px;
        @include border-radius(2px);
        p{
            float: left;
            padding:13px 0;
            width: 75%;
            font-size: 0.9em;
            margin-left: 10%;
            text-align: left;
            color: $green;
            span{
                font-weight: bold;
            }
        }
        .print {
            cursor: pointer;
            float: right;
            width: 15%;
            text-align: center;
            font-size: 0.8em;
            color:$blue;
            background:azure;
            padding:5px 0;
            i{
                display: block;
                width: 100%;
                height: 25px;
                margin: 5px 0;
                background:url(../images/ico-impresora.png) no-repeat center center;
                background-size:25px;
            }
        }
    }
    .choices {
        margin-top: 20px;
        width: 70%;
        > p{font-weight: bold; margin-bottom: 10px;}
        label{
            display: block;
            overflow: hidden;
            min-height:40px;
            input[type='radio']{
                margin-top: 14px;
            }
            input[type='radio'],p {
                float: left;
                width: 10%;
                line-height: 40px;
            }
            p {
                width: 70%;
                &.last {
                    width: 25%;
                }
            }
            .money {
                float: right;
                width: 20%;
                text-align: right;
            }
            input[type='text'] {
                float:right;
                width: 40%;
                border:1px solid $gray;
                @include border-radius(3px);
                &:focus, &:active, &:hover{
                    border-color:$orange;
                }
            }
        }
    }
}
.option {
    border: 1px solid #CCC;
    border-radius: 3px 3px 0 0;
    padding: 20px 40px 20px 20px;
    position: relative;
    font-weight: bold;
    background: url(../images/ico-adelante.png) no-repeat right center;
    background-size:25px;
    &.active {
		border: none;
		color: #FFF;
        background: url(../images/ico-adelante-a.png) no-repeat right center, $orange;
        background-size:25px;
        a{color: #FFF;}
		&:after { color: #FFF; }
        i{
            background: url(../images/ico-beneficiario-a.png) no-repeat center center;
            background-size:25px;
        }
	}
    &:last-child {
        border-radius: 0 0 3px 3px;
    }
    a{
        color:black;
    }
}
.beneficiarios-widget{
    .option{
        padding: 20px 10px;
        @include border-radius(4px);
        .beneficiary{
            height: 25px;
            line-height: 25px;
            i{
                display:block;
                float:left;
                margin-right: 5px;
                width: 25px;
                height: 25px;
                background: url(../images/ico-beneficiario.png) no-repeat center center;
                background-size:25px;
            }
        }
    }
}
.help {
    h2 {
        color: grey;
        margin-top: 30px;
    }
    .option {
        background:none;
        font-weight: normal;
        padding: 20px 10px;
        @include border-radius(4px);
        a{
            color:$blue;
            font-size: 14px;
            display: block;
            margin-bottom: 8px;
        }
        a:hover{
            text-decoration: underline;
        }
        a:last-child{
            margin: 0;
        }
    }
}
