/*
|-------------------------------------------------------------------------------------
|	Left menu
|-------------------------------------------------------------------------------------
*/
.content {
    float: right;
    width: 70.8333333333%;
    margin: 0 1.0416666667%;
    .header {
        height: 52px;
        h2, p { float: left; width: 70%; }
        p { color: grey; }
        progress {
            float: right;
            margin: -15px 0 0 0;
        }
    }
    input, select {
        border-radius: 4px;
        border: 1px solid #CCC;
        padding: 10px;
        width: 70%;
        margin-top: 15px
    }
    select {
        background-color: white;
        padding: 6px;
    }
    input[type='submit'] {
        width: 120px;
        color: white;
        margin-right: 20px;
        font-weight: 300;
        padding: 8px 10px;
    }
    .larger { width: 145px !important; }
    table {
        width: 100%;
        tr td:first-child {
            width: 30%;
            height: 30px;
        }
        .bolder {
            font-size: 150%;
            font-weight: bold;
        }
    }
    .message {
        border: 1px solid green;
        height: 70px;
        margin-bottom: 15px;
        p:first-child {
            float: left;
            margin: 25px 0 0 60px;
        }
        .print {
            float: right;
            width: 15%;
            height: 100%;
            background-color: azure;
            p { margin: 35px 0 0 40px; }
        }
    }
}
.option {
    border: 1px solid #CCC;
    border-radius: 3px 3px 0 0;
    padding: 14px 40px 14px 20px;
    position: relative;
    font-weight: bold;
    &.active {
		background-color: $orange;
		border: none;
		color: #FFF;
		&:after { color: #FFF; }
	}
    &:last-child {
        border-radius: 0 0 3px 3px;
    }
}
.help {
    h2 { color: grey; }
    .option {
        font-weight: normal;
    }
}