	<div class="right-section" >
	<div class="submenu-green">
		 <h5>El beneficiario ha sido dado de alta: 
		   <span ng-click="close()" class="glyphicon glyphicon-remove pull-right alose-button"></span>
		 </h5>
	</div>
  	<form>
<div>

	  <div class="side-block">
	  	<p>Nombre:</p>
	  	<input type="text" class="form-control input-normal" ng-model="benef.name" disabled> </input>
	  	<br>
	  	<p>Clabe/Tarjeta/Celular:</p>
	  	<input type="text" class="form-control input-normal" ng-model="benef.clabe" disabled>
	  	<br>
	  	<p>Importe m&aacute;ximo:</p>
	  	<input type="text" class="form-control input-normal" ng-model="benef.amount" disabled>
	  	<br>
	  	<p>Email:</p>
	  	<input type="text" class="form-control input-normal" ng-model="benef.email" disabled>
	  	<br>
	  	<p>Tel&eacute;fono Celular:</p>
	  	<input type="text" class="form-control input-normal" ng-model="benef.phone" disabled>
	  </div>
</div>

	</form>
</div>
