<div class="right-section" >
	<form name="myForm" ng-submit="confirmBeneficiary(benef.name, benef.clabe, benef.amount, benef.email, benef.phone)" novalidate>
  		<div ng-show="myForm.$valid">
			<div class="submenu-blue transfer">
			  	<div class="col-md-12">
			  		<div class="col-md-6">
						<button class="btn btn-sm btn-primary" type="submit"><span class="glyphicon glyphicon-check">Autorizar</span></button>
					</div>
					<div class="col-md-6">
				 		<a ng-click="close()" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-remove alose-button">Cancelar</span></a>
				 	</div>
				</div>
		  </div>
		</div><!--end ng-show-->
  		<div ng-hide="myForm.$valid">
		  <div class="submenu-blue">
		    <h5>Da de alta un beneficiario: 
		      <span ng-click="close()" class="glyphicon glyphicon-remove pull-right alose-button"></span>
		    </h5>
		  </div>				
		</div><!--end ng-hide-->
<div>
	  <div class="side-block">
	  	<p>Nombre:</p>
		<input type="text" name="nombre" class="form-control input-normal" ng-model="benef.name" ng-pristine ng-invalid required maxlength="25">
	  	<br>
	  	<p>Clabe/Tarjeta/Celular:</p>
		<input type="text" name="clabe" class="form-control input-normal" placeholder="Banamex / Bancomer / Transfer" ng-model="benef.clabe" ng-pristine ng-invalid required maxlength="25" numbers-only="numbers-only">
	  	<br>
	  	<p>Importe m&aacute;ximo:</p>
	  	<input type="number" name="importe" class="form-control input-normal" ng-model="benef.amount" min="0" ng-pristine ng-invalid required numbers-only="numbers-only" maxlength="25">
	  	<br>
	  </div>
	  <div>
	  	<p>Email:</p>
		<input type="email" name="correo" class="form-control input-normal" ng-model="benef.email" ng-pristine ng-invalid required maxlength="25">
	  	<br>
	  	<p>Tel&eacute;fono celular:</p>
	  	<input type="number" name="telefono" class="form-control input-normal"  ng-model="benef.phone" ng-pristine ng-invalid ng-minlength="10" ng-maxlenth="10" placeholder="10 d&iacute;gitos" required numbers-only="numbers-only" maxlength="15">
	  </div>
	  </div>
	</form>
</div>
