<div class="right-section">

  <div class="submenu-blue">
    <h5>Traspaso
      <span ng-click="close()" class="glyphicon glyphicon-remove pull-right alose-button"></span>
    </h5>
  </div>

  <div class="side-block">
    <p>Cuenta de dep&oacute;sito</p>
    <br />
    <select class="form-control" ng-model="beneficiary.current" ng-options="a.alias + ' - ' + a.currency + ' - ' + a.lastdigits for a in beneficiaries" ng-change="updateTransfer()">
      <option data-icon="icon-calendar" value="">Seleccione una cuenta</option>
    </select>

  </div>

  <div class="side-block">
    <div class="row">
      <div class="col-md-8">
        <p>Importe:</p>
        <input type="text" class="form-control input-sm" placeholder="Monto" ng-model="transfer.amount" numbers-only="numbers-only" maxlength="25">
      </div>
      <div class="col-md-4">
        <p>
        <span class="glyphicon glyphicon-calendar"></span>
        Fecha:
        </p>

        <input type="text" class="form-control input-sm" placeholder="Fecha" ng-model="transfer.date" jqdatepicker>
      </div>
    </div>
  </div>


  <div class="side-block">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>
            <input type="checkbox" ng-model="transfer.sendmail"/> Notificar al beneficiario
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="side-block" ng-show="transfer.sendmail">
    <div class="row">
      <div class="col-md-12">
        <p>Mensaje:</p>
        <textarea class="form-control input-sm" rows="4" ng-model="transfer.message"></textarea>
      </div>
    </div>
  </div>

  <button ng-click="close()" type="submit" class="btn btn-default btn-block">Cancelar</button>

  <button ng-click="showTransferPaymentToken()" type="submit" class="btn btn-success btn-block">Traspasar</button>

</div>
