<div class="content pagosytransf">
    <div class="header">
        <h2>Transferencia de cuentas</h2>
        <p>Ingresa los datos para la transferencia</p>
        <div class="progress-div" id="progressWrapper">
            <div class="progress-fill"  ng-style="stepStyle"></div>
        </div>
        <div class="progress">
            <p class="orange">captura</p>
            <p>confirmaci&oacute;n</p>
            <p>comprobaci&oacute;n</p>
        </div>
    </div>
    <form name="transferForm">
        <i class="inv-first-select"><span>Cuenta de la cual se har&aacute; el retiro</span></i>
        <div class="dropdown">
            <div class="dropdown-toggle select-style" type="button" data-toggle="dropdown" ng-class="transfer.account !== undefined ? 'selected' : ''">
                <span>Cuenta retiro</span>
                <p>{{transfer.account === undefined ? 'Cuenta retiro' : transfer.account.maskedAccountNumber}}<br>
                    <span>{{transfer.account.detail}}</span></p>
            </div>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Cuentas propias</li>
                <li ng-repeat="item in theAccounts | filter: { account_type: 'DEP' }" ng-click="transfer.account = item; evaluateDestiny()">{{item.displayName}}</li>
            </ul>
        </div>

        <i class="inv-sec-select"><span>Cuenta a la cual se har&aacute; la transferencia</span></i>
        <div class="dropdown">
            <div class="dropdown-toggle select-style" type="button" data-toggle="dropdown" ng-class="transfer.destiny !== undefined ? 'selected' : ''">
                <span>Cuenta dep&oacute;sito</span>
                <p>{{transfer.destiny === undefined ? 'Cuenta dep&oacute;sito' : transfer.destiny.maskedAccountNumber}}<br>
                    <span>{{transfer.destiny.detail}}</span></p>
            </div>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Cuentas propias</li>
                <li ng-repeat="item in theAccounts | filter: { _account_id: '!'+transfer.account._account_id, account_type: 'DEP', group: 'Cuentas Propias' }" ng-click="transfer.destiny = item">{{item.displayName}}</li>
                <li class="dropdown-header">Cuentas terceros</li>
                <li ng-repeat="item in theAccounts | filter: { account_type: 'DEB_T', group: 'Cuentas Terceros' }" ng-click="transfer.destiny = item">{{item.displayName}}</li>
                <li ng-show="isCompleteUser()"><span>Agregar nuevo beneficiario</span></li>
            </ul>
        </div>

        <label class="fieldContainer" ng-class="!transferForm.amount.$error.required ? 'selected' : ''">
            <span class="big">Importe</span>
            <input name="amount" type="text" currency numbers-only ng-model="transfer.amount" placeholder="Importe" class="input-importe" ng-required="true" maxlength="15">
        </label>
        <span class="optionalContainer" ng-if="transfer.destiny && transfer.destiny.account_type != 'DEP' && !transfer.destiny.same_bank">
            <div class="choices">
                <p>Fecha de aplicaci&oacute;n</p>
                <label>
                    <input type="radio" name="date" ng-model="transfer.date" value="today" ng-required="true"/>
                    <p>Hoy</p>
                </label>
                <label>
                    <input type="radio" name="date" ng-model="transfer.date" value="tomorrow" ng-required="true"/>
                    <p>D&iacute;a h&aacute;bil siguiente</p>
                </label>
            </div>
                <label class="fieldContainer" ng-class="transfer.reference.length > 0 ? 'selected' : ''">
                    <span>N&uacute;mero de referencia</span>
                    <input class="input-otp" type="text" ng-model="transfer.reference" numbers-only minlength="7" maxlength="7" placeholder="N&uacute;mero de referencia">
                </label>
        </span>
        <label class="fieldContainer" ng-class="transfer.concept.length > 0 ? 'selected' : ''">
            <span>Concepto</span>
            <input type="text" alphanumeric ng-model="transfer.concept" placeholder="Concepto" class="input-mail" ng-required="true" maxlength="40">
        </label>
    </form>
    <div class="double-btn">
        <input type="submit" value="Cancelar" ng-click="goToStep(1, true)">
        <input type="submit" value="Continuar" ng-disabled="transferForm.$invalid" ng-click="goToStep(2)">
    </div>
</div>
