                        <div class="actions">
                            <div class="section">
                                <h2>Tarjeta de crédito</h2>
                                <div class="product active">
                                    <p class="name">
                                        <span>Consutarjeta Naranja</span>
                                        <span class="id">***12345</span>
                                    </p>
                                    <div>
                                        <p class="amount">2,123.00</p>
                                        <p class="info">Saldo deudor</p>
                                    </div>
                                </div>
                            </div>
                            <div class="section">
                                <h2>Inversiones</h2>
                                <div class="product">
                                    <p class="name">
                                        <span>Consuinversión</span>
                                        <span>Vista</span>
                                    </p>
                                    <div>
                                        <p class="amount">10,000.00</p>
                                        <p class="info">Saldo</p>
                                    </div>
                                </div>
                                <div class="product">
                                    <p class="name">
                                        <span>Consuinversión</span>
                                        <span>CEDE</span>
                                    </p>
                                    <div>
                                        <p class="amount">7,000.00</p>
                                        <p class="info">Saldo</p>
                                    </div>
                                </div>
                                <div class="product">
                                    <p class="name">
                                        <span>Consupagaré</span>
                                    </p>
                                    <div>
                                        <p class="amount">8,000.00</p>
                                        <p class="info">Saldo</p>
                                    </div>
                                </div>
                            </div>
                            <div class="section">
                                <h2>Cuenta</h2>
                                <div class="product">
                                    <p class="name">
                                        <span>Consucuenta</span>
                                        <span class="id">***12344</span>
                                    </p>
                                    <div>
                                        <p class="amount">7,000.00</p>
                                        <p class="info">Saldo disponible</p>
                                    </div>
                                </div>
                            </div>
                            <div class="section">
                                <h2>Créditos</h2>
                                <div class="product">
                                    <p class="name">
                                        <span>Crédito Institucional</span>
                                    </p>
                                    <div>
                                        <p class="amount">10,000.00</p>
                                        <p class="info">Saldo deudor</p>
                                    </div>
                                </div>
                            </div>
                        </div>
