  <div class="header"> <!-- top row -->
                                <h2 class="title">
                                    <a href="#"><i class="fa fa-minus-square"></i></a>
                                    Consutarjeta Naranja ***12345
                                    <span>Cuenta</span>
                                </h2>
                                <div class="payment-actions">
                                    <div>
                                        <div>
                                            <p class="amount">760.00</p>
                                            <button class="blue">Pago mínimo</button>
                                        </div>
                                        <div>
                                            <p class="amount">1,520.00</p>
                                            <button class="blue">Pago para no <span class="block">generar intereses</span></button>
                                        </div>
                                        <div>
                                            <p class="amount">2,123.00</p>
                                            <button class="blue">Pago total</button>
                                        </div>
                                    </div>
                                </div>
                                <a href="#"><i class="fa fa-file-pdf-o"></i>Estados <span>de cuenta</span></a>
                            </div> <!-- ends top row -->
                            <!-- =============================================================== -->
                            <div class="box"> <!-- expended box -->
                                <ul>
                                    <li>Fecha de corte:         <span>29/Oct/2014</span></li>
                                    <li>Fecha límite de pago:   <span>15/Oct/2014</span></li>
                                    <li>Límite de pago:         <span class="amount">760.00</span></li>
                                    <li>Saldo al corte:         <span class="amount">2,123.00</span></li>
                                </ul>
                                <ul>
                                    <li>Saldo actual:                   <span class="amount">2,123.00</span></li>
                                    <li>Pago para no generar intereses: <span class="amount">1,520.00</span></li>
                                    <li>Saldo vencido:                  <span class="amount">0.00</span></li>
                                    <li>Límite de crédito:              <span class="amount">5,000.00</span></li>
                                    <li>Crédito disponible:             <span class="amount">3,000.00</span></li>
                                </ul>
                            </div> <!-- box ends -->