<div class="content">
    <div class="header">
        <h2>Alta nuevo beneficiario</h2>
        <p>Ingresa los datos para dar de alta a un nuevo beneficiario</p>
        <progress max="3" value="{{selection -6}}"></progress>
        <div class="progress">
            <p class="orange">captura</p>
            <p>confirmaci&oacute;n</p>
            <p>comprobaci&oacute;n</p>
        </div>
    </div>
    <form name="beneficiaryForm">
        <label class="fieldContainer" ng-class="beneficiary.name.length > 0 ? 'selected' : ''">
            <span>Nombre beneficiario</span>
            <input type="text" ng-model="beneficiary.name" placeholder="Nombre beneficiario" class="input-usuario" ng-required="true">
        </label>
        <label class="fieldContainer" ng-class="beneficiary.aka.length > 0 ? 'selected' : ''">
            <span>Alias</span>
            <input type="text" ng-model="beneficiary.aka" placeholder="Alias"  ng-required="true">
        </label>
        <label class="fieldContainer" ng-class="beneficiary.account.length > 0 ? 'selected' : ''">
            <span>Cuenta</span>
            <input type="text" ng-model="beneficiary.account" ng-required="true" 
                   placeholder="Cuenta &#x0002F; CLABE &#x0002F; T. Cr&eacute;dito &#x0002F; T. D&eacute;bito">
        </label>
        
        <p>Datos para notificar al beneficiario &#x00028;opcional&#x00029;</p>
        <label class="fieldContainer" ng-class="beneficiary.email.length > 0 ? 'selected' : ''">
            <span>Correo electr&oacute;nico</span>
            <input type="email" ng-model="beneficiary.email" placeholder="Correo electr&oacute;nico" class="input-mail">
        </label>
        <label class="fieldContainer" ng-class="beneficiary.phone.length > 0 ? 'selected' : ''">
            <span>Celular</span>
            <input type="text" ng-model="beneficiary.phone" placeholder="Celular" class="input-mobile">
        </label>
    </form>
    <div class="double-btn">
        <input type="submit" value="Cancelar" ng-click="completeStep(7)">
        <input type="submit" value="Continuar" ng-disabled="beneficiaryForm.$invalid" ng-click="completeStep(8)">
    </div>
</div>
