<div class="content">
    <div class="header">
        <h2>Alta nuevo beneficiario</h2>
        <p>Ingresa el n&uacute;mero de cuenta para dar de alta a un nuevo beneficiario</p>
        <progress max="3" value="{{selection}}"></progress>
        <div class="progress">
            <p class="orange">captura</p>
            <p>confirmaci&oacute;n</p>
            <p>comprobaci&oacute;n</p>
        </div>
    </div>
    <form name="beneficiaryForm">
        <label class="fieldContainer" ng-class="beneficiary.account.length > 0 ? 'selected' : ''">
            <span>Cuenta</span>
            <input type="text" ng-model="beneficiary.account" ng-required="true" ng-pattern="/^[0-9]{1,18}$/" minlength="18" maxlength="18" placeholder="Cuenta &#x0002F; CLABE &#x0002F; T. Cr&eacute;dito &#x0002F; T. D&eacute;bito">
        </label>

    </form>
    <div class="double-btn">
        <input type="submit" value="Cancelar" ng-click="completeStep(1)">
        <input type="submit" value="Continuar" ng-disabled="beneficiaryForm.$invalid" ng-click="validateThirdAccount()">
    </div>
    &nbsp;
</div>
