<div class="content">
    <div class="header">
        <h2>Transferencia de cuentas</h2>
        <p>Ingresa los datos para la transferencia</p>
        <progress max="3" value="{{selection}}"></progress>
    </div>
    <hr>
    <form>
        <select  ng-model="firstAccount" name="first-account" ng-options="item.name group by 'Cuentas Propias' for item in ownAccounts" >
                <option value="" >Cuenta retiro</option>
        </select></br>
    <select ng-model="secondAccount" name="second-account" ng-options="item.name group by 'Cuentas Propias'  for item in ownAccounts" >
        <option value="" selected>Cuenta deposito</option>
    </select></br>
        <input type="text" ng-model="amount" name="amount" id="amount" placeholder="Importe"></br>
        <input type="text" ng-model="concept" name="concept" id="concept" placeholder="Concepto"></br>
    </form>
    <hr>
    <input class="blue" type="submit" value="Cancelar" ng-click="completeStep(1)">
    <input class="blue" type="submit" value="Continuar" ng-click="completeStep(2)">
</div>
