<div class="content">
    <div class="header">
        <h2>Pago de cuentas</h2>
        <p>Ingresa los datos para el pago</p>
        <progress max="3" value="{{selection}}"></progress>
        <div class="progress">
            <p class="orange">captura</p>
            <p>confirmación</p>
            <p>comprobación</p>
        </div>
    </div>
    <form>
        <div class="select-style">
            <select ng-model="payment.account" ng-options="item.name group by 'Cuentas Propias' for item in ownAccounts">
                <option value="" >Cuenta retiro</option>
            </select>
        </div>
        <div class="select-style">
            <select ng-model="payment.destiny" ng-options="item.name group by 'Cuentas Propias' for item in ownAccounts">
                <option value="" >TDC para pago</option>
            </select>
        </div>
        <p>Ultimo pago realizado: $5000.00 09/Jul/2014 14:30 pm</p>
        <div class="choices">
            <input type="radio" name="type" id="minimum">
            <p>Monto minimo</p>
            <p class="money">$0.00</p></br>
            <input type="radio" name="type" id="taxes">
            <p>Para no generar intereses</p>
            <p class="money">$0.00</p></br>
            <input type="radio" name="type" id="other" class="last">
            <p class="last">Otra cantidad</p>
            <input type="text" ng-model="payment.amount" class="input-importe">
        </div>
    </form>
    <hr>
    <input class="blue" type="submit" value="Cancelar" ng-click="completeStep(1)">
    <input class="blue" type="submit" value="Continuar" ng-click="completeStep(2)">
</div>
