<div class="content">
    <div class="header">
        <h2>Transferencia de cuentas</h2>
        <p>Ingresa los datos para la transferencia</p>
        <progress max="3" value="{{selection - 3}}"></progress>
        <div class="progress">
            <p class="orange">captura</p>
            <p>confirmación</p>
            <p>comprobación</p>
        </div>
    </div>
    <form>
        <div class="select-style">
            <select ng-model="transfer.account" name="first-account" ng-options="item.name group by 'Cuentas Propias' for item in ownAccounts">
                <option value="" >Cuenta retiro</option>
            </select>
        </div>
        <div class="select-style">
            <select ng-model="transfer.destination" name="second-account" ng-options="item.name group by 'Cuentas Propias' for item in ownAccounts">
                <option value="" selected>Cuenta deposito</option>
            </select>
        </div>
        <input type="text" ng-model="transfer.amount" name="amount" id="amount" placeholder="Importe" class="input-importe">
        <input ype="text" ng-model="transfer.concept" name="concept" id="concept" placeholder="Concepto" class="input-mail">
    </form>
    <div class="double-btn">
        <input class="blue" type="submit" value="Cancelar" ng-click="completeStep(4)">
        <input class="blue disabled" type="submit" value="Continuar" ng-click="completeStep(5)">
    </div>
</div>
