<div class="content">
    <div class="header">
        <h2>Pago de cuentas</h2>
        <p>Confirma los datos para el pago</p>
        <progress max="3" value="{{selection}}"></progress>
        <div class="progress">
            <p class="orange">captura</p>
            <p class="orange">confirmación</p>
            <p>comprobación</p>
        </div>
    </div>
    <form>
        <table>
            <tr>
                <td>Cuenta Retiro:</td>
                <td>{{payment.account.name}}</td>
            </tr>
            <tr>
                <td>TDC para pago:</td>
                <td>{{payment.destiny.name}}</td>
            </tr>
            <tr>
                <td>Importe:</td>
                <td class="bolder">${{payment.amount}}</td>
            </tr>
            <tr>
                <td>Hora de la transferencia:</td>
                <td>{{today}}</td>
            </tr>
        </table>
    </form>
    <div class="double-btn">
        <input type="submit" value="Regresar" ng-click="completeStep(1)">
        <input type="submit" value="Continuar" ng-click="completeStep(3)">
    </div>
</div>
