<div class="content">
    <div class="header">
        <h2>Alta nuevo beneficiario</h2>
        <p>Confirma los datos para dar de alta a un nuevo beneficiario</p>
        <progress max="3" value="{{selection -6}}"></progress>
        <div class="progress">
            <p class="orange">captura</p>
            <p>confirmación</p>
            <p>comprobación</p>
        </div>
    </div>
    <form>
        <input class="input-token" type="password" ng-model="beneficiary.token" name="token" id="token" placeholder="Introduce el c&oacute;digo que se ha generado en tu Token F&iacute;sico">
        
        <table>
            <tr>
                <td>Nombre:</td>
                <td>{{beneficiary.name}}</td>
            </tr>
            <tr>
                <td>Alias:</td>
                <td>{{beneficiary.aka}}</td>
            </tr>
            <tr>
                <td>T. Debito:</td>
                <td>{{beneficiary.account}}</td>
            </tr>
            <tr>
                <td>Correo electronico:</td>
                <td>{{beneficiary.email}}</td>
            </tr>
            <tr>
                <td>Celular:</td>
                <td>{{beneficiary.phone}}</td>
            </tr>
            <tr>
                <td>Fecha de aplicacion:</td>
                <td>{{beneficiary.date}}</td>
            </tr>
        </table>
    </form>
    <div class="double-btn">
        <input class="blue" type="submit" value="Regresar" ng-click="completeStep(7)">
        <input class="blue disabled" type="submit" value="Continuar" ng-click="completeStep(9)">
    </div>
</div>
