<div class="content">
    <div class="header">
        <h2>Pago de cuentas</h2>
        <p>Confirma los datos para el pago</p>
        <progress max="3" value="{{selection}}"></progress>
    </div>
    <hr>
    <table>
        <tr>
            <td>Cuenta retiro:</td>
            <td>Consucuenta ***12344 - MXN: $10,000.00</td>
        </tr>
        <tr>
            <td>Cuenta deposito:</td>
            <td>Consuutarjeta Basica ***88776 - MXN: $24,000.00</td>
        </tr>
        <tr>
            <td>Importe:</td>
            <td class="bolder">$5,000.00</td>
        </tr>
        <tr>
            <td>Concepto:</td>
            <td>Renta casa</td>
        </tr>
        <tr>
            <td>Hora de la transferencia:</td>
            <td>13:49 hrs.</td>
        </tr>
    </table>
    <hr>
    <input class="blue" type="submit" value="Regresar" ng-click="completeStep(1)">
    <input class="orange" type="submit" value="Continuar" ng-click="completeStep(3)">
</div>