<div class="content">
    <div class="header">
        <h2>Pago de cuentas</h2>
        <p>Ingresa los datos para el pago</p>
        <progress max="3" value="{{selection}}"></progress>
        <div class="progress">
            <p class="orange">captura</p>
            <p>confirmaci&oacute;n</p>
            <p>comprobaci&oacute;n</p>
        </div>
    </div>
    <form name="paymentForm">
        <div class="select-style" ng-class="payment.account ? 'selected' : ''">
            <span>Cuenta retiro</span>
            <select ng-model="payment.account" ng-required="true" ng-options="item.name group by 'Cuentas Propias' for item in theAccounts | filter: { account_type: 'DEP' }">
                <option value="">Cuenta retiro</option>
            </select>
        </div>
        <div class="select-style" ng-class="payment.destiny ? 'selected' : ''">
            <span>TDC para pago</span>
            <select ng-model="payment.destiny" ng-required="true" ng-options="item as item.name group by item.group for item in theAccounts | orderBy:['group','name'] | byAccountType:['TDC', 'TDC_T']" ng-change="getAccountDetail()" >
                <option value="">TDC para pago</option>
            </select>
        </div>
        <span ng-if="payment.destiny.account_type !== 'TDC'">
            <label class="fieldContainer" ng-class="!paymentForm.amount.$error.required ? 'selected' : ''">
                <span class="big">Importe</span>
                <input name="amount" type="text" currency numbers-only ng-model="payment.amount" placeholder="Importe" class="input-importe" ng-required="true" maxlength="15">
            </label>
        </span>
        <div>
            <label data-ng-repeat="choice in question.choices">
              <input type="radio" name="response" data-ng-model="choice.isUserAnswer" data-ng-value="true" />
              {{choice.text}}
            </label>
        </div>
        <span ng-if="payment.destiny.account_type === 'TDC'">
            <div class="choices">
                <label>
                    <input type="radio" name="type" ng-model="payment.type" value="MIN_PAYMENT" ng-required="true">
                    <p>Monto m&iacute;nimo</p>
                    <p class="money">${{transferAccountDetail.minimum_payment}}</p>
                </label>
                <label>
                    <input type="radio" name="type" ng-model="payment.type" value="WIHTOUT_INTEREST_PAYMENT" ng-required="true">
                    <p>Para no generar intereses</p>
                    <p class="money">${{transferAccountDetail.no_interes_payment_due}}</p>
                </label>
                <label>
                    <input type="radio" name="type" class="last" ng-model="payment.type" value="TOTAL_PAYMENT" ng-required="true">
                    <p class="last">Otra cantidad</p>
                    <input type="text" currency numbers-only ng-model="payment.other" class="input-importe" ng-required="payment.type == 'TOTAL_PAYMENT'" maxlength="15">
                </label>
            </div>
        </span>
    </form>
    <div class="double-btn">
        <input type="submit" value="Cancelar" ng-click="goToStep(1)">
        <input type="submit" value="Continuar" ng-click="assignValue()" ng-disabled="paymentForm.$invalid">
    </div>
</div>
