<div class="content">
    <div class="header">
        <h2>Transferencia de cuentas</h2>
        <p></p>
        <progress max="3" value="{{selection}}"></progress>
        <div class="progress">
            <p class="orange">captura</p>
            <p class="orange">confirmación</p>
            <p class="orange">comprobación</p>
        </div>
    </div>
    
    <div class="message">
        <p>La transferencia ha sido exitosa con numero de autorizacion <span>123456</span></p>
        <div class="print">
            <p>Imprimir</p>
        </div>
    </div>
    <table>
        <tr>
            <td>Cuenta retiro:</td>
            <td>{{transfer.account.name}}</td>
        </tr>
        <tr>
            <td>Cuenta deposito:</td>
            <td>{{transfer.destination.name}}</td>
        </tr>
        <tr>
            <td>Importe:</td>
            <td class="bolder">${{transfer.amount}}</td>
        </tr>
        <tr>
            <td>Concepto:</td>
            <td>{{transfer.concept}}</td>
        </tr>
        <tr>
            <td>Hora de la transferencia:</td>
            <td>{{transfer.date}}</td>
        </tr>
    </table>

    <div class="double-btn">
        <input class="blue" type="submit" value="Finalizar" ng-click="completeStep(3)">
        <input class="orange larger" type="submit" value="Realizar otro pago" ng-click="completeStep()">
    </div>
</div>