<div class="content">
    <div class="header">
        <h2>Transferencia de cuentas</h2>
        <p>Ingresa los datos para la transferencia</p>
        <progress max="3" value="{{selection}}"></progress>
        <div class="progress">
            <p class="orange">captura</p>
            <p>confirmaci&oacute;n</p>
            <p>comprobaci&oacute;n</p>
        </div>
    </div>
    <form name="transferForm">
        <div class="select-style" ng-class="transfer.account ? 'selected' : ''">
            <span>Cuenta retiro</span>
            <select ng-model="transfer.account" ng-required="true" ng-options="item as item.name group by item.group for item in theAccounts | orderBy:['group','name'] | filter: { account_type: 'DEP' }">
                <option value="">Cuenta retiro</option>
            </select>
        </div>
        <div class="select-style" ng-class="transfer.destiny ? 'selected' : ''">
            <span>Cuenta deposito</span>
            <select ng-model="transfer.destiny" ng-required="true" ng-options="item as item.name group by item.group for item in theAccounts | orderBy:['group','name'] | byAccountType:['DEP', 'DEB_T'] | filter : { _account_id: '!' + transfer.account._account_id }">
                <option value="">Cuenta deposito</option>
            </select>
        </div>
        <label class="fieldContainer" ng-class="transfer.amount.length > 0 ? 'selected' : ''">
            <span class="big">Importe</span>
            <input type="text" ng-model="transfer.amount" placeholder="Importe" class="input-importe" ng-required="true" ng-pattern="/^[^0][0-9]{1,}(\.[0-9]+)?$/">
        </label>
        <span class="optionalContainer" ng-if="transfer.destiny && transfer.destiny.account_type != 'DEP' && !transfer.destiny.same_bank">
            <div class="choices">
                <p>Fecha de aplicaci&oacute;n</p>
                <label>
                    <input type="radio" name="date" ng-model="transfer.date" value="today" ng-required="true"/>
                    <p>Hoy</p>
                </label>
                <label>
                    <input type="radio" name="date" ng-model="transfer.date" value="tomorrow" ng-required="true"/>
                    <p>D&iacute;a h&aacute;bil siguiente</p>
                </label>
            </div>
                <label class="fieldContainer" ng-class="transfer.reference.length > 0 ? 'selected' : ''">
                    <span>N&uacute;mero de referencia</span>
                    <input class="input-otp" type="text" ng-model="transfer.reference" ng-required="true" ng-pattern="/^[0-9]{1,7}$/" minlength="7" maxlength="7" placeholder="N&uacute;mero de referencia">
                </label>
        </span>
        <label class="fieldContainer" ng-class="transfer.concept.length > 0 ? 'selected' : ''">
            <span>Concepto</span>
            <input type="text" ng-model="transfer.concept" placeholder="Concepto" class="input-mail" ng-required="true">
        </label>
    </form>
    <div class="double-btn">
        <input type="submit" value="Cancelar" ng-click="completeStep(1)">
        <input type="submit" value="Continuar" ng-disabled="transferForm.$invalid" ng-click="completeStep(2)">
    </div>
</div>
