<div class="alert_message" ng-show="showIdleAlert">
  Su sesión está a punto de terminar.
  <a class="close" href="" ng-click="showIdleAlert = false">X</a>
</div>

<div class="alert_message" ng-show="showTimeoutAlert">
  Su sesión ha terminado por inactividad.
  <a class="close" href="" ng-click="showTimeoutAlert = false">X</a>
</div>

<div class="alert_message" ng-show="showErrorLogoutAlert">
  Problema durante el cierre de sesion. Su sesion sera cerrada atomaticamente.
  <a class="close" href="" ng-click="showErrorLogoutAlert = false">X</a>
</div>
