<div ng-include="'views/partials/layout/alert.html'"></div>
<header>
    <div class="wrapper">
        <!-- =============================================================== -->

        <h1 class="logo"><a href="#">Consubanco</a></h1>

        <!-- =============================================================== -->
        <nav class="nav">
            <ul>
                <li><a href="/#/login">Login</a></li>
                <li><a>Productos</a></li>
                <li><a>Nosotros</a></li>
                <li><a>Cont&aacute;ctanos</a></li>
            </ul>
        </nav>
        <!-- =============================================================== -->
        <div class="fix-top">
            <div class="date">
            </div>
            <ul class="sub-menu">
                <ul>
                    <li ng-click="selectNavigatOption('map')"><a>Sucursales y M&oacute;dulos de Atenci&oacute;n</a></li>
                    <li><a href="#">Cont&aacute;ctanos</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </ul>
        </div>
    </div>
</header>
