<header>
    <div class="wrapper">
        <!-- =============================================================== -->

        <h1 class="logo"><a href="#">Consubanco</a></h1>

        <!-- =============================================================== -->
        <nav class="nav">
            <ul>
                <li><a href="#products">Productos</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Cont&aacute;ctanos</a></li>
            </ul>
        </nav>
        <!-- =============================================================== -->
        <div class="fix-top">
            <div class="date">
                <span>Lunes 25 de julio del 2014</span>, <span>Ciudad de M&eacute;xico</span>
            </div>
            <ul class="sub-menu">
                <ul>
                    <li><a href="#">Sucursales y M&oacute;dulos de Atenci&oacute;n</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Ayuda</a></li>
                    <li><a href="#">Tour</a></li>
                </ul>
            </ul>
        </div>
    </div>
</header>
