<div ng-include="'views/partials/layout/alert.html'"></div>
<header>
    <div class="wrapper">
        <!-- =============================================================== -->

        <h1 class="logo"><a href="/">Consubanco</a></h1>

        <!-- =============================================================== -->
        <nav class="nav ">
            <ul>
                <li ng-click="selectNavigatOption('products')"
                    data-ng-class="{'active': activeNavigationOption == 'products'}" > <a href="#">Mis Productos</a></li>
                <li ng-click="selectNavigatOption('transfers')"
                    data-ng-class="{'active': activeNavigationOption == 'transfers'}"><a ui-sref="dashboard.transfers">Pagos y Transferencias</a></li>
                <li ng-click="selectNavigatOption('investments')"
                    data-ng-class="{'active': activeNavigationOption == 'investments'}"><a ui-sref="dashboard.investments">Inversiones</a></li>
                <li ng-click="selectNavigatOption('administration')"
                    data-ng-class="{'active': activeNavigationOption == 'administration'}"><a ui-sref="dashboard.administration">Administraci&oacute;n</a></li>
            </ul>
        </nav>
        <!-- =============================================================== -->
        <!-- module -->
        <div class="user-session">
            <div class="user-log">
                <h6>Bienvenido</h6>
                <h4 class="user">{{completeName}}</h4>
                <p class="date">&Uacute;ltimo acceso: <span>{{date | date:'dd/MM/yyyy'}}</span> a las <span>{{date | date:'HH:mm:ss'}}</span>
                </p>
    </div>
            <form ng-show="useLogoutForm" action="logout" method="post">
              <button>Cerrar Sesi&oacute;n</button>
            </form>
            <button ng-hide="useLogoutForm" ng-click="logout()">Cerrar Sesi&oacute;n</button>

        </div>
        <div class="fix-top">
            <div class="date">
                <time-access date='{{last_access_date}}' media='{{last_access_media}}'/>
            </div>
            <ul class="sub-menu">
                <ul>
                    <li ng-click="selectNavigatOption('map')"><a>Sucursales y M&oacute;dulos de Atenci&oacute;n</a></li>
                    <li><a href="#">Cont&aacute;ctanos</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </ul>
        </div>
    </div>
</header>
