<form class="search">
    <button type="submit"><i class="ico-search"></i></button>
    <input type="search" name="movements" id="movements" placeholder="Buscar movimientos">
    <div class="filter">
        <div>
            <span>Fecha inicial:</span>
            <input type="date" ng-model="date_start"><i></i>
        </div>
        <div>
            <span>Fecha final:</span>
            <input type="date" ng-model="date_end"><i></i>
        </div>
            <button class="orange" ng-click="getTransactions(date_start, date_end)">Buscar</button>
    </div>
</form>
<div class="transactions">
    <table class="details">
        <thead>
            <tr>
                <th scope="col">2014</th>
                <th scope="col">Descripci&oacute;n</th>
                <th scope="col">Tipo de operaci&oacute;n</th>
                <th scope="col">N. de transacci&oacute;n</th>
                <th scope="col">Monto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span>sep</span><span>18</span></td>
                <td>Palacio de Hierro</td>
                <td>Pago</td>
                <td>001</td>
                <td>25,000.00</td>
            </tr>
        </tbody>
    </table>
</div>