<form class="search">
    <input type="search" name="movements" id="movements" placeholder="Buscar movimientos">
    <button type="submit"><i class="fa fa-search"></i><span>Buscar</span></button>
</form>
<div class="transactions">
    <div class="filter">
        <div class="inline" style="display:flex;">
            <p>Fecha inicio</p>
            <input type="date">
            <p>Fecha fin</p>
            <input type="date">
        </div>
        <div class="single-btn">
            <button class="orange">Buscar</button>
        </div>
    </div>
    <table class="details">
        <thead>
            <tr>
                <th scope="col">2014</th>
                <th scope="col">Descripción</th>
                <th scope="col">Tipo de operación</th>
                <th scope="col">N. de transaccion</th>
                <th scope="col">Monto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span>sep</span><span>18</span></td>
                <td>Palacio de Hierro</td>
                <td>Pago</td>
                <td>001</td>
                <td>25,000.00</td>
            </tr>
            <tr>
                <td><span>sep</span><span>18</span></td>
                <td>American Express</td>
                <td>Retiro</td>
                <td>002</td>
                <td>54,000.00</td>
            </tr>
            <tr>
                <td><span>sep</span><span>18</span></td>
                <td>Tiempo aire Josefina</td>
                <td>Pago</td>
                <td>003</td>
                <td>300.00</td>
            </tr>
            <tr>
                <td><span>sep</span><span>18</span></td>
                <td>Martí</td>
                <td>Pago</td>
                <td>004</td>
                <td>5,000.00</td>
            </tr>
            <tr>
                <td><span>sep</span><span>18</span></td>
                <td>Starbucks</td>
                <td>Pago</td>
                <td>005</td>
                <td>250.00</td>
            </tr>
        </tbody>
    </table>
</div>