<div class="content pagosytransf">
    <div class="header">
        <h2>Pago de Servicios</h2>
        <p>Ingresa los datos para el pago</p>
        <div class="progress-div" id="progressWrapper">
            <div class="progress-fill"  ng-style="stepStyle"></div>
        </div>
        <!--<progress max="3" value="{{selection}}"></progress>-->
        <div class="progress">
            <p class="orange">captura</p>
            <p>confirmaci&oacute;n</p>
            <p>comprobaci&oacute;n</p>
        </div>
    </div>

<form name="paymentForm">
        <i class="inv-first-select"><span>Cuenta de la cual se har&aacute; el retiro</span></i>
        <div class="dropdown">
            <div class="dropdown-toggle select-style" type="button" data-toggle="dropdown" ng-class="payment.account !== undefined ? 'selected' : ''">
                <span>Cuenta retiro</span>
                <p>{{payment.account === undefined ? 'Cuenta retiro' : payment.account.masked_account_number}}<br>
                    <span>{{payment.account.detail}}</span></p>
            </div>
            <ul class="dropdown-menu" role="menu" ng-model="payment.account">
                <li class="dropdown-header">Cuentas propias</li>
                <li ng-repeat="item in theAccounts | filter: { account_type: 'DEP' }" ng-model="payment.account" ng-click="payment.account = item" ng-required="true">{{item.displayName}}</li>
            </ul>
        </div>
        <i class="inv-sec-select"><span>Servicio a pagar</span></i>
        <div class="dropdown">
            <div class="dropdown-toggle select-style" type="button" data-toggle="dropdown" ng-class="payment.account !== undefined ? 'selected' : ''">
                <span>Servicios</span>
                <p>{{payment.account === undefined ? 'Servicios' : payment.account.masked_account_number}}<br>
                    <span>{{payment.account.detail}}</span></p>
            </div>
            <ul class="dropdown-menu" role="menu" ng-model="payment.account">
                <li ng-required="true">CFE Casa</li>
            </ul>
        </div>
        

        <div class="photo-capture">
          <p>Paga tus servicios fotografiando el recibo con tu aplicaci&oacute;n ABanking o con la c&aacute;mara de tu computadora</p>
          <div class="photo"></div>
          <div class="services-data">
            <label class="cfe">
              <span>Línea de captura</span>
              <input type="number" placeholder="00000">
              <input type="number" placeholder="00000">
              <input type="number" placeholder="00000">
              <input type="number" placeholder="00000">
              <input type="number" placeholder="00000">
              <input type="number" placeholder="00000">
            </label>
            <label class="fieldContainer" ng-class="!paymentForm.amount.$error.required ? 'selected' : ''">
                <span class="big">Importe</span>
                <input name="amount" type="text" currency numbers-only ng-model="payment.amount" placeholder="Importe" class="input-importe" ng-required="true" maxlength="15">
            </label>
          </div>
        </div>
</form>

<div class="double-btn">
  <input type="submit" value="Cancelar" ng-click="goToStep(1, true)">
  <input type="submit" value="Continuar" ng-click="assignValue()" ng-disabled="paymentForm.$invalid">
</div>
</div>
<!--
<div class="right-section">

  <div class="submenu-blue">
    <h5>Pagar servicio
      <span ng-click="close()" class="glyphicon glyphicon-remove pull-right close-button"></span>
    </h5>
  </div>

  <div class="detail-header">
    <div class="left-inner-addon">
      <i class="glyphicon glyphicon-search"></i>
      <input class="form-control input-sm" type="search" placeholder="Nombre comercial o raz&oacute;n social" maxlength="25" />
    </div>
  </div>

  <span class="pull-right"><button class="btn" type="submit"><span class="glyphicon glyphicon-camera"></span></button></span>
  <p>Paga tus servicios fotografiando el recibo con tu aplicaci&oacute;n ABanking o con la c&aacute;mara de tu computadora</p>

<div>

  <div class="last-services">
    <div class="row">
      <div class="col-md-6">
        <a href="" class="thumbnail" ng-click="showServicePayment()">
          <img class="img-rounded" src="/images/services/telmex.png">
        </a>
      </div>
      <div class="col-md-6">
        <a href="" class="thumbnail">
          <img class="img-rounded" src="/images/services/cfe.png">
        </a>
      </div>-->
      <!--div class="col-md-6">
        <a href="" class="thumbnail">
          <img class="img-rounded" src="/images/services/conagua.png">
        </a>
      </div
    </div>
  </div>-->

<!--
  <div class="services">
    <div class="row">
      <div class="col-md-6">
        <a href="" class="thumbnail">
          <img class="img-rounded" src="/images/services/axtel.png">
        </a>
      </div>
      <div class="col-md-6">
        <a href="" class="thumbnail">
          <img class="img-rounded" src="/images/services/avon.png">
        </a>
      </div>
      <div class="col-md-6">
        <a href="" class="thumbnail">
          <img class="img-rounded" src="/images/services/cablevision.png">
        </a>
      </div>
      <div class="col-md-6">
        <a href="" class="thumbnail">
          <img class="img-rounded" src="/images/services/conagua.png">
        </a>
      </div>
      <div class="col-md-6">
        <a href="" class="thumbnail">
          <img class="img-rounded" src="/images/services/sky.png">
        </a>
      </div>
      <div class="col-md-6">
        <a href="" class="thumbnail">
          <img class="img-rounded" src="/images/services/telcel.png">
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="pagination">
          <li class="disabled"><a href="">&laquo;</a></li>
          <li class="active"><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">4</a></li>
          <li><a href="">&raquo;</a></li>
        </ul>
      </div>  
    </div>

</div>

  </div>

</div>-->
