<div class="content pagosytransf">
    <div class="header">
        <h2>Pago de Servicios</h2>
        <p>Ingresa los datos para el pago</p>
        <div class="progress-div" id="progressWrapper">
            <div class="progress-fill"  ng-style="stepStyle"></div>
        </div>
        <!--<progress max="3" value="{{selection}}"></progress>-->
        <div class="progress">
            <p class="orange">captura</p>
            <p>confirmaci&oacute;n</p>
            <p>comprobaci&oacute;n</p>
        </div>
    </div>
    <table>
      <tbody>
        <tr>
          <td>Cuenta retiro:</td>
          <td>***1234</td>
        </tr>
        <tr>
          <td>Servicio:</td>
          <td>CFE Mamá</td>
        </tr>
        <tr>
          <td>Línea de captura:</td>
          <td>12345 67890 12345 67890 12345 67890</td>
        </tr>
        <tr>
          <td>Importe:</td>
          <td class="bolder">$300.00</td>
        </tr>
      </tbody>
    </table>
    <div class="double-btn">
  <input type="submit" value="Cancelar" ng-click="goToStep(1, true)">
  <input type="submit" value="Continuar" ng-click="assignValue()" ng-disabled="paymentForm.$invalid">
</div>
</div>
<!--div class="right-section">

  <div class="submenu-blue">
    <h5>Pagar servicio
      <span ng-click="close()" class="glyphicon glyphicon-remove pull-right alose-button"></span>
    </h5>
  </div>

<div>

  <div class="detail-header">
    <img class="img-rounded" src="/images/services/telmex.png">
    <span class="pull-right"><button class="btn btn-default remove-service" type="submit">Dar de baja</button></span>
  </div>

  <div class="side-block">
    <div class="row">
      <div class="col-md-12">
        <p>&Uacute;ltimo traspaso: $750.00 12/02/2014</p>
        <input type="text" class="form-control" placeholder="Monto" autofocus value="248.00">
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p>L&iacute;nea de captura:</p>
        <input type="text" class="form-control input-sm" placeholder="Línea de captura" value="MMM130347384573" maxlength="25">
      </div>
      <div class="col-md-4">
        <p>D&iacute;gito global:</p>
        <input type="text" class="form-control input-sm" placeholder="Dígito global" value="8797" maxlength="15" numbers-only="numbers-only" ng-model="globla_digit">
      </div>
    </div>
  </div>

  <div class="side-block">
    <div class="row">
      <div class="form-group">
        <div class="col-sm-3">
          <span class="glyphicon glyphicon-calendar"></span>
          Fecha:
        </div>
        <div class="col-sm-5">
          <input type="text" class="form-control input-sm" placeholder="Fecha" value="19/02/2014" jqdatepicker ng-model="date">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>
            <input type="checkbox"/> Guardar como operaci&oacute;n frecuente
          </label>
        </div>
      </div>
    </div>
  </div>

  <button ng-click="close()" type="submit" class="btn btn-default btn-block">Cancelar</button>

  <button ng-click="showServicePaymentToken()" type="submit" class="btn btn-success btn-block">Pagar</button>

</div>

</div-->
