<div class="right-section">

  <div ng-show="token">
    <div class="submenu-yellow">
      <h5>
        <span class="glyphicon glyphicon-phone pull-left"></span>
        &nbsp
        Tel&eacute;fono no disponible
        <span ng-click="close()" class="glyphicon glyphicon-remove pull-right close-button"></span>
      </h5>
    </div>

    <div class="yellow-message">
      <p>Ingresa manualmente tu clave din&aacute;mica</p>
      <div class="row">
        <div class="col-md-8">
          <div class="input-group">
            <span class="input-group-addon">23456789</span>
            <input type="password" class="form-control" maxlength="15" />
          </div>
        </div>
        <div class="col-md-4 pull-right">
          <button ng-click="applyServicePayment()" type="button" class="btn btn-info">Confirmar</button>
        </div>
      </div>

    </div>
  </div>

  <div ng-show="!token">
    <div class="submenu-yellow">
      <h5>
        <span class="glyphicon glyphicon-phone pull-left"></span>
        &nbsp
        Obteniendo token
        <span ng-click="close()" class="glyphicon glyphicon-remove pull-right close-button"></span>
      </h5>
    </div>

    <div class="yellow-message">
      <img class="pull-right" src="/images/orange-ajax-loader.gif">
      <p>Se ha enviado una solicitud de autorizaci&oacute;n a su dispositivo m&oacute;vil, favor de aprobarla</p>
    </div>
  </div> 

  <div class="detail-header">
    <img class="img-rounded" src="/images/services/telmex.png">
  </div>

  <div class="side-block">
    <div class="row">
      <div class="col-md-12">
        <p>&Uacute;ltimo traspaso: $750.00 12/02/2014</p>
        <input type="text" class="form-control" placeholder="Monto" autofocus value="248.00" maxlength="25" numbers-only="numbers-only" ng-model="amount">
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p>L&iacute;nea de captura:</p>
        <input type="text" class="form-control input-sm" placeholder="Línea de captura" value="MMM130347384573" maxlength="25">
      </div>
      <div class="col-md-4">
        <p>Dígito global:</p>
        <input type="text" class="form-control input-sm" placeholder="Dígito global" value="8797" numbers-only="numbers-only" maxlength="15" ng-model="global_digit">
      </div>
    </div>
  </div>

  <div class="side-block">
    <div class="row">
      <div class="form-group">
        <div class="col-sm-3">
          <span class="glyphicon glyphicon-calendar"></span>
          Fecha:
        </div>
        <div class="col-sm-5">
          <input type="text" class="form-control input-sm" placeholder="Fecha" value="19/02/2014" jqdatepicker ng-model="date">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>
            <input type="checkbox"/> Guardar como operaci&oacute;n frecuente
          </label>
        </div>
      </div>
    </div>
  </div>

</div>
