<div class="right-section">

  <div class="submenu-blue">
    <h5>Pagar servicio
      <span ng-click="close()" class="glyphicon glyphicon-remove pull-right close-button"></span>
    </h5>
  </div>

  <div class="detail-header">
    <div class="left-inner-addon">
      <i class="glyphicon glyphicon-search"></i>
      <input class="form-control input-sm" type="search" placeholder="Nombre comercial o raz&oacute;n social" maxlength="25" />
    </div>
  </div>

  <span class="pull-right"><button class="btn" type="submit"><span class="glyphicon glyphicon-camera"></span></button></span>
  <p>Paga tus servicios fotografiando el recibo con tu aplicaci&oacute;n ABanking o con la c&aacute;mara de tu computadora</p>

<div>

  <div class="last-services">
    <div class="row">
      <div class="col-md-6">
        <a href="" class="thumbnail" ng-click="showServicePayment()">
          <img class="img-rounded" src="/images/services/telmex.png">
        </a>
      </div>
      <div class="col-md-6">
        <a href="" class="thumbnail">
          <img class="img-rounded" src="/images/services/cfe.png">
        </a>
      </div>
      <!--div class="col-md-6">
        <a href="" class="thumbnail">
          <img class="img-rounded" src="/images/services/conagua.png">
        </a>
      </div-->
    </div>
  </div>

  <div class="services">
    <div class="row">
      <div class="col-md-6">
        <a href="" class="thumbnail">
          <img class="img-rounded" src="/images/services/axtel.png">
        </a>
      </div>
      <div class="col-md-6">
        <a href="" class="thumbnail">
          <img class="img-rounded" src="/images/services/avon.png">
        </a>
      </div>
      <div class="col-md-6">
        <a href="" class="thumbnail">
          <img class="img-rounded" src="/images/services/cablevision.png">
        </a>
      </div>
      <div class="col-md-6">
        <a href="" class="thumbnail">
          <img class="img-rounded" src="/images/services/conagua.png">
        </a>
      </div>
      <div class="col-md-6">
        <a href="" class="thumbnail">
          <img class="img-rounded" src="/images/services/sky.png">
        </a>
      </div>
      <div class="col-md-6">
        <a href="" class="thumbnail">
          <img class="img-rounded" src="/images/services/telcel.png">
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="pagination">
          <li class="disabled"><a href="">&laquo;</a></li>
          <li class="active"><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">4</a></li>
          <li><a href="">&raquo;</a></li>
        </ul>
      </div>  
    </div>

</div>

  </div>

</div>
