<div class="products">
   <div class="outter">
    <div ng-include="'views/partials/layout/main-header.html'"></div>
    <main>
      <div class="wrapper">
                <div class="wrapper">
                    <div class="row">
                        <div class="actions">
                            <tc/>
							<investments/>
							<account/>
							<credits/>
                        </div>
                        <div class="product-details">
                            <div class="header">
                                <h2 class="title">
                                    <a ng-click='showAccountHeader = !showAccountHeader'><i ng-class="showAccountHeader ? 'fa fa-minus-square' : 'fa fa-plus-square'"></i></a>
                                    Consutarjeta Naranja ***12345
                                    <span>Cuenta</span>
                                </h2>
                                <div class="payment-actions">
                                    <div>
                                        <div>
                                            <p class="amount">{{accountHeader.minimumPayment}}</p>
                                            <button class="blue">Pago mínimo</button>
                                        </div>
                                        <div>
                                            <p class="amount">{{accountHeader.noInterest}}</p>
                                            <button class="blue">Pago para no <span class="block">generar intereses</span></button>
                                        </div>
                                        <div>
                                            <p class="amount">{{accountHeader.totalPayment}}</p>
                                            <button class="blue">Pago total</button>
                                        </div>
                                    </div>
                                </div>
                                <a href="#"><i class="fa fa-file-pdf-o"></i>Estados <span>de cuenta</span></a>
                            </div>
                            <hr ng-show='!showAccountHeader'>
                            <div class="box" ng-show='showAccountHeader'>
                                <ul>
                                    <li>Fecha de corte:         <span>{{accountHeader.cutDate}}</span></li>
                                    <li>Fecha límite de pago:   <span>{{accountHeader.limitDate}}</span></li>
                                    <li>Límite de pago:         <span class="amount">{{accountHeader.limitPayment}}</span></li>
                                    <li>Saldo al corte:         <span class="amount">{{accountHeader.cutBalance}}</span></li>
                                </ul>
                                <ul>
                                    <li>Saldo actual:                   <span class="amount">{{accountHeader.currentBalance}}</span></li>
                                    <li>Pago para no generar intereses: <span class="amount">{{accountHeader.noInterest}}</span></li>
                                    <li>Saldo vencido:                  <span class="amount">{{accountHeader.dueCurrent}}</span></li>
                                    <li>Límite de crédito:              <span class="amount">{{accountHeader.limitCredit}}</span></li>
                                    <li>Crédito disponible:             <span class="amount">{{accountHeader.availableCredit}}</span></li>
                                </ul>
                            </div>
                            <form class="search">
                                <input type="search" name="movements" id="movements" placeholder="Buscar movimientos">
                                <button type="submit"><i class="fa fa-search"></i><span>Buscar</span></button>
                            </form>
                            <div class="transactions">
                                <div class="filter">
                                    <span>Ver por:</span>
                                    <div class="double-btn">
                                        <button class="orange">Periodo actual</button>
                                        <button class="blue">Periodo anterior</button>
                                    </div>
                                    <a href="#" class="help"><i class="fa fa-question-circle"></i><span>Ayuda</span></a>
                                </div>
                                <table class="details">
                                    <thead>
                                        <tr>
                                            <th scope="col">Fecha</th>
                                            <th scope="col">N. de autorización</th>
                                            <th scope="col">Descripción</th>
                                            <th scope="col">Tipo de operación</th>
                                            <th scope="col">Monto</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="year"><td>2014</td><td colspan="5"></tr>
                                        <tr>
                                            <td><span>sep</span><span>18</span></td>
                                            <td>001</td>
                                            <td>Palacio de Hierro</td>
                                            <td>Pago</td>
                                            <td>25,000.00</td>
                                        </tr>
                                        <tr>
                                            <td><span>sep</span><span>18</span></td>
                                            <td>002</td>
                                            <td>American Express</td>
                                            <td>Retiro</td>
                                            <td>54,000.00</td>
                                        </tr>
                                        <tr>
                                            <td><span>sep</span><span>18</span></td>
                                            <td>003</td>
                                            <td>Tiempo aire Josefina</td>
                                            <td>Pago</td>
                                            <td>300.00</td>
                                        </tr>
                                        <tr>
                                            <td><span>sep</span><span>18</span></td>
                                            <td>004</td>
                                            <td>Martí</td>
                                            <td>Pago</td>
                                            <td>5,000.00</td>
                                        </tr>
                                        <tr>
                                            <td><span>sep</span><span>18</span></td>
                                            <td>005</td>
                                            <td>Starbucks</td>
                                            <td>Pago</td>
                                            <td>250.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
      </div>
    </main>
    <div ng-include="'views/partials/layout/main-footer.html'"></div>
  </div>
</div>
