
<div class="container">
	<div class="row title">
		<div class="col-md-8">
			<h1>Cuentas</h1>
		</div>
		<div class="col-md-4">
			<button type="button" class="btn btn-default btn-alert pull-right">
				<span class="glyphicon glyphicon-phone"></span>
				alertas
			</button>
		</div>
	</div>

	<!-- Accounts -->

	<div class="row">
		<div class="col-md-3 col-sm-6" ng-repeat="account in accounts">
			<div class="account">
				<h2>{{account.name}} {{account.last_digits}}</h2>
				<a ui-sref="dashboard.transactions({account_id:account._account_id})"><img ng-src="/images/cuenta_{{account.account_type | lowercase}}.png" class="img-responsive"></a>

				<div ng-if="account.account_type == 'CREDIT_CARD'">
					<div class="row date-section">
						Fecha de corte:
						<span class="pull-right">
							{{account.cut_date | date:'mediumDate'}}
						</span>
					</div>

					<div class="amounts-section">
						<div class="radio">
							<label>
								<input type="radio" name="radio_payment_card_{{account._account_id}}" id="{{account._account_id}}_optionRadio1" value="current" checked>
								Pago total
								<span class="pull-right amount">{{account.balance.current | currency}}</span>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="radio_payment_card_{{account._account_id}}" id="{{account._account_id}}_optionRadio2" value="minimal">
								Pago mínimo
								<span class="pull-right amount">{{account.balance.min_payment | currency}}</span>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="radio_payment_card_{{account._account_id}}" id="{{account._account_id}}_optionRadio3" value="total">
								Pago sin intereses
								<span class="pull-right amount">{{account.balance.total_payment | currency}}</span>
							</label>
						</div>
						<div class="radio">
							<label>
								<div class="row">
									<div class="col-xs-6">
										<input type="radio" name="radio_payment_card_{{account._account_id}}" id="{{account._account_id}}_optionRadio4" value="other">
										Otra cantidad
									</div>
									<div class="col-xs-6">
										<input type="text" class="form-control input-sm">
									</div>
								</div>
							</label>
						</div>
					</div>

					<div class="buttons">
						<a class="pull-left" href="#">Movimientos</a>
						<button class="btn btn-info btn-sm pull-right">Pagar tarjeta</button>
					</div>
				</div>

				<div ng-if="account.account_type == 'SAVINGS' || account.account_type == 'CHECKS' || account.account_type == 'DEBIT_CARD'">
					<div class="row date-section text-center">
						Desde {{account.balance.from | date:'longDate'}}
					</div>

					<div class="amounts-section">
						<div class="row text-center">
							<span class="available">Disponible:</span> <span class="available-amount">{{account.balance.current | currency}}</span>
						</div>
						<div class="row">
							<div class="col-md-6 pull-left">
								Depósitos:
							</div>
							<div class="col-md-6 pull-right amount">
								{{account.balance.deposits | currency}}
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 pull-left">
								Pagos:
							</div>
							<div class="col-md-6 pull-right amount">
								{{account.balance.payments | currency}}
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 pull-left">
								Retiros:
							</div>
							<div class="col-md-6 pull-right amount">
								{{account.balance.withdrawals | currency}}
							</div>
						</div>
					</div>

					<div class="buttons">
						<a href="#">Ver más</a>
					</div>
				</div>

				<div ng-if="account.account_type == 'TRANSFER'">
					<div class="row date-section text-center">
						Número: {{account.number}}
					</div>

					<div class="amounts-section">
						<img src="/images/cuenta_transfer_balance.png">
					</div>

					<div class="buttons">
						<a href="#">Ver más</a>
					</div>
				</div>

			</div> <!-- Account -->
		</div>

	</div>

	<!-- Banners -->

	<div class="row">
		<div class="col-md-4 col-sm-6">
			<div class="banner">
				<img src="/images/viaja_banner.png">
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="banner">
				<img src="/images/ishop_banner.png">
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="banner">
				<img src="/images/roger_banner.png">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="tools">
				<div class="row">
					<div class="col-md-4">
						<span class="download-text">Descarga nuestra App:</span>
					</div>
					<div class="col-md-3">
						<select class="form-control">
							<option>Tipo de teléfono</option>
							<option>Android</option>
							<option>iPhone</option>
							<option>Blackberry</option>
						</select>
					</div>
					<div class="col-md-3">
						<input type="text" class="form-control" placeholder="Número celular">
					</div>
					<div class="col-md-2">
						<button class="btn btn-info btn-block">Descargar</button>
					</div>
				</div>

				<div class="row tip-text">
					<div class="col-md-4">
						<span class="iphone-tip pull-left"></span>
						Recibe alertas y notificaciones de tus movimientos
					</div>
					<div class="col-md-3">
						<span class="lock-tip pull-left"></span>
						Incrementa la seguridad de autenticación
					</div>
					<div class="col-md-3">
						<span class="ticket-tip pull-left"></span>
						Escanea y paga tus recibos
					</div>
					<div class="col-md-2">
						<button class="btn btn-default btn-block">Más información</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
