<p>&nbsp;</p>
<div style="position: relative;top: 0px;">
	<nav class="nav">
		<ul>
			<li><a href="#" style="color:navy">Preferencias y seguridad</a></li>
			<li><a href="#" style="color:navy">tarjetas</a></li>
			<li><a href="#" style="color:navy">Bit&aacute;cora de operacione</a></li>
			<li><a href="#" style="color:red;text-decoration: underline">Beneficiarios</a></li>
			<li><a href="#" style="color:navy">Contratos</a></li>
		</ul>
	</nav>
</div>
<hr>
<div ng-switch on="selection">
    <div class="animate-switch" ng-switch-when="1">
        <div ng-include="'views/partials/admin/beneficiary.html'">
        </div>
    </div>
</div>
