<div class="registration">
    <div class="outter">
        <header ng-include="'views/partials/layout/login-header.html'"></header>
        <main>
            <div class="wrapper">
                <div class="row">
                    <div ng-switch on="selection">
                        <div class="animate-switch" ng-switch-when="1">
                            <div ng-include="'views/partials/change/capture.html'">
                            </div>
                        </div>
                        <div class="animate-switch" ng-switch-when="2">
                            <div ng-include="'views/partials/change/confirm.html'">
                            </div>
                        </div>
                        <div class="animate-switch" ng-switch-when="3">
                            <div ng-include="'views/partials/change/result.html'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer ng-include="'views/partials/layout/main-footer.html'"></footer>
</div>
