<div class="login">
    <div class="outter"> <!-- sticky footer wrapper -->
      <header ng-include="'views/partials/layout/login-header.html'">
      </header>
            <main>
                <div class="wrapper">

					<p>En <strong>Consubanco</strong> valoramos tu opini&oacute;n</p>
					<p>Si tienes alguna duda o comentario sobre la aplicaci]&oacute;, conct&aacute;ctanos por los siguientes medios</p>
					<p>Atenci&oacute;n al cliente: 01 800 800 32 34</p>
					<p>&Aacute;rea metropolitana: (55) 9177 7999</p>
					<p>Tel&eacute;fono UNE: 01 800 830 86 32</p>
					<p>Correo electr&oacute;nico: <br>consubanco@consubanco.com</p>
                </div>
            </main>
        </div>
    <footer ng-include="'views/partials/layout/main-footer.html'">
    </footer>
</div>
 
