<div class="products">
   <div class="outter">
    <div ng-include="'views/partials/layout/main-header.html'"></div>
    <main>
      <div class="wrapper">
                <div class="wrapper">
                    <div class="row">
                        <div class="actions">
                            <div class="section">
                                <h2>Tarjeta de cr&eacute;dito</h2>
                                <div class="product" ng-repeat="account in accounts| filter:{type:1}:true"
                                data-ng-class="{'active': account.accountId == activeClass}" data-ng-click="selectAccount(account.accountId, account.type)">
                                    <p class="name">
                                        <span>{{account.name}}</span>
                                        <span class="id">{{account.lastDigits}}</span>
                                    </p>
                                    <div>
                                        <p class="amount">{{account.totalAmount  | currency}}</p>
                                        <p class="info">Saldo deudor</p>
                                    </div>
                                </div>
                            </div>
                            <div class="section">
                                <h2>Inversiones</h2>
                                <div class="product" ng-repeat="account in accounts | filter:{type:2}:true"
                                 data-ng-class="{'active': account.accountId == activeClass}" data-ng-click="selectAccount(account.accountId, account.type)">
                                     <p class="name" ng-click="active = $id" ng-class="{active: $id === active}">
                                        <span>{{account.name}}</span>
                                        <span class="id">{{account.lastDigits}}</span>
                                    </p>
                                    <div>
                                        <p class="amount">{{account.totalAmount | currency}}</p>
                                        <p class="info">Disponible</p>
                                    </div>
                                </div>
                            </div>
                            <div class="section">
                                <h2>Cuenta</h2>
                                <div class="product" ng-repeat="account in accounts | filter:{type:3}:true"
                                 data-ng-class="{'active': account.accountId == activeClass}" data-ng-click="selectAccount(account.accountId, account.type)" >
                                    <p class="name" ng-click="active = $id" ng-class="{active: $id === active}" >
                                        <span>{{account.name}}</span>
                                        <span class="id">{{account.lastDigits}}</span>
                                    </p>
                                    <div>
                                        <p class="amount">{{account.totalAmount | currency}}</p>
                                        <p class="info">Disponible</p>
                                    </div>
                                </div>
                            </div>
                            <div class="section">
                                <h2>Cr&eacute;ditos</h2>
                                <div class="product" ng-repeat="account in accounts | filter:{type:4}:true"
                                 data-ng-class="{'active': account.accountId == activeClass}" data-ng-click="selectAccount(account.accountId, account.type)">
                                    <p class="name">
                                        <span>{{account.name}}</span>
                                        <span class="id">{{account.lastDigits}}</span>
                                    </p>
                                    <div>
                                        <p class="amount">{{account.totalAmount | currency}}</p>
                                        <p class="info">Disponible</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-details">
                            <div class="header">
                                <h2 class="title">
                                    <a ng-click='showAccountHeader = !showAccountHeader'><i ng-class="showAccountHeader ? 'ico-menos' : 'ico-mas'"></i></a>
                                    Cr&eacute;dito Institucional 1 ***12345
                                    <span>Cuenta</span>
                                </h2>
                                <div class="payment-actions">
                                    <div>
                                        <div>
                                            <p class="amount">{{accountHeader.availableMoney | currency}}</p>
                                            <button class="blue">Saldo disponible</button>
                                        </div>
                                    </div>
                                </div>
                                <a href="#"><i class="ico-estados"></i>Estados <span>de cuenta</span></a>
                            </div>
                            <hr ng-show='!showAccountHeader'>
                            <div class="box" ng-show='showAccountHeader'>
                                <ul>
                                    <li>Fecha de otorgamiento:              <span>{{accountHeader.startDate}}</span></li>
                                    <li>Monto del cr&eacute;dito:                  <span class="amount">{{accountHeader.creditAmount | currency}}</span></li>
                                    <li>N&uacute;mero de pagos pactados:           <span>{{accountHeader.appliedPayments}}</span></li>
                                    <li>Monto de descuento:                 <span class="amount">{{accountHeader.discountAmount | currency}}</span></li>
                                    <li>Frecuencia de pago:                 <span>{{accountHeader.paymentCycle}}</span></li>
                                </ul>
                                <ul>
                                    <li>Monto vencido:                      <span class="amount">{{accountHeader.overdueAmount | currency}}</span></li>
                                    <li>Monto de pr&oacute;ximo pago:              <span class="amount">{{accountHeader.nextPaymentAmount | currency}}</span></li>
                                    <li>Fecha de pr&oacute;ximo pago:              <span>{{accountHeader.nextPaymentDate}}</span></li>
                                    <li>Dias de atraso:                     <span>{{accountHeader.daysOverdue}}</span></li>
                                    <li>Dependencia:                        <span>{{accountHeader.dependence}}</span></li>
                                </ul>
                            </div>
                            <form class="search">
                                <input type="search" name="movements" id="movements" placeholder="Buscar movimientos">
                                <button type="submit"><i class="ico-search"></i><span>Buscar</span></button>
                            </form>
                            <div class="transactions">
                                <div class="filter">
                                    <div class="inline">
                                        <h4>B&uacute;queda por rango de fechas</h4>
        <p>Fecha inicial:</p>
                                        <input type="date">
                                        <p>Fecha final:</p>
                                        <input type="date">
                                    </div>
                                    <div class="single-btn">
                                        <button class="orange">Buscar</button>
                                    </div>
                                </div>
                                <table class="details">
                                    <thead>
                                        <tr>
                                            <th scope="col">Fecha de descuento</th>
                                            <th scope="col">Descripci&oacute;n</th>
                                            <th scope="col">Capital</th>
                                            <th scope="col">Inter&eacute;s e IVA</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">Fecha de aplicaci&oacute;n</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span>sep</span><span>18</span></td>
                                            <td>Palacio de Hierro</td>
                                            <td>$1,000.00</td>
                                            <td>$1,500.00</td>
                                            <td>25,000.00</td>
                                            <td>19 SEP 2014</td>
                                        </tr>
                                        <tr>
                                            <td><span>sep</span><span>18</span></td>
                                            <td>American Express</td>
                                            <td>$1,000.00</td>
                                            <td>$1,500.00</td>
                                            <td>25,000.00</td>
                                            <td>19 SEP 2014</td>
                                        </tr>
                                        <tr>
                                            <td><span>sep</span><span>18</span></td>
                                            <td>Tiempo aire Josefina</td>
                                            <td>$1,000.00</td>
                                            <td>$1,500.00</td>
                                            <td>25,000.00</td>
                                            <td>19 SEP 2014</td>
                                        </tr>
                                        <tr>
                                            <td><span>sep</span><span>18</span></td>
                                            <td>Martí</td>
                                            <td>$1,000.00</td>
                                            <td>$1,500.00</td>
                                            <td>25,000.00</td>
                                            <td>19 SEP 2014</td>
                                        </tr>
                                        <tr>
                                            <td><span>sep</span><span>18</span></td>
                                            <td>Starbucks</td>
                                            <td>$1,000.00</td>
                                            <td>$1,500.00</td>
                                            <td>25,000.00</td>
                                            <td>19 SEP 2014</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
      </div>
    </main>
    <footer ng-include="'views/partials/layout/main-footer.html'"></footer>
  </div>
</div>
