<div class="products">
   <div class="outter">
    <div ng-include="'views/partials/layout/main-header.html'"></div>
    <main>
      <div class="wrapper">
                <div class="wrapper">
                    <div class="row">
                        <div class="actions">
                            <tc/>
							<investments/>
							<account/>
							<credits/>
                        </div>
                        <div class="product-details">
                            <div class="header">
                                <h2 class="title">
                                    <a ng-click='showAccountHeader = !showAccountHeader'><i ng-class="showAccountHeader ? 'fa fa-minus-square' : 'fa fa-plus-square'"></i></a>
                                    Consuinversi&oacute;n CEDE
                                    <span>Inversi&oacute;n</span>
                                </h2>
                                <div class="payment-actions">
                                    <div>
                                        <div>
                                            <p class="amount">{{investmentHeader.available}}</p>
                                            <span>Saldo disponible</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr ng-show='!showAccountHeader'>
                            <div class="box" ng-show='showAccountHeader'>
                                <ul>
                                    <li>Fecha de inicio:                            <span>{{accountHeader.cutDate}}</span></li>
                                    <li>Fecha de vencimiento:                       <span>{{accountHeader.limitDate}}</span></li>
                                    <li>Intereses:                                  <span class="amount">{{accountHeader.limitPayment}}</span></li>
                                    <li>Fecha de &uacute;ltima renovaci&oacute;n:   <span class="amount">{{accountHeader.cutBalance}}</span></li>
                                </ul>
                                <ul>
                                    <li>Tasa de inter&eacute;s:     <span class="amount">{{accountHeader.currentBalance}}</span></li>
                                    <li>Porcentaje de ISR:          <span class="amount">{{accountHeader.noInterest}}</span></li>
                                    <li>Monto del ISR:              <span class="amount">{{accountHeader.dueCurrent}}</span></li>
                                    <li>Monto del rendimiento:      <span class="amount">{{accountHeader.limitCredit}}</span></li>
                                </ul>
                            </div>
                            <form>
                                Fecha inicio
                                <input type="search">
                                Fecha fin
                                <input type="search">
                                <button class="blue">Buscar</button>
                            </form>
                            <div class="transactions">
                                <table class="details">
                                    <thead>
                                        <tr>
                                            <th scope="col">Fecha</th>
                                            <th scope="col">N. de Transacci&oacute;n</th>
                                            <th scope="col">Descripci&oacute;n</th>
                                            <th scope="col">Tipo de operaci&oacute;n</th>
                                            <th scope="col">Monto</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="year"><td>2014</td><td colspan="5"></tr>
                                        <tr>
                                            <td><span>sep</span><span>18</span></td>
                                            <td>001</td>
                                            <td>Palacio de Hierro</td>
                                            <td>Pago</td>
                                            <td>25,000.00</td>
                                        </tr>
                                        <tr>
                                            <td><span>sep</span><span>18</span></td>
                                            <td>002</td>
                                            <td>American Express</td>
                                            <td>Retiro</td>
                                            <td>54,000.00</td>
                                        </tr>
                                        <tr>
                                            <td><span>sep</span><span>18</span></td>
                                            <td>003</td>
                                            <td>Tiempo aire Josefina</td>
                                            <td>Pago</td>
                                            <td>300.00</td>
                                        </tr>
                                        <tr>
                                            <td><span>sep</span><span>18</span></td>
                                            <td>004</td>
                                            <td>Martí</td>
                                            <td>Pago</td>
                                            <td>5,000.00</td>
                                        </tr>
                                        <tr>
                                            <td><span>sep</span><span>18</span></td>
                                            <td>005</td>
                                            <td>Starbucks</td>
                                            <td>Pago</td>
                                            <td>250.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
      </div>
    </main>
    <div ng-include="'views/partials/layout/main-footer.html'"></div>
  </div>
</div>
