<script>
    var request = new XMLHttpRequest();
    var json;
    request.open('GET', 'https://api.contentful.com/spaces/69jpb9w0eza4/entries/6MdplwKWWcGiWw2EASW8sG');

    request.setRequestHeader('Authorization', 'Bearer e335366b43dfb30e136a88c67fa93dc0548e74d4e00d8d5e0c90db3ace89aca0');

    request.onreadystatechange = function () {
    if (this.readyState === 4) {
        json = JSON.parse(this.responseText);        
        var titulo = JSON.stringify(json.fields.titulo["en-US"]);
        titulo = titulo.replace(/\"/g, "");
        var frase = JSON.stringify(json.fields.frase["en-US"]);
        frase = frase.replace(/\"/g, "");
        var descubrelo = JSON.stringify(json.fields.descubrelo["en-US"]);
        descubrelo = descubrelo.replace(/\"/g, "");
        var tituloTelefonos = JSON.stringify(json.fields.tituloTelefonos["en-US"]);
        tituloTelefonos = tituloTelefonos.replace(/\"/g, "");
        var descripcionTelefonos = JSON.stringify(json.fields.descripcionTelefonos["en-US"]);
        descripcionTelefonos = descripcionTelefonos.replace(/\"/g, "");                            
        document.getElementById("titulo").innerHTML = titulo;
        document.getElementById("frase").innerHTML = frase;
        document.getElementById("descubrelo").innerHTML = descubrelo;
        document.getElementById("tituloTelefonos").innerHTML = tituloTelefonos;
        document.getElementById("descripcionTelefonos").innerHTML = descripcionTelefonos;
    }
    };

    request.send();
</script>

<div class="login">
    <div class="outter"> <!-- sticky footer wrapper -->
      <header ng-include="'views/partials/layout/login-header.html'">
      </header>
            <!-- =============================================================== -->
            <main>
                <div class="wrapper">
                    <!--
                    |____________________________________________________________________________
                    |
                    |   Fisrt Column
                    |____________________________________________________________________________
                    -->                    
                    <div>
                        <div class="welcome">
                            <h2 id="titulo">¡Bienvenido a BX+!</h2>
                            <p>
                                <strong id="frase">Un gran beneficio, un gran Banco.</strong>
                                <strong id="descubrelo">¡Desc&uacute;brelo!</strong>
                            </p>
                        </div>
                        <div class="pull-left app-link-box">
                            <div class="pull-left phone-img"></div>
                            <div class="pull-left stores-text-box">
                                <p><strong id="tituloTelefonos">¡Porque queremos estar siempre contigo!</strong>
                                </p>
                                <p id="descripcionTelefonos">
                                Descarga nuestra nueva aplicación, ahora estaremos cada vez m&aacute;s conectados</p>
                                <a href="#play"><img src="images/logo-google-play.svg" alt="" class="pull-left"></a>
                                <a href="#apple">
                                    <img src="images/logo-apple-store.svg" alt="" class="pull-left">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--
                    |____________________________________________________________________________
                    |
                    |   Second Column
                    |____________________________________________________________________________
                    -->
                    <div ng-cloak class="ng-cloak">
                        <div ng-switch on="step">
                            <div class="animate-switch" ng-switch-when="0">
                                <div ng-include="'views/partials/login/user_login.html'">
                                </div>
                            </div>
                            <div class="animate-switch" ng-switch-when="1">
                                <div ng-include="'views/partials/login/image_login.html'">
                                </div>
                            </div>
                        </div>
                        <form class="user-registration" ng-submit="preRegister(client,contract)" ng-show="step == 0" name="registrationForm">
                            <label for="user-register"><strong>¿Eres nuevo aqu&iacute;?</strong></label>
                            <input type="text" ng-model="client" name="user-register" id="user-register" minlength="5" maxlength="10" pattern="^[0-9]{1,10}$" placeholder="No. Cliente" required>
                            <input type="text" ng-model="contract" name="contract-number" name="contract-number" id="contract-number" placeholder="Folio de Contrato de Banca Digital" required>
                            <div class="error" ng-show="registerError">{{errorMessage}}</div>
                            <input type="submit" value="Regístrate" ng-disabled="registrationForm.$invalid||registering">
                        </form>
                    </div>
                    <!-- =============================================================== -->
                </div> <!-- wrapper ends here -->
            </main>
        </div> <!-- sticky footer wrapper ends here -->
    <footer ng-include="'views/partials/layout/main-footer.html'">
    </footer>
</div>
