<div class="login_back">
  <header class="home_header container">
    <p class="pull-left">Bienvenido a ABanking</p>
    <ul class="nav pull-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Idioma: Espa&ntilde;ol <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Espa&ntilde;ol</a></li>
          <li class="divider"></li>
          <li><a href="#">English</a></li>
        </ul>
      </li>
    </ul>
  </header>

  <section class="container login-form shadow rounded" ng-controller="LoginCtrl">
    <div class="logo"></div>
    <form class="form-signin" ng-submit="login()">
      <!--<p>Inicia sesión</p>-->
      <div class="alert alert-danger" ng-if="errorMessage">
        {{errorMessage}}
      </div>
      <label class="border">
        <input type="text" ng-model="username" class="form-control" placeholder="Correo electrónico" value="1234502" required autofocus>
      </label>
      <label class="border">
        <input type="password" ng-model="password"  class="form-control" placeholder="Contraseña" value="A1234567" required>
      </label>
      <button class="btn" type="submit">Entrar</button>
      <label class="checkbox">
        <input type="checkbox"> Recordarme
      </label>
    </form>
    <div class="registration text-center">
      ¿Eres nuevo? Reg&iacute;strate
    </div>
  </section>

  <footer class="home_footer container text-center">
        <a href="javascript:void(0);">&iquest;Olvidaste tu contrase&ntilde;a?</a>
        <a href="javascript:void(0);">Sobre nosotros</a>
        <a href="javascript:void(0);">Busca por internet</a>
        <a href="javascript:void(0);">Banca m&oacute;vil</a>
        <a href="javascript:void(0);">Privacidad</a>
        &copy; 2014 Anzen Soluciones S.A. de C.V.
  </footer>
</div>
