<div class="login_back">
<div class="container shadow rounded" ng-controller="LoginCtrl">
          <div class="logo"></div>
          <form class="form-signin" ng-submit="login()">
          <h2 class="form-signin-heading">Inicie sesión</h2>
          <input type="text" ng-model="username" class="form-control" placeholder="Correo electrónico" required autofocus>
          <input type="password" ng-model="password"  class="form-control" placeholder="Contraseña" required>
          <label class="checkbox">
              <input type="checkbox" value="Recordar contraseña">Recordar contraseña
          </label>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
        </form>
      </div>
</div>