
<div>
    <div class="outter">
        <div ng-include="'views/partials/layout/login-header.html'"></div>
        <main>
            <div>
				<p>
					<div class="sucursales">Sucursales y M&oacute;dulos de atenci&oacute;n</div>
				</p>
				<div ng-class=" showBranches ? 'half' : 'busqueda' ">
					<div class="busqueda-detalle">
						<button ng-click="searchNearMe()" class="naranja">Cerca de m&iacute;</button>
						<span style="color:white">o</span>
						<input type="text" id="Autocomplete" ng-autocomplete="result" details="details" options="options" placeholder="Buscar por dirección" size="28"/>
						<select ng-model="estado" ng-options="estado.name for estado in estados"></select>
						<span ng-click="search()"><button class="naranja">Lupa</button></span>
						<br>
					</div>
					<div class="sucursal-modulo">
						<div class="half">Sucursales</div>
						<div class="half">Módulos de atención</div>
					</div>
					<div ng-show="showBranches">
						<div ng-repeat="branch in map.branches">
							<div class="resultado	">
								<b>{{branch.title}}</b><br>
								{{branch.description.address}}
								<span>¿C&oacute;mo llegar?</span>
								Tel&eacute;fono: {{branch.description.phone_number}}
								Horario de Atenci&oacute;n: 09:00 - 16:00 hrs.<br>
								Abierto S&aacute;bados Cambio de divisas Atienden con cita
							</div>
						</div>
					</div>

				</div>

				<div ng-class=" showBranches ? 'half' : 'full' ">
					<ui-gmap-google-map center='map.center' zoom='map.zoom' bounds="map.bounds">
						<ui-gmap-markers models="map.branches" coords="'self'" fit='false'>
						</ui-gmap-markers>
					</ui-gmap-google-map>
				</div>
				
				<div class="container" ng-hide="showBranches">
					<div class="left">
						Atención al cliente: <span>01 800 800 3224</span><br>
						&Aacute;rea Metropolitana: <span>(55) 9177 7999</span><br>
						Tel&eacute;fono UNE: <span>01 800 830	8632</span>
					</div>
					<div class="right">
						Horarios de Atenci&oacute;n <br>
						Sucursales: <span>L-V 9:00 - 16:00</span><br>
						M&oacute;dulos de Atenci&oacute;n: <span>L-V 9:00 - 16:00</span>
					</div>
					<div class="center">
						¿Necesitas ayuda?<br>
						<a href="#">¿C&oacute;mo activar tu ubicaci&oacute;n?</a><br>
						<a href="#">Preguntas Frecuentes</a>
					</div>
				</div>
				<div class="container" ng-show="showBranches">
					<div class="left">
						Atención al cliente
					</div>
					<div class="right">
						Horarios de Atenci&oacute;n
					</div>
					<div center="center">
						¿Necesitas ayuda?
					</div>
				</div>

            </div>
        </main>
        <footer ng-include="'views/partials/layout/main-footer.html'"></footer>
    </div>
</div>
