<style>
	.angular-google-map-container { height: 400px; width: 100%;}
</style>
<div>
    <div class="outter">
        <div ng-include="'views/partials/layout/login-header.html'"></div>
        <main>
            <div>
				<p>
					<h3>Sucursales y M&oacute;dulos de atenci&oacute;n</h3>
				</p>

				<div>
					<button ng-click="searchNearMe()">Cerca de m&iacute;</button> o
					<input type="text" id="Autocomplete" ng-autocomplete="result" details="details" options="options" placeholder="Buscar por dirección"/>
					<select ng-model="estado" ng-options="estado.name for estado in estados">
						<option>--</option>
					</select>
					<span ng-click="search()"><button>Lupa</button></span>
					<br>
					<span>Sucursales</span>
					<span>Módulos de atención</span>
					<div ng-show="showBranches">
						<div ng-repeat="branch in map.branches">
							<div>
								{{branch.title}}<br>
								{{branch.description.address}}
								<span>¿C&oacute;mo llegar?</span>
								Tel&eacute;fono: {{branch.description.phone_number}}
								Horario de Atenci&oacute;: 09:00 - 16:00 hrs.<br>
								Abierto S&aacute;bados Cambio de divisas Atienden con cita
							</div>
						</div>
					</div>
				</div>

				<div>
					<ui-gmap-google-map center='map.center' zoom='map.zoom'>
						<ui-gmap-markers models="map.branches" coords="'self'" fit='false'>
						</ui-gmap-markers>
					</ui-gmap-google-map>
				</div>
				
				<div>
					<div>
						Atención al cliente: <span>01 800 800 3224</span><br>
						&Aacute;rea Metropolitana: <span>(55) 9177 7999</span><br>
						Tel&eacute;fono UNE: <span>01 800 830	8632</span><br>
					</div>
					<div>
						¿Necesitas ayuda?
						<a href="#">¿C&oacute;mo activar tu ubicaci&oacute;n?</a><br>
						<a href="#">Preguntas Frecuentes</a><br>
					</div>
					<div>
						Horarios de Atenci&oacute;n
						Sucursales: <span>L-V 9:00 - 16:00</span><br>
						M&oacute;dulos de Atenci&oacute;n: <span>L-V 9:00 - 16:00</span><br>
					</div>
				</div>

            </div>
        </main>
        <footer ng-include="'views/partials/layout/main-footer.html'"></footer>
    </div>
</div>
