<div class="actions" sytle="float:right">
    <h2>Inversi&oacute;n VISTA</h2>
    <div class="section">
        <ul>
            <li class="option" ng-class="invType == 'VISTA'?'active' : ''" ng-click="change('VISTA')">Compra de inversi&oacute;n</li>
            <li class="option" ng-class="invType == 'RET'?'active' : ''" ng-click="change('RET')">Retiro de inversi&oacute;n</li>
        </ul>
    </div>
    <div class="beneficiarios-widget">
        <h2>Inversi&oacute;n CEDE</h2>
        <div class="section">
            <div class="beneficiary">
                <ul>
                    <li class="option" ng-class="invType == 'CEDE'?'active' : ''" ng-click="change('CEDE')">Compra de inversi&oacute;n</li>
                </ul>
            </div>
        </div>
        <h2>Inversi&oacute;n PRLV</h2>
        <div class="section">
            <div class="beneficiary">
                <ul>
                    <li class="option" ng-class="invType == 'PRLV'?'active' : ''" ng-click="change('PRLV')">Compra de inversi&oacute;n</li>
                </ul>
            </div>
        </div>
        <div class="help">
            <h2>Ayuda</h2>
            <div class="option">
                <a>¿Necesitas ayuda para elegir el tipo de pago que vas a realizar?</a>
                <a>¿Como hacer un pago? (Ver video)</a>
                <a>¿Como utilizo mi dispositivo movil?</a>
            </div>
        </div>
    </div>
</div>
<div ng-switch on="invType">
    <div class="animate-switch" ng-switch-when="VISTA">
        <div ng-switch on="selection">
            <div class="animate-switch" ng-switch-when="1">
                <div ng-include="'views/partials/portfolio/vista-capture.html'"></div>
            </div>
            <div class="animate-switch" ng-switch-when="2">
                <div ng-include="'views/partials/portfolio/vista-confirm.html'"></div>
            </div>
            <div class="animate-switch" ng-switch-when="3">
                <div ng-include="'views/partials/portfolio/vista-result.html'"></div>
            </div>
        </div>
    </div>
    <div class="animate-switch" ng-switch-when="RET">
        <div ng-switch on="selection">
            <div class="animate-switch" ng-switch-when="1">
                <div ng-include="'views/partials/portfolio/retirement-capture.html'"></div>
            </div>
            <div class="animate-switch" ng-switch-when="2">
                <div ng-include="'views/partials/portfolio/retirement-confirm.html'"></div>
            </div>
            <div class="animate-switch" ng-switch-when="3">
                <div ng-include="'views/partials/portfolio/retirement-result.html'"></div>
            </div>
        </div>
    </div>
    <div class="animate-switch" ng-switch-when="CEDE">
        <div ng-controller="InvestmentCedePrlvCtrl" ng-init="setInvestmentType('CEDE')">
            <div ng-switch on="step">
                <div class="animate-switch" ng-switch-when="1">
                    <div ng-include="'views/partials/portfolio/cede-capture.html'"></div>
                </div>
                <div class="animate-switch" ng-switch-when="2">
                    <div ng-include="'views/partials/portfolio/cede-confirm.html'"></div>
                </div>
                <div class="animate-switch" ng-switch-when="3">
                    <div ng-include="'views/partials/portfolio/cede-result.html'"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="animate-switch" ng-switch-when="PRLV">
        <div ng-switch on="selection">
            <div class="animate-switch" ng-switch-when="1">
                <div ng-include="'views/partials/portfolio/prlv-capture.html'"></div>
            </div>
            <div class="animate-switch" ng-switch-when="2">
                <div ng-include="'views/partials/portfolio/prlv-confirm.html'"></div>
            </div>
            <div class="animate-switch" ng-switch-when="3">
                <div ng-include="'views/partials/portfolio/prlv-result.html'"></div>
            </div>
        </div>
    </div>
</div>