<div class="registration">
    <div class="outter">
        <div ng-include="'views/partials/layout/login-header.html'"/>
        <main>
            <div class="wrapper">
                <div class="row">
                    <div class="steps">
                        <h3>Registro de Usuario</h3>
                        <progress max="100" value="0"></progress>
                        <ul>
                            <li ng-class="selection=='one' ? 'active' : ''"><a href="javascript:void(0);" ng-click="selection='one'">Confirmaci&oacute;n</a></li>
                            <li ng-class="selection=='two' ? 'active' : ''"><a href="javascript:void(0);" ng-click="selection='two'">Registro</a></li>
                            <li ng-class="selection=='three' ? 'active' : ''"><a href="javascript:void(0);" ng-click="selection='three'">Nivel de Seguridad</a></li>
                            <li ng-class="selection=='four' ? 'active' : ''"><a href="javascript:void(0);" ng-click="selection='four'">Notificaciones</a></li>
                            <li ng-class="selection=='five' ? 'active' : ''"><a href="javascript:void(0);" ng-click="selection='five'">Token</a></li>
                            <li ng-class="selection=='six' ? 'active' : ''"><a href="javascript:void(0);" ng-click="selection='six'">Finalizado</a></li>
                        </ul>
                    </div>
                    
                    <div ng-switch on="selection">
                        <div class="animate-switch" ng-switch-when="one">
                            <div ng-include="'views/partials/register/first-step.html'"/>
                        </div>
                        <div class="animate-switch" ng-switch-when="two">
                            <div ng-include="'views/partials/register/second-step.html'"/>
                        </div>
                        <div class="animate-switch" ng-switch-when="three">
                            <div ng-include="'views/partials/register/security-level.html'"/>
                        </div>
                        <div class="animate-switch" ng-switch-when="four">
                            <div ng-include="'views/partials/register/fourth-step.html'"/>
                        </div>
                        <div class="animate-switch" ng-switch-when="five">
                            <div ng-include="'views/partials/register/fifth-step.html'"/>
                        </div>
                        <div class="animate-switch" ng-switch-when="six">
                            <div ng-include="'views/partials/register/terminate.html'"/>
                        </div>
                        <div class="animate-switch" ng-switch-default>
                            <div ng-include="'views/partials/register/first-step.html'"/>
                        </div>
                    </div>
                    
                </div>
            </div>
        </main>
    </div>
    <div ng-include="'views/partials/layout/main-footer.html'"></div>
</div>
