<div class="registration">
    <div class="outter">
        <div ng-include="'views/partials/layout/login-header.html'"/>
        <main>
            <div class="wrapper">
                <div class="row">
                    <div class="steps">
                        <h3>Registro de Usuario</h3>
                        <progress max="100" value="0"></progress>
                        <ul>
                            <li class="active">Confirmación</li>
                            <li>Registro</li>
                            <li>Nivel de Seguridad</li>
                            <li>Notificaciones</li>
                            <li>Token</li>
                            <li>Finalizado</li>
                        </ul>
                    </div>
                    <div ng-switch on="selection">
                        <div ng-switch-when="step1">
                          <div ng-include="'views/partials/register/step1.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div ng-include="'views/partials/layout/main-footer.html'"></div>
</div>
