<div ng-include="'views/partials/main-header.html'"></div>

<div class="account-header">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h4>{{ account.balance.current | currency }}</h4>
        <p>Total disponible</p>
      </div>
      <div class="col-md-6">
        <img ng-src="/images/cuenta_{{account.account_type | lowercase}}.png" class="transaction-account">
        <h4 class="account-name">{{account.name}} <span class="last-digits">{{account.last_digits}}</span></h4>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-info btn-alert pull-right">
          <span class="glyphicon glyphicon-phone"></span>
          alertas
        </button>
      </div>
    </div>
  </div>
</div>

<div class="account-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-lg-8">
        <div class="row">
          <div class="col-md-6">
            <div class=left-inner-addon>
              <i class="glyphicon glyphicon-search"></i>
              <input class="form-control input-sm" type="search" placeholder="Buscar en movimientos"/>
            </div>
          </div>

          <div class="col-md-6">
            <div class="account-menu-buttons pull-right">
              <h5>Ordenar por:</h5>
              <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default">Fecha</button>
                <button type="button" class="btn btn-default">Monto</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5 col-lg-4">
        <div class="account-menu-buttons pull-right">
          <h5>Pagar:</h5>
          <div class="btn-group btn-group-sm">
            <button ng-click="showServices()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-briefcase"></span> Servicios</button>
            <button ng-click="showCards()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-credit-card"></span> Tarjetas</button>
          </div>

          <button ng-click="showTransfers()" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-transfer"></span> Traspasos</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="transactions">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-lg-8 pull-left">
        <div ng-repeat="transaction in transactions">
          <div class="row transaction" ng-class="{selected: transaction._transaction_id === currentTransaction._transaction_id}" 
            ng-class-odd="'transaction-odd'" ng-click="showTransactionDetail(transaction)" id="txn-{{transaction._transaction_id}}">
            <div class="col-md-2">
              <p>{{transaction.created_at | date:'MMM'}}</p>
              <h5>{{transaction.created_at | date:'dd'}}</h5>
            </div>
            <div class="col-md-5">
              <span class="description">{{transaction.description}}</span>
            </div>
            <div class="col-md-3">
              <span class="category">{{transaction.type}}</span>
            </div>
            <div class="col-md-2">
              <span class="pull-right amount">
                {{transaction.amount | currency}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-lg-4 pull-right" ng-switch on="selection">

        <div ng-switch-when="transaction">
          <div ng-include="'views/partials/transaction-detail.html'"></div>
        </div>
        <div ng-switch-when="services">
          <div ng-include="'views/partials/services.html'"></div>
        </div>
        <div ng-switch-when="servicespayment">
          <div ng-include="'views/partials/services-payment.html'"></div>
        </div>
        <div ng-switch-when="servicespaymenttoken">
          <div ng-include="'views/partials/services-token.html'"></div>
        </div>
        <div ng-switch-when="applyservicespayment">
          <div ng-include="'views/partials/service-applied.html'"></div>
        </div>
        <div ng-switch-when="cards">
          <div ng-include="'views/partials/cards.html'"></div>
        </div>
        <div ng-switch-when="cardspayment">
          <div ng-include="'views/partials/cards-payment.html'"></div>
        </div>
        <div ng-switch-when="cardspaymenttoken">
          <div ng-include="'views/partials/cards-token.html'"></div>
        </div>
        <div ng-switch-when="applycardpayment">
          <div ng-include="'views/partials/card-applied.html'"></div>
        </div>
        <div ng-switch-when="transfers">
          <div ng-include="'views/partials/transfers.html'"></div>
        </div>
        <div ng-switch-when="transferspayment">
          <div ng-include="'views/partials/transfers-payment.html'"></div>
        </div>
        <div ng-switch-when="transferspaymenttoken">
          <div ng-include="'views/partials/transfers-token.html'"></div>
        </div>
        <div ng-switch-when="applytransferpayment">
          <div ng-include="'views/partials/transfer-applied.html'"></div>
        </div>
        <div ng-switch-default>
          <div ng-include="'views/partials/account-detail.html'"></div>
        </div>

      </div>
    </div>
  </div>
</div>

<div ng-include="'views/partials/main-footer.html'"></div>
