
<div class="actions">
    <div class="section">
        <h2>Mis Operaciones</h2>
        <div class="product active">
            <p class="name">
                <span>Hacer un pago</span>
                <span class="id"> asd</span>
            </p>
            <div>
                <p class="info"> </p>
                <p class="info">ads </p>
            </div>
        </div>
        <div class="product">
            <p class="name">
                <span>Hacer una transferencia</span>
            </p>
        </div>
    </div>
    <div class="section">
        <h2>Mis beneficiarios</h2>
        <div class="product">
            <p class="name">
                <span>Agregar nuevo beneficiario</span>
            </p>
        </div>
    </div>
</div>
