<div class="actions" sytle="float:right">
    <h2>Mis Operaciones</h2>
    <div class="section">
        <ul>
            <li class="option" ng-class="selection>=1 && selection < 4?'active' : ''" ng-click="selection=1">
                <a>Hacer un pago</a>
            </li>
            <li class="option" ng-class="selection>=4 && selection < 7?'active' : ''" ng-click="selection=4">
                <a>Hacer una transferencia</a>
            </li>
        </ul>
    </div>
    <div class="beneficiarios-widget">
        <h2>Mis Beneficiarios</h2>
        <div class="section">
            <div class="beneficiary">
                <ul>
                    <li class="option" ng-class="selection>=7 && selection < 10?'active' : ''" ng-click="selection=7">Agregar un nuevo beneficiario</li>
                </ul>
            </div>
        </div>
        <div class="help">
            <h2>Ayuda</h2>
            <div class="option">
                <a>¿Necesitas ayuda para elegir el tipo de pago que vas a realizar?</a>
                <a>¿Como hacer un pago? (Ver video)</a>
                <a>¿Como utilizo mi dispositivo movil?</a>
            </div>
        </div>
    </div>
</div>
<div ng-switch on="selection">
    <div class="animate-switch" ng-switch-when="1">
        <div ng-include="'views/partials/mytransfers/payment-capture.html'"></div>
    </div>
    <div class="animate-switch" ng-switch-when="2">
        <div ng-include="'views/partials/mytransfers/payment-confirm.html'"></div>
    </div>
    <div class="animate-switch" ng-switch-when="3">
        <div ng-include="'views/partials/mytransfers/payment-result.html'"></div>
    </div>
    <div class="animate-switch" ng-switch-when="4">
        <div ng-include="'views/partials/mytransfers/transfer-capture.html'"></div>
    </div>
    <div class="animate-switch" ng-switch-when="5">
        <div ng-include="'views/partials/mytransfers/transfer-confirm.html'"></div>
    </div>
    <div class="animate-switch" ng-switch-when="6">
        <div ng-include="'views/partials/mytransfers/transfer-result.html'"></div>
    </div>
    <div class="animate-switch" ng-switch-when="7">
        <div ng-include="'views/partials/mytransfers/beneficiary-capture.html'"></div>
    </div>
    <div class="animate-switch" ng-switch-when="8">
        <div ng-include="'views/partials/mytransfers/beneficiary-confirm.html'"></div>
    </div>
    <div class="animate-switch" ng-switch-when="9">
        <div ng-include="'views/partials/mytransfers/beneficiary-result.html'"></div>
    </div>
</div>