<div class="actions">
    <h2>Mis Operaciones</h2>
    <div class="section">
        <ul>
            <li class="option cursor-pointer" ng-class="section == 'PAY'?'active' : ''" ng-click="changeSection('PAY')">
                <a>Hacer un pago a tarjeta de cr&eacute;dito</a>
            </li>
            <li class="option cursor-pointer" ng-class="section == 'TRA'?'active' : ''" ng-click="changeSection('TRA')">
                <a>Hacer una transferencia</a>
            </li>
            <li class="option cursor-pointer" ng-class="section == 'SRV'?'active' : ''" ng-click="changeSection('SRV')">
                <a>Pagar un servicio</a>
            </li>
        </ul>
    </div>
    <div>
        <div class="help">
            <h2>Ayuda</h2>
            <div class="option">
                <a>¿Necesitas ayuda para elegir el tipo de pago que vas a realizar?</a>
                <a>¿C&oacute;mo hacer un pago? (Ver video)</a>
                <a>¿C&oacute;mo utilizo mi dispositivo movil?</a>
            </div>
        </div>
    </div>
</div>
<div ng-switch on="section">
    <div class="animate-switch" ng-switch-when="PAY">
        <div ng-switch on="selection">
            <div class="animate-switch" ng-switch-when="1">
                <div ng-include="'views/partials/transfers/payment-capture.html'"></div>
            </div>
            <div class="animate-switch" ng-switch-when="2">
                <div ng-include="'views/partials/transfers/payment-confirm.html'"></div>
            </div>
            <div class="animate-switch" ng-switch-when="3">
                <div ng-include="'views/partials/transfers/payment-result.html'"></div>
            </div>
        </div>
    </div>
    <div class="animate-switch" ng-switch-when="TRA">
        <div ng-switch on="selection">
            <div class="animate-switch" ng-switch-when="1">
                <div ng-include="'views/partials/transfers/transfer-capture.html'"></div>
            </div>
            <div class="animate-switch" ng-switch-when="2">
                <div ng-include="'views/partials/transfers/transfer-confirm.html'"></div>
            </div>
            <div class="animate-switch" ng-switch-when="3">
                <div ng-include="'views/partials/transfers/transfer-result.html'"></div>
            </div>
        </div>
    </div>
    <div class="animate-switch" ng-switch-when="SRV">
        <div ng-switch on="selection">
            <div class="animate-switch" ng-switch-when="1">
                <div ng-include="'views/partials/services/services.html'"></div>
            </div>
            <div class="animate-switch" ng-switch-when="2">
                <div ng-include="'views/partials/services/services-payment.html'"></div>
            </div>
            <div class="animate-switch" ng-switch-when="3">
                <div ng-include="'views/partials/services/service-applied.html'"></div>
            </div>
        </div>
    </div>
</div>
